[2017-06-27 10:03] egli commented on #372
@simait what exactly does Coverity do for you? I couldn't find any examples on their website. Does it give you leaks or is it mostly false positives (I get the impression scan-build does give a lot of false positives)

[2017-06-27 10:19] simait commented on #372
@egli Coverity is a static analyzer, sort of like scan-build, but it's a _lot_ more polished. To be honest, I haven't used it myself as the price-tag for commercial usage is a bit steep for us, but I've met a lot of people in the industry that have used it and are very satisfied with it.

While Coverity does produce false-positives (static analysis tools aren't omnipotent after all), I believe tha

[2017-06-27 10:23] simait commented on #372
Snippet from their [FAQ]:

[FAQ]: https://scan.coverity.com/faq#what-types-of-issues-tool-find

[2017-06-29 07:45] bertfrees commented on #318
[This post](https://www.freelists.org/post/liblouis-liblouisxml/What-happened-the-Liblouis-320-release-source-tree-the-louish-file,2) on the ML by @simait is relevant.

[2017-07-03 10:38] simait commented on #323
I think this is a great initiative, especially as I'm a huge fan of conformity (when it comes to code at least!).

First of all, I would like to propose that the policy "always use braces" is adopted, i.e.:
[code]
While this does take more space it protects against accidentally writing code such as:
[code]

In addition, if adopting "always use braces" then there shouldn't be a newline between the

[2017-07-03 10:47] bertfrees commented on #323
I'm afraid the "always use braces" can not be enforced by clang-format. We can of course agree to always use braces, but if it cannot be enforced, (1) it gives us a lot of initial manual work, and (2) violations against this rule will still make it into the code.

Talking about "recursive blaming", Github has also recently improved its UI regarding this.

[2017-07-03 10:56] simait commented on #323
Yes, that is correct. However, we could use clang-tidy with [readability-braces-around-statements].

[readability-braces-around-statements]: https://clang.llvm.org/extra/clang-tidy/checks/readability-braces-around-statements.html

[2017-07-03 11:21] egli commented on #323
I actually kind of like the brevity, so I'm happy with
[code]

[2017-07-03 11:24] bertfrees commented on #323
I don't have a strong opinion about which is better. But it would be nice if the we don't use both styles interchangeably.

[2017-07-03 12:02] reiner-dolp commented on #323
Always using braces would get rid of all *[dangling else](https://en.wikipedia.org/wiki/Dangling_else)* warnings during compilation.

[2017-07-03 12:05] bertfrees commented on #323
Those warnings should already have been taken care of: https://github.com/liblouis/liblouis/issues/322

[2017-07-03 14:37] bertfrees commented on #299
Have fixed this locally. Will make PR later.

[2017-07-03 14:37] bertfrees commented on #287
Have fixed this locally. Will make PR later.

[2017-07-06 09:28] bertfrees commented on #225
I've decided to implement it in Go, which has a [library for getting display names for languages and regions in all languages](https://godoc.org/golang.org/x/text/language/display), and this we we don't create a dependency because Go includes everything in its binaries. This does result large binaries so maybe the functionality should be made optional.

[2017-07-07 14:36] #337 closed

[2017-07-11 16:15] bertfrees opened #379 ".dockerignore needs to be updated whenever .gitignore changes"
The file can be generated with `make .dockerignore`, however this still needs to be done manually which means we forget about it. The file is needed for building a Docker image (locally, not really needed for Docker hub) while having generated files in your working dir. Possible solutions:

- Remove the file from source control and add instructions for generating it in the Docker section of README

[2017-07-12 07:39] egli commented on #379
But it seems to matter for Dockerhub since after I fixed `.dockerignore` the build process at Dockerhub is working again

[2017-07-14 14:48] dkager commented on #34
CC @leonardder

[2017-07-14 14:58] dkager commented on #34
So AFAIK all the differences between these tables are outside of the 2005 braille standard, although the standard suggests rules for letters from foreign languages. The difference appears to stem from agencies, not from different standards.

Probably something to wrap in a few RFCs for the newly established braille authority.

[2017-07-14 15:09] dkager commented on #74
CC @leonardder

[2017-07-14 15:11] dkager commented on #78
CC @leonardder

I REALLY want to fix this but my brains are as yet too small.

[2017-07-14 15:20] dkager commented on #139
Did we ever do this?

[2017-07-14 15:22] dkager commented on #139
In particular, 7fb7958.

[2017-07-14 15:29] dkager commented on #186
Auto-generating the .def-file is not feasible. However, since version 3.2.0 MSVC now uses `__declspec` to only export things that actually should be exported. Closing this issue, but note that MinGW needs a bit more work because it currently exports way too much.

[2017-07-14 15:29] #186 closed

[2017-07-14 15:30] dkager commented on #197
The relevant PR is merged. I think we can close this @egli?

[2017-07-14 17:41] leonardder commented on #74
Ah, so this seems to be related to contracted braille, not to uncontracted. That is why I couldn't reproduce this in nvaccess/nvda#7301

[2017-07-17 07:59] #197 closed

[2017-07-17 10:00] egli commented on #139
I think I did this in #228

[2017-07-17 10:00] #139 closed

[2017-07-17 10:07] egli commented on #186
Maybe I misunderstand but as a data point: the def file is created with a gnulib module and this piece of code in the Makefile:

[code]
It adds an option to gcc that tells it to emit a def file. The mingw version of gcc seems to accept this option.

[2017-07-24 07:26] dkager commented on #186
This is true, but GCC finds too many exports (anything that isn't static I think) and hence the .def-file also contains too much.

[2017-08-10 11:15] bertfrees opened #381 "Improvements to lou_maketable tools"
- [ ] Add commands to populate the SQLite dictionary
- [ ] Complaint if some configuration settings are not specified
- [ ] Make `clean` command work without `--config` option
  - By saving paths in make-patterns.mk
- [ ] More documentation
- [ ] Add new C functions to API
- [ ] Move ctypes stuff from utils.py to Python bindings
- [ ] Verify that correct version of Python bindings are loaded
- [ ]

[2017-08-14 14:02] #299 closed

[2017-08-15 10:39] bertfrees commented on #105
If we are not removing the upper limit we should definitely make a compilation error if the number of used classes exceeds the limit.

[2017-08-15 10:52] josteinaj commented on #105
What happens if I define a class multiple times?
[code]
Will the second line replace the first, add to the first, or throw an error?

[2017-08-15 10:54] bertfrees commented on #105
No idea.

[2017-08-15 11:32] egli commented on #105
@josteinaj the character classes are kept in a linked list. Before adding a new class the table compiler checks whether there is already one with the same name. If there is it bails out with an error (see https://github.com/liblouis/liblouis/blob/master/liblouis/compileTranslationTable.c#L4664).

[2017-08-15 12:08] josteinaj commented on #105
@egli ok, I see.

[2017-08-18 10:43] bertfrees commented on #22
Is this issue still up to date?

[2017-08-18 11:31] egli commented on #22
Ah, no. @mhameed never got back to me. He seems to be MIA.

Also it appears that I quietly changed the license of all the test files to [GNU All-Permissive License](http://www.gnu.org/licenses/license-list.html#GNUAllPermissive). For the test files that is ok since they contain such little code. For `brl_checks.c` it might be a little bit more problematic, but maybe (and I must have looked at that

[2017-08-18 11:31] #22 closed

[2017-08-22 09:21] bertfrees opened #383 "Set up Coverity with Travis"
See https://github.com/liblouis/liblouis/issues/372#issuecomment-311302152

[2017-08-24 19:29] rimas-kudelis opened #384 "Inconsistent precedence of character definition opcodes when capsletter is in use"
I have a table like this:

[code]

With this table, as long as the `capsletter` opcode is not in use, the precedence of conflicting definitions of the same character appears to be top-to-bottom, that is, the topmost definition wins:

[code]

However, if I uncomment the two `capsletter` lines, a funny thing starts happening: for uppercase letters, this precedence rule gets reversed and the bottommo

[2017-08-24 21:59] bertfrees commented on #384
Not sure what exactly is happening here. That needs some investigation.

Whether or not it is a "bug" is hard to say because the documentation doesn't mention this specific case, and the behavior has probably always been like this, so it's hard to find out whether it is intentional.

If it turns out the current behavior has no clear purpose and is really too confusing, we can change it (and docume

[2017-08-25 05:02] rimas-kudelis commented on #384
The real life example is including a generalized template file, and overriding some of its definitions from within the including template.
In my particular case, I want to create fallbackAccentedLatinLetterDef6Dots.uti and fallbackAccentedLatinLetterDef8Dots.uti files which will map all accented Latin letters and ligatures to their non-accented equivalents, like this:

[code]

There is a huge numb

[2017-08-25 09:55] bertfrees commented on #384
Thanks. OK I guess this is a valid use case indeed. In general I think including another table and overriding parts of it is not a good idea, but if it is done in a controlled way, like in your example where the included table has a very specific function, it is OK.

So the next step is to find out what exactly happens in the code and document it. Don't hesitate if you want to help with this.

Als

[2017-08-28 12:17] bertfrees commented on #105
It turns out that if we were to do the compilation error, probably a lot of tables would not compile anymore because there are in theory only 4 bits left, while in practice these tables still work because all the "UEB" bits are not actually taken.

[2017-08-28 12:36] leonardder opened #388 "Undefined quote characters in German 8 dot computer braille table"
The following characters, which are quite common in the wild, are undifined in the German 8 dot computer braille table (de-de-comp8.ctb):

* ”: 0x201d
* ’: 0x219

[2017-08-28 13:58] egli commented on #388
@leonardder Thanks for your report. This looks like it could be fairly easy to fix. Would you like to provide a patch? Thanks

[2017-08-28 14:10] leonardder commented on #388
Sure, if we agree about what patterns to use here. cc @dkager

- Since ⢅ is used for “, i propose ⡨ (467) for ”
- Also ⡦ is used for ‘, so i propose ⢴ (3568) for ’

[2017-08-28 14:21] egli commented on #388
Aha I see. Isn't there a standard for this? CCing my local expert @mixa72

[2017-08-28 14:24] leonardder commented on #388
Note that there are some other strange issues with this table. for example a tab character 	 shows up as ⣊

[2017-08-28 14:29] leonardder commented on #388
@bdorer: do you also have thoughts? Is this table still used in Germany? I know it is at least used in the Netherlands and Belgian. It also seems some manufacturers refer to this table as being the european computer braille standard.

[2017-08-28 14:33] egli commented on #388
According to [this EuroBraille standard](http://www.braille.ch/eb-erl-g.htm) (don't know how authoritative it is)
- ' translates as point 7
- and " translates as point 5

[2017-08-28 14:53] egli commented on #388
Sorry, now I see that you aren't even talking about  U+0022 and U+0027. Disregard my previous comment

[2017-08-28 17:40] bertfrees commented on #105
I've made an overview of the different variables where the `TranslationTableCharacterAttribute` bits are stored.

1. in `TranslationTableCharacter.attributes` in `TranslationTable.characters ` (as `TranslationTableCharacterAttribute`)
   - via character definition rules
   - via `class` rules
   - via `seqdelimiter` rules
   - via `seqbeforechars` rules
   - via `seqafterchars` rules
   - via `att

[2017-08-28 18:00] bertfrees commented on #105
I suggest we try to merge the`attribute` and `class` rules because they are too similar and together with the 8 "UserDefined" bits the total number of allowed custom classes/attributes would increase to 12. By the way the UEB table uses only 2 of the 8 bits at the moment.

As a second step I would split up the `TranslationTableCharacter.attributes` variable in two (`attributes` and `customAttribut

[2017-08-29 12:53] simait opened #391 "Broken Euro (€) symbol"
I've seen a number of tables that treat 0x0080 as the euro-symbol. The problem is that the Unicode code-point for euro (€) is 0x20ac, for some reason all the tables with tests seem to use 0x20ac...

We should probably change euro-symbol to 0x20ac across the board (and probably see if there are any other similar errors lurking!).

I'm a bit reluctant to just run:
[code]
Since the opcodes are often

[2017-08-29 13:54] rimas-kudelis commented on #391
I don't think you can be sure that all files which mention \x0080 actually mean the Euro sign by it or that they don't have the correct definition of the Euro sign in them.

For example, in lt.ctb, this definition is commented out, because it does exist in the standard (and I suspect is incorrectly used for Euro by JAWS), but it does NOT mean Euro.

I'm surprised so many tables define 0080. Some o

[2017-08-29 14:03] simait commented on #391
Yes, you are correct!

However, while some tables do have x0080 commented out, most (27/32) actually don't. And they seem to reference 'euro sign' or € in some way... So either way, they expect x0080 to mean _something_ **probably** related to euro, not sure what though...

I wouldn't be surprised if there are a number of non-unicode applications that are (_ab_)using these tables which we might br

[2017-08-29 14:18] rimas-kudelis commented on #391
Many of these occurences might also be a huge copy-paste relic.

For example, 9 tables define this character as 15-136-1235-135, which commonly translates to "euro". However, among those 9 tables the Latvian one (`Lv-Lv-g1.utb`), in which that same dot combination means "eķro" (Latvians denote U differently than the rest of Europe). This makes it seem like perhaps the Latvian table started as a co

[2017-08-30 07:24] simait commented on #391
Probably, which is also a good argument for not simply sed-ing it... However, it might be hard to get in touch with the original author or maintainer to get a confirmation regarding that.

I suppose we could simply wait until a bug-report is filed to look into it (i.e., a bug report specific to a table).

[2017-08-30 10:43] bertfrees opened #392 ""No test, no table" policy"
I think we are ready for a strict "no test, no table" policy. We've had a transition period were we tried to make contributors aware of the importance of tests, but didn't strictly require it. I think we're come at a point now where we can afford to be picky.

A strict policy will make our lives easier I think. There's a difference between "asking" and "informing people of the rules".

Now that ne

[2017-08-31 10:30] rimas-kudelis commented on #384
@bertfrees I don't really speak or write Latvian, but I guess I could prepare a few simplistic tests, like O did for Lithuanian.

[2017-08-31 10:37] bertfrees commented on #384
Oh, didn't realize that. Anyway, a few simplistic tests would already be great. Thanks!

[2017-08-31 13:07] kirotawa opened #394 "illegal address access in the function _lou_getALine()"
Hi there,

Is this issue already fixed in the current upstream version? If so, anyone can point me the fix commit?

Seems a CVE was assigned to this issue too CVE-2017-13744.
And here a link to bugreport with POC to test it: https://bugzilla.redhat.com/show_bug.cgi?id=1484338

[2017-08-31 13:20] egli commented on #394
I believe that is fixed in #393. We'll cut a release (https://github.com/liblouis/liblouis/milestone/13) next Monday.

[2017-08-31 13:20] #394 closed

[2017-08-31 14:06] egli opened #395 "Mention lou_tableinfo in documentation"
ATM `lou_tableinfo` is of limited usefulness: It supports querying a meta data value for a given key. It doesn't support querying for all keys in a table. As soon as this is implemented we should have some documentation.

[2017-08-31 14:07] egli opened #396 "Implement querying for all meta data keys in lou_tableinfo"
At the moment only querying for a given key is supported.

Needed for #395

[2017-08-31 15:12] egli commented on #105
What is the argument for doing the merge first and then the split? In the context of this issue I'm mostly interested in the split, as I have the impression that would at least partially solve this issue (at least to the extent that the German tables would work again :-))

That's why I'm reluctant to combine this with a merge of rules

[2017-08-31 15:57] bertfrees commented on #105
We can also do the split first and later the merge.

[2017-08-31 16:00] bertfrees commented on #105
But let's move it to the next milestone because it's a bigger change that first planned (the compilation error).

[2017-09-01 07:44] egli opened #397 "Buffer overflow in _lou_showString() (CVE-2017-13743)"
- https://nvd.nist.gov/vuln/detail/CVE-2017-13743
- https://people.canonical.com/~ubuntu-security/cve/2017/CVE-2017-13743.html

[2017-09-01 16:16] egli commented on #26
Ali (Aliminator83@gmail.com) agreed to change the license

I saw your message much later.
Yes, of course I agree to re-license.
Thanks.

[2017-09-02 20:46] rimas-kudelis opened #400 "During back-translation, numeric mode is not canceled by letter not in numericnocontchars, and capsword mode is not canceled by digit"
During back-translation, if a character outside `numericnocontchars` follows a digit, it should cancel numeric mode, but does not. Instead, the numeric mode remains active until is canceled by a whitespace or reactivated by `numsign` and number, and then canceled by `nocontractsign`. Examples:

[code]
The above works as expected: `c` is in `numericnocontchars` and requires `nocontractsign` to canc

[2017-09-03 15:18] bdorer commented on #388
this list is widely used in German. Another sign which isn't in the
table is € (745) is the right pattern for this.

Am 28.08.2017 um 16:29 schrieb Leonard de Ruijter:

[2017-09-04 06:13] leonardder commented on #388
[**@bdorer**](https://github.com/bdorer) commented on [3 sep. 2017 17:18 CEST](https://github.com/liblouis/liblouis/issues/388#issuecomment-326811135 "2017-09-03T15:18:51Z - Replied by Github Reply Comments"):

Is there an actual source which states that this should be the pattern for the euro sign?

[2017-09-04 06:50] rimas-kudelis opened #401 "If same dots are defined as endcapsword and nocontractsign, they don't work as nocontractsign"
If I define same combination of dots as both `endcapsword` and [`nocontractsign` or `letsign`], they don't work as the latter during back-translation.

They work fine as `endcapsword`:
[code]
But not as `nocontractsign` (or `letsign`):
[code]

The table I'm working on is still incomplete, but here's the relevant excerpt from it:
[code]

Edit: apparently, there's exactly same issue if `nocontractsi

[2017-09-04 08:29] egli commented on #388
@leonardder afaik the only document which has some semblance of authority that I'm aware of is [the page on EuroBraille](http://www.braille.ch/eb-erl-g.htm) at [braille.ch](http://www.braille.ch)

[2017-09-04 08:49] #397 closed

[2017-09-04 13:15] bertfrees commented on #400
Thanks for the report. I agree that it should behave like you expect.

[2017-09-04 17:46] bertfrees commented on #400
I have transformed these into a YAML test. See 177f50d6.

[2017-09-04 17:51] bertfrees commented on #401
Thanks. Could I ask you to create a YAML test from this, similar to what I did for https://github.com/liblouis/liblouis/issues/400?

[2017-09-04 18:04] rimas-kudelis commented on #400
rimas.yml? Seriously? :D

[2017-09-04 18:31] bertfrees commented on #400
I forgot to rename it. But it's not important, I will rebase the commit later anyway.

[2017-09-05 05:53] rimas-kudelis commented on #401
@bertfrees if I create a test, how can I run it without running all other tests?

[2017-09-05 07:31] egli commented on #401
@rimas-kudelis The documentation has a [section about lou_checkyaml](http://liblouis.org/documentation/liblouis.html#lou_005fcheckyaml). Since your question is almost a FAQ it also mentions how to run just one test :-)

[code]

[2017-09-05 14:28] mwhapples opened #402 "Update documentation to correctly reference BrlTTY documentation"
In section1 of the documentation, just before the start of section 1.1, it says:
This documentation is derived from Chapter 7 of the BRLTTY manual, but it has been extensively rewritten to cover new features.

This reference is wrong or incomplete. The current section of the BrlTTY reference manual discussing Braille tables is chapter 6. However I suspect that the LibLouis documentation does not d

[2017-09-05 15:25] egli commented on #402
It's quite hard to do code archaeology if you don't know the history. Looking at the history of the manual it looks like the quoted section has been in there since at least 2008-12-20. The BRLTTY version that was current at the time was [3.10](https://github.com/brltty/brltty/releases/tag/BRLTTY-3.10) but of course it's hard to know which version John was referring to.

Section 7 of the 3.10 versi

[2017-09-05 17:38] bertfrees commented on #401
Easier is to just use the `tools/lou_checkyaml` program directly on your test. Christian's method requires that the test is listed in tests/Makefile.am.

When you run `tools/lou_checkyaml` directly, you have to know that tables are resolved relative to the yaml file, or relative to a path in `LOUIS_TABLEPATH`. (When you run via `make` the root directory is automatically added to `LOUIS_TABLEPATH`)

[2017-09-05 19:14] rimas-kudelis commented on #401
Thank you both for the tips. The test is there ↑.

It fails in an unexpected way though. Not sure if I've messed something up, or if there's been a new bug introduced in liblouis, but it seems that now `numsign` is ignored during back-translation, so instead of failing right after the number, the test fails at the number.

[2017-09-06 11:32] egli opened #404 "Add documentation for lou_maketable"
See #382

[2017-09-10 13:38] sukiletxe opened #406 "Braille with NVDA unable to type lowercase ó in Spanish"
As reported in nvaccess/nvda#4647, in Spanish computer braille it's impossible to type a lowercase o acute. A 0 is typed when typing dots 3-4-6-7-8 or 3-4-6.

[2017-09-11 09:05] bertfrees commented on #404
What would be good is to include some short explanation at the top of the working file itself.

[2017-09-11 09:36] bertfrees commented on #323
We did some more changes here: https://github.com/liblouis/liblouis/commit/8a0b4981485464c426e9ce504541e8ef3f53dacd.

Christian liked this better and I didn't have a strong preference.

Because `true` only makes sense in combination `AfterControlStatement: true`.

I don't remember exactly why I did not use this option before. `UseTab: Always` can not be used because aligning is done on multiline "

[2017-09-11 09:39] dkager commented on #323
Possibly related to https://github.com/liblouis/liblouis/issues/323#issuecomment-296929175.

[2017-09-11 09:45] bertfrees commented on #323
Right. The fact that the indentation does not happen with tabs kind of defeats the purpose of indenting. Because we can't make clang-format do not perform alignment inside "if" statements, there will always be mixed tabs and spaces if we allow tabs, maybe that is why I decided to set `UseTab: Never` at first.

[2017-09-12 03:50] khsbory opened #407 "[Suggestion] Adding Chinese characters braille in Korean table."
Hello, I'm Hyongsop Kim in Korea and screen reader user.
Also I use NVDA with braille display.
Liblouis Korean braille table is very excellent I think.
By the way, I have a suggestion that adding Chinese characters in Korean braille.
Korean language is mixed with Chinese characters and our own language.
Of course, the pronunciation of Chinese character is different, in other words, we have our own

[2017-09-13 19:23] rimas-kudelis commented on #384
@bertfrees as you can see, I've made a couple pull requests with failing tests related to this issue. Hope this can progress.

[2017-09-13 19:56] rimas-kudelis commented on #384
Another observation: the dots reported by `lou_trace` are different than the ones present in the output:
[code]

[2017-09-13 22:04] bertfrees commented on #384
Brilliant, thank you!

[2017-09-14 08:58] bertfrees commented on #369
Shall I close this one then?

[2017-09-14 09:08] bertfrees commented on #367
We shoud have a test for this.

[2017-09-14 09:31] egli commented on #369
yes

[2017-09-14 09:37] #369 closed

[2017-09-16 06:21] tibabit opened #412 "Word wrapping not working with en-us-g1.ctb"
Hi,

I am getting incorrect translation for some cases see below-

**INPUT** : SARVESH KUMAR UPADHYAY

When outlen is set to 20 it should output
6-6-234-1-1235-1236-15-234-125-0-6-6-13-136-134-1-1235-0-6-6

while it should output
6-6-234-1-1235-1236-15-234-125-0-6-6-13-136-134-1-1235-0-0-0

can anyone explain what is happening here?

[2017-09-16 12:04] bertfrees commented on #412
Hi. It looks like the 6-6 (which I assume is the allcaps sign) is not kept together with the following word.

But Liblouis itself does not do word wrapping so I can't really say anything about this issue without more info. Could you please elaborate a bit more? In which context are you using Liblouis?

[2017-09-18 10:27] bertfrees opened #413 "Generative testing, separation of braille code tests, and liblouis-spec and braille-specs projects"
The Liblouis project currently contains various types of tests, some of which are not necessarily specific to Liblouis. One part are tests for specific braille-codes, like e.g. `nl-NL-g0_harness.yaml`. These could in theory apply to any braille translation tool. Another part are tests for the table format itself, like e.g. `capsnocont.yaml`. These could apply to any tool that implements the Liblou

[2017-09-18 13:38] egli commented on #413
The _Generative testing_ threw me off. To clarify the terminology: What we currently do with the yaml tests is _example based testing_. The idea of generative testing or property based testing is that we provide some properties of the functions that we are trying to test and then the test framework generates the test data, exercises those functions and checks if the properties hold.

[This article

[2017-09-18 14:09] bertfrees commented on #413
OK maybe we should create a separate issue for what you are proposing here because we are talking about different things.

I'm just talking about a way to easily create a bigger regression test suite based on the current behavior. I'm not really trying to find bugs initially. For now, due to a lack of a formal spec, what we do in practice is we always make sure we don't break the current behavior.

[2017-09-18 14:19] bertfrees commented on #413
What I'm also trying to say is:

The regression test suite of the table format is currently limited to a hand full of small tests, we're actually using the braille-code tests for both testing how well the tables implement the braille codes, and for detecting regressions when working on the code. I just want to make this explicit by separating it completely.

[2017-09-22 11:28] egli commented on #383
Fixed with b94f3e28fdce3cbf837a4ae652f7b3fbfd11bac3

[2017-09-22 11:28] #383 closed

[2017-09-22 11:29] egli commented on #372
Intergration with Coverity is done now (b94f3e28fdce3cbf837a4ae652f7b3fbfd11bac3)

[2017-09-22 12:59] bertfrees commented on #383
I'm getting bounced emails from Coverity to the mailing list. Did you set that up? Do we really want the emails to go to the list?

[2017-09-22 13:54] egli commented on #383
see [.travis.yml](https://github.com/liblouis/liblouis/blob/master/.travis.yml#L72). Where should they go instead? Coverity is only called if the code is merged to the `coverity_scan` branch.

[2017-09-22 14:00] bertfrees commented on #383
I'm getting the emails in my own mailbox too.

[2017-09-25 14:14] egli opened #415 "Clarify documentation of character definition opcodes"
Michael Whapples asks:

If in a table there are two character definition opcodes for one character, which one will be applied?
The reason I want to do this is that in the table I am working on we probably can reuse another table in the main, but a few characters may need redefining. Would I need to define these differences first before including the existing table or do I do the include first.

Da

[2017-09-30 16:54] bertfrees commented on #353
This doesn't seem to happen anymore.

[2017-10-03 08:46] bertfrees commented on #323
Although `UseTab: Always` can mess up the aligning when the tab width is changed. However I tried it and it turns out it results in very few spaces, so I think we can say that the benefits outweigh the drawbacks.

[2017-10-03 08:47] bertfrees commented on #323
PR: https://github.com/liblouis/liblouis/pull/419

[2017-10-03 12:22] #323 closed

[2017-10-06 19:00] bertfrees commented on #401
Test merged in 2e36cdb9e0751bf10b139dd0fccbf2adceff0fb6

I didn't see the behavior you described in your last comment. The 2nd and 3rd tests fail because `;` does not work as contractsign, the 4th and 5th tests fail because a character outside numericnocontchars does not cancel numeric mode (issue #400). But numsign works.

[2017-10-06 19:01] bertfrees commented on #400
Test committed in 2e36cdb9e0751bf10b139dd0fccbf2adceff0fb6

[2017-10-06 20:59] bertfrees commented on #176
Releases need to be associated with a tag, and because moving the tag is a bad idea we'll just create a "fake" tag (on a orphan branch) and edit the release text each time.

The alternative would be to create a new tag for each snapshot, but that's overkill.

[2017-10-06 21:04] bertfrees commented on #176
This means that we can't use https://docs.travis-ci.com/user/deployment/releases, so we'll just use the Github API directly.

[2017-10-08 17:18] bertfrees commented on #176
Done for 32-bit but not yet for 64-bit.

[2017-10-08 19:51] bertfrees opened #421 "Add a testmode for testing both forward and backward translation at the same time"

[2017-10-09 19:32] BueVest commented on #400
Confirmed. I have the same issue in the Danish 6 dots tables. Thanks for taking care of it.

[2017-10-10 11:54] bertfrees opened #422 "Create a braille translator through machine learning"
Yesterday I was reading up a bit about machine learning which gave me this interesting idea. It sounds especially useful for back-translation. I'm pretty confident the problem of braille (back-)translation is a good use case for existing machine learning technologies. How well such a translator will perform will probably come down to the quality of the training data we manage to collect.

For a go

[2017-10-11 22:13] bertfrees opened #423 "Table renaming"
Sooner or later we have to clean up the table names because it is a mess. We should have a uniform naming scheme and file extensions that make sense.

On the other hand we should avoid renaming files if not really needed because some applications [depend on file names](https://github.com/liblouis/liblouis/issues/182#issuecomment-260602131). Therefore I propose to plan in this issue which renames w

[2017-10-12 07:50] rimas-kudelis commented on #423
I would suggest to consistently use lowercase for language tag and uppercase for country tag (when one exists).

[2017-10-12 08:53] egli commented on #423
Good effort, thanks @bertfrees. The meta data tables should be merged with the "real tables". And the above overview table should probably go into a wiki page

[2017-10-12 11:05] bertfrees commented on #423
I think I'd like to try a naming scheme close to the RFC 5646 standard. I'm thinking about putting the braille specific tags like "g0" etc. under the so-called "extension subtags" or "private-use subtags". For example:

`de-CH-x-g0.tbl`

The `-x-` denotes the beginning of the braille subtags.  For custom extensions you are supposed to use "x", but since the only officially registered extensions ar

[2017-10-13 10:07] egli commented on #422
Looks very interesting: https://www.tensorflow.org/tutorials/seq2seq. Do we have training data? I guess we do. All the produced books.

[2017-10-13 10:14] bertfrees commented on #422
The difficulty with produced books is of course that most of the time the original copy and/or the braille book do not exist in digital form.

Another possibility is to run some corpus through another braille translator (read Duxbury) but then you can be only as good as that other translator.

For the specific purpose of back-translation you can of course also use Liblouis itself to perform the fo

[2017-10-14 15:10] tibabit commented on #412
So is there way to fix this or is there a way to do translation with word wrapping?

[2017-10-14 15:38] bertfrees commented on #412
If you can't explain to me exactly what you are doing I can't help you.

[2017-10-16 12:12] kirotawa opened #425 "stack-based buffer overflow findTable() (CVE-2014-8184)"
Hello,

Do you have any commit for this issue?

References:
https://bugzilla.redhat.com/show_bug.cgi?id=1492701
https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2014-8184

Thanks in advance!

[2017-10-16 12:39] egli commented on #425
No we do not have any commits regarding this issue. We know of a number of issues thanks to the [Coverity scan](https://scan.coverity.com/projects/liblouis-liblouis?tab=overview), also there is a resource leak in `lou_findTable`. But I would know of a buffer overrun in `lou_findTable`.

[2017-10-16 16:13] bertfrees opened #426 "Typo in emphasis opcodes documentation"
See http://liblouis.org/documentation/liblouis.html#Phrase:

[code]

It says two times "before".

[2017-10-18 07:05] #426 closed

[2017-10-18 18:00] bertfrees commented on #423
A thing to consider is to support specifying multiple `#+locale` tags in a table so that it matches queries for either locale. This way we could possibly eliminate some "alias" tables.

[2017-10-19 09:24] bertfrees opened #427 "Generate documentation from YAML tests"
This can be documentation on the table format as well as documentation on braille codes.

- Make the YAML files readable by converting them to HTML
- Add comments to describe what certain tests do
- Possibly create "aggregator" files to create some structure: group test files that belong together (e.g. are all about a certain braille code) and arrange them into chapters.

[2017-10-19 09:25] bertfrees opened #428 "Support native comments in YAML"
[![Fund this issue](https://liblouis.github.io/images/Fund_button.svg)](https://issuehunt.io/r/liblouis/liblouis/issues/428)
---

i.e. `# ...` comments.

These comments
- could be copied to the test report
- could be converted when [generating documentation from tests](https://github.com/liblouis/liblouis/issues/427)

It looks like in YAML comments are not associated with a particular node, so we'

[2017-10-19 10:08] #287 closed

[2017-10-19 10:50] bertfrees opened #429 ""version" opcode"
This opcode would specify for which version of Liblouis the table was written.

I'm not saying Liblouis should actually compile a table differently depending on the version (it could though). This is mostly for documentation purpose, to make things more explicit, to make the intentions clear. We can mention in the documentation when a certain opcode was added or removed. Liblouis can also more gra

[2017-10-23 15:01] bertfrees commented on #307
I have given this some thought, I have a good idea now about how to do it.

[2017-10-23 16:33] rimas-kudelis commented on #400
It seems this issue does not manifest itself with NVDA. @BueVest could you confirm?
Also, I'm not sure who you think is taking care of this bug. it doesn't seems like anyone is. Could I coerce you into looking at it somehow? :)

[2017-10-23 18:57] BueVest commented on #400
I haven’t looked at it yet, so I don’t know if it is something I can solve alone, but it is on my list too.

Fra: Rimas Kudelis [mailto:notifications@github.com]
Sendt: 23. oktober 2017 18:33
Til: liblouis/liblouis <liblouis@noreply.github.com>
Cc: BueVest <bue@vester-andersen.dk>; Mention <mention@noreply.github.com>
Emne: Re: [liblouis/liblouis] During back-translation, numeric mode is not cance

[2017-10-25 18:06] sthibaul opened #431 "\x2019 translation for French"
Hello,
LibreOffice and such are producing \x2019 apostrophe, so liblouis needs to translate it. The attached patch fixes the french tables.
[patch.txt](https://github.com/liblouis/liblouis/files/1415678/patch.txt)
Samuel

[2017-10-25 20:14] Andre9642 commented on #431
\x2019 apostrophe is already defined in the unified french 8 dots braille table (fr-bfu-comp8.utb) and is correct: `punctuation \X2019 37`.

Same in the unified french 6 dots braille table (fr-bfu-comp6.utb):

[code]

[2017-10-26 18:07] sthibaul commented on #431
Hello André :)

Indeed, I didn't check the files completely, here is a fixed patch.

[patch.txt](https://github.com/liblouis/liblouis/files/1419546/patch.txt)

Samuel

[2017-10-26 21:20] Andre9642 commented on #431
Hello Samuel!
`fr-2007.ctb` is a table for french computer braille tables (8 dots).
So, \x2019 apostrophe is ⡄ (=`’`) and not ⠄ (=`'`). :)

[2017-10-26 21:24] sthibaul commented on #431
Ok, so this patch then
[patch.txt](https://github.com/liblouis/liblouis/files/1420115/patch.txt)

[2017-11-01 05:38] carnil commented on #425
@egli, @kirotawa: Asked in https://bugzilla.redhat.com/show_bug.cgi?id=1492701#c5 if details can be shared.

[2017-11-01 09:35] egli commented on #431
@sthibaul would you mind turning this into a PR?

[2017-11-01 10:31] #431 closed

[2017-11-01 19:01] munawarb opened #434 "Problems with Smart Beetle display and NVDA when back translating"
I'm having an issue with translation from UEB when I type a colon (dots 2-5) and then a letter. I go into detail on the NVAccess issues page here: nvaccess/nvda#7678

[2017-11-02 07:49] egli commented on #434
HI @munawarb, thanks for your report. Can you just summarize what the problem is, i.e. which liblouis table are you using, what is the input, expected output and actual output. From looking at nvaccess/nvda#7678 it appears that
- table: maybe `en-ueb-g2.ctb`
- input: dots 2-5, dot 5, dots 3-4-5
- output: "con)"
- expected output: "con"

Can you confirm?

[2017-11-02 08:49] egli commented on #434
@mattvenn also can you check if there is already a test for your problem in the [YAM test](https://github.com/liblouis/liblouis/blob/master/tests/yaml/en-ueb-g2_backward.yaml)

[2017-11-02 12:08] munawarb commented on #434
Hi,

I don't know the programmatic name of the table...but in NVDA settings I
have it set to UEB input.

I input as you described: dots 2-5 (colon), dot 5 (indicator), dots
3-4-5 (right parenthesis).

NVDA should output :) but it's outputting con) instead. As in, it's
turning the dots 2-5 into "con".

I've also tried putting the dots 5-6 before the dots 2-5, but still I
get con) and not :). I have

[2017-11-02 12:57] BueVest commented on #423
What about extensions: the utb/uti/ctb/cti scheme is currently used to various extends. Do you propose to use tbl for all tables?

[2017-11-02 12:58] bertfrees commented on #423
Yes. `tbl` for main tables and `tbi` for tables intended for inclusion only.

[2017-11-02 21:02] carnil commented on #425
@egli, @kirotawa: according to https://bugzilla.redhat.com/show_bug.cgi?id=1492701#c7:

[2017-11-02 21:06] carnil commented on #425
@kirotawa: The isolated patch which Red Hat did apply can be found at
https://git.centos.org/blob/rpms!liblouis.git/9f94aa24d3308691c575e2659e42321f4aff1cf3/SOURCES!security-fixes.patch#L690
and is extracted:
[code]

[2017-11-02 21:08] kirotawa commented on #425
:) thanks a million carnil!!!

[2017-11-03 00:17] sthibaul commented on #425
Hello,
This seems a bit bogus to me:

`
char path[MAXSTRING];
strncpy (trialPath, pathList, k);
`

nothing makes sure that k is less than MAXSTRING (k is the length of a string coming from the environment).

[2017-11-03 00:42] sthibaul commented on #425
Also, the strncpy call doesn't actually put a \0...

[2017-11-03 00:50] sthibaul commented on #425
I'll propose the attached patch as fix for Debian on top of this one.

[CVE-2014-8184-fix.txt](https://github.com/liblouis/liblouis/files/1439794/CVE-2014-8184-fix.txt)

[2017-11-03 08:45] egli commented on #425
TBH, I'm a bit confused now. I thought the code that had the CVE doesn't even exist in liblouis master anymore. So why is there a patch needed?

[2017-11-03 08:49] sthibaul commented on #425
I'm not proposing the patch for upstream liblouis, I'm just putting here as a reference for people who are still distributing that old version of liblouis.

[2017-11-03 08:53] egli commented on #425
So in other words we can close this issue?

[2017-11-03 09:01] sthibaul commented on #425
I'd say so, yes

[2017-11-03 12:38] egli commented on #425
OK, thanks :-)

[2017-11-03 12:38] #425 closed

[2017-11-06 11:53] egli commented on #415
Should be fixed by #436

[2017-11-06 11:53] #415 closed

[2017-11-08 18:01] bertfrees opened #438 "Reject PRs that are not formatted according to .clang-format"
This can be done by adding a test in Travis that does the following:

- run `make format-sources`
- check for uncommitted changes: `git diff-index --quiet HEAD`

[2017-11-08 19:49] rimas-kudelis opened #439 "Number indicator should not jump in front of characters from `numericmodechars`"
It seems that the new `numericmodechars` operator had an unintended effect: if one or more characters from that set appears immediately before a number, the number indicator jumps in front of these characters.

For example, if I have
[code]
and I forward translate this:
[code]
, here's what I get as output:
[code]

[2017-11-09 07:01] egli commented on #438
Idea is good, but how do you convey it to the github UI? There is only passed or failed afaik.

Also not to nit pick, but why would you want to check for uncommitted changes in Travis?

[2017-11-09 10:37] bertfrees commented on #438
If after `make format-sources` there are changes it means the formatting wasn't correct before. In that case Travis should fail.

[2017-11-09 21:19] BueVest opened #440 "Translation mode flags to be documented or marked as undocumented"
Some of the flags are more or less documented under section 7.7 (lou_translate), but in 7.6, there is just a reference to the liblouis.h file, which merely lists the flags without any explanation. Some of the mode flags are currently undocumented.

- `noContractions`: Does this have the same effect as using the nocont opcode?
- `Comp8Dots`: Obviously, it is something with 8 dots computer Braille,

[2017-11-09 21:25] BueVest commented on #203
As documented in other issues, the Danish, Polish and other tables have exactly the same issue. I have called for documentation of this and other translation mode flags in issue #440. I will be happy to write the documentation myself if anybody can help me work some of them out. Otherwise, I will just have to mark them as undocumented (smile).

Personally, I think the pass1only flag should only be

[2017-11-10 09:34] egli commented on #440
`noUndefinedDots` and `partialTrans` were both provided by @jcsteh and do have some documentation in both the NEWS file ([here](https://github.com/liblouis/liblouis/blob/master/NEWS#noundefineddots-mode) and [here](https://github.com/liblouis/liblouis/blob/master/NEWS#partialtrans-mode)) and (maybe a bit hidden) in [the section on lou_backTranslateString](http://liblouis.org/documentation/liblouis

[2017-11-10 09:40] bertfrees commented on #440
See [mailing list](https://www.freelists.org/post/liblouis-liblouisxml/Translation-flags-anybody-knows-the-details) where Bue asked the same question. Let's keep discussing it in one place.

[2017-11-10 12:44] egli commented on #438
Aha, sorry yes, that makes sense

[2017-11-13 13:29] egli opened #441 "Documentation is not built in pre-built binaries"
The pre-built binaries for windows do not include the documentation. For quite a few people the pre-built binaries seem to be the first contact to liblouis, so it might be wise to include the documentation.

AFAIK all that is required is to add `apt install texinfo` to the right travis script before building.

[2017-11-13 23:41] bertfrees opened #442 "Add link to nightly build on website"
Under the section "Development versions"

See also https://github.com/liblouis/liblouis/issues/176

[2017-11-14 07:19] egli commented on #442
Ah, yes good catch

[2017-11-14 07:27] #442 closed

[2017-11-14 11:23] karishmma opened #443 "braille character for ड़ should be 12456 while currently it is shown as 1246"
This has been discovered while embossing braille with Index Direct Braille and needs to be fixed

[2017-11-14 11:37] bertfrees commented on #443
Thanks for reporting. This Devanagari script right? Letter U+095C.

We should check this with the table maintainers (Dipendra and Sreeja). Also we should ask them for some official documentation.

[2017-11-14 13:29] bertfrees commented on #423
Here is some more explanation about the `.tbl` tables because it hasn't really been explained anywhere else yet.

The current state is that there are two sets of tables. The existing tables, and the tables with extension `.tbl`. The goal is to end up with only the new set at the end. Both sets should eventually become equivalent, and as soon as the `.tbl` tables are all named according to the new

[2017-11-14 15:01] BueVest commented on #423
So, what you basically want us to do is to make a .tbl table for each .ctb/utb/whatever table and include metadata and a single “include” rule in these tables, like the templates you originally made? We should probably then remove any metadata from the old tables to prevent confusion.

What about the file names of the .tbl tables? Should they correspond to the current tables that they refer to, or

[2017-11-14 15:08] bertfrees commented on #423
No I'm not saying that. The Danish tables for example have metadata in the original tables, and that's fine. We don't need to add a `.tbl` file for each original, just for the sake of it.

The file names don't have to correspond. Like I said above the old tables should be renamed as little as possible (to avoid frustrations of users) and the new tables should be named according to the new naming s

[2017-11-14 19:43] BueVest opened #445 "Issue warning when using pass1Only flag"
Ref. discussion on mailinglist and various issues, this flag should only be used for debugging and generate a compile time warning.

[2017-11-17 09:40] egli commented on #443
@karishmma can you ask Dipendra and/or Sreeja if this change is ok?

[2017-11-17 09:44] karishmma commented on #443
Hi,

Ok I will check with them and get back to you.

From: Christian Egli [mailto:notifications@github.com]
Sent: 17 November 2017 15:11
To: liblouis/liblouis <liblouis@noreply.github.com>
Cc: karishmma <karishmma9@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [liblouis/liblouis] braille character for ड़ should be 12456 while currently it is shown as 1246 (#443)

@karishmma <https:

[2017-11-20 10:42] bertfrees commented on #445
We'll do the warning for release 3.4 and we'll remove the pass1Only mode altogether in release 3.5.

[2017-11-20 12:54] egli opened #455 "Merge sbs-table-dev to master"
Merge the stuff from the [sbs-table-dev](https://github.com/liblouis/liblouis/tree/sbs-table-dev) that is not specific to sbs to master.

[2017-11-20 13:12] egli commented on #388
@leonardder what is the status on this? Are you going to provide a patch? I'd love to have this in the next release. Thanks

[2017-11-20 13:45] #441 closed

[2017-11-20 14:03] bertfrees commented on #406
OK so this is an issue with back-translation. We should find out which table is used and add a test. Then we can maybe ask the table maintainer to have a look.

[2017-11-20 14:32] bertfrees commented on #455
Working on it.

[2017-11-20 17:24] bertfrees commented on #381
Some things have been fixed in https://github.com/liblouis/liblouis/pull/456.

[2017-11-20 19:42] rimas-kudelis commented on #401
Update: apparently, if `numsign` is defined before `endcapsword`, this bug does not manifest!

[2017-11-20 19:46] bertfrees commented on #401
Okay, weird.

We should update the test.

[2017-11-20 20:44] rimas-kudelis commented on #401
Sorry, I meant `nocontractsign` before `endcapsword`. I've updated the test in #458.

[2017-11-21 11:51] rimas-kudelis opened #460 "Add a fallback alias opcode"
I'm in the process of finishing a fallback table which will map all accented Latin letters to their non-accented equivalents. However, I think it would probably become even more practical and useful if instead of defining each such letter as a dot combination (e.g. `noback uplow Àà 1`), I could define it as a "fallback alias", meaning that "this character should be treated as this other character,

[2017-11-21 12:24] #455 closed

[2017-11-21 18:24] bertfrees commented on #439
I don't think this behavior is necessarily wrong. A number could start with a "." for example, and I can image you would want to place the number sign before it.

If we want to change the behavior of `numericmodechars` we'd have to ask Mike whether that would break anything in his table.

[2017-11-21 20:20] rimas-kudelis commented on #439
I suppose this behavior should at least be made configurable, perhaps by adding a sibling opcode ( e.g. `startnumericmodechars`). I know that it's common to write something like `.95` leaving the zero implicit in English-speaking countries, but it's not common at all in my country at least. Having two distinct opcodes would probably make both worlds happy.

Judging from https://github.com/liblouis

[2017-11-21 23:14] bertfrees commented on #188
I'm not so sure we should make the match opcode official. That does not mean it shouldn't be documented of course, but if we do, maybe it should be clearly stated that it is experimental, or only used for UEB, or something along those lines.

I like the idea behind the match opcode, the low-levelness of it etc. However the idea is not very different from the context, pass2, pass3 and pass4 opcodes

[2017-11-21 23:16] bertfrees commented on #188
I think I understand your concern. It does look a bit low-level, but I think that's the big strength of it. The `config` opcode (explained [here](https://cdn.rawgit.com/MikeGray-APH/LibLouisAPH/master/docs/LibLouisAPH-Reference.html)) does improve the readability of the patterns a bit because it allows you to use customizable characters (`%l`, `%u`, `%d`, ...) instead of bit numbers (`%1`, `%2`, `

[2017-11-22 10:34] egli opened #462 "Remove pass1Only flag"
With the upcoming fixes to the outputPos the pass1Only flag has lost it's purpose. It will be deprecated in milestone [3.4](https://github.com/liblouis/liblouis/milestone/14) and removed in milestone [3.5](https://github.com/liblouis/liblouis/milestone/15).

See also #445

[2017-11-22 13:12] egli commented on #440
If I'm not mistaken this was fixed in edb42dd310368e0824d94a15696f92eebf0bda98 and merged in b665afb8e97f929791d30c716b9d02c05c9b92f5

[2017-11-22 13:12] #440 closed

[2017-11-22 20:36] rimas-kudelis commented on #400
Apparently, similar thing happens if `begcapsword` is used and a number starts in the middle of the word: capitals mode is not being canceled. Is that expected? If not, should I file it as a separate bug, or just add a few more tests to this one?

[2017-11-22 21:18] bertfrees commented on #400
Thanks for spotting. Yes, it's similar enough to add to this one I think. I've updated the issue title.

[2017-11-23 11:09] egli commented on #406
I added a test that seems to confirm that back-translation of ó doesn't quite seem to work. Will ask the original maintainers.

[2017-11-23 11:12] egli commented on #406
Or, wait come to think of it, @sukiletxe can you ask the original maintainers (since you seem to know a thing or two about Spanish braille)? The email adresses can be found at the top of the [Es-Es-G0.utb
](https://github.com/liblouis/liblouis/blob/master/tables/Es-Es-G0.utb#L3) file.

[2017-11-23 14:55] jkinslayer opened #464 "Double definition for same math sign in tables/cs-chardefs.cti"
Found a possible double-definition for the same unicode value for math sign
in tables/cs-chardefs.cti

math \x27E8 4-126 MATHEMATICAL LEFT ANGLE BRACKET
math \x27E8 4-345 MATHEMATICAL RIGHT ANGLE BRACKET           <<<<<<<<<<<<
math \x2264 126-2356 LESS-THAN OR EQUAL TO
math \x2264 345-2356 GREATER-THAN OR EQUAL TO                     <<<<<<<<<<<<

I believe this should be correct:

math \x27E9 4-3

[2017-11-23 15:30] egli commented on #464
Yes looks like a bug

[2017-11-23 15:31] #464 closed

[2017-11-23 16:41] jkinslayer commented on #464
Dear Christian,
Thank you. I thought so.
Then may I ask another general question about the format here?
charsdef.cti: Line 38 - 39
space \x001b 1b escape character for html back-translation
space \x00A0 a NO-BREAK SPACE <noBreak> 0020 NON-BREAKING SPACE

would it not be more appropriate to write those lines with a zero between
the unicode value and
the comment appendix? Like:
space \x001b 0 1b esc

[2017-11-23 16:47] bertfrees commented on #464
The "1b" and "a" are [virtual dots](http://liblouis.org/documentation/liblouis.html#virtual-dots).

[2017-11-27 10:30] bertfrees opened #468 "Delete old UEB tables"
UEBC-g1.utb can be replaced with en-ueb-g1.utb and UEBC-g2.ctb can be replaced with en-ueb-g2.ctb.

See also https://github.com/liblouis/liblouis/pull/463#issuecomment-346563388

[2017-11-27 10:39] bertfrees commented on #188
You could just skip this part for now.

[2017-11-27 13:14] bertfrees commented on #404
Some things that should be included
- [ ] How to work with the working file
- [ ] How to create the database: see https://github.com/liblouis/liblouis/pull/382#issuecomment-325946477, but the "chunked_text" column has been removed.

[2017-11-27 16:07] rimas-kudelis commented on #460
BRLTTY already has a similar opcode, which is called 'alias'.

I'm saying "similar" here because I'm not sure how it behaves when contradicting opcodes are specified (e.g. `alias a b` followed or preceded by `lowercase a 1`.

[2017-11-27 16:23] bertfrees commented on #460
http://brltty.com/doc/TextTables.html#the-alias-directive

[2017-11-27 16:28] rimas-kudelis commented on #460
Yep. The documentation doesn't tell what happens in case of conflict though. :)

[2017-11-27 16:29] bertfrees commented on #460
Just putting the link here for my own information.

[2017-11-27 19:45] rimas-kudelis commented on #460
One more thing: BRLTTY only allows to define one character as alias target. I would suggest allowing more. This would allow to alias letters like `þ` to `th` for example, or even implement transliteration.

[2017-11-28 16:12] egli commented on #188
OK, the PR #189 now just contains documentation for the match opcode and leaves out references to other undocumented bits. So at least the bare `match` opcode is now documented. I guess we can close this issue when #189 goes in and open separate issues for the
- documentation of `seqdelimiter`
- merging the `attribute` opcode
- the match opcode being too geared towards the programmer

[2017-11-28 16:14] bertfrees commented on #188
- and possibly merging `match` with multi-pass opcodes

[2017-11-29 02:27] tsengeltech commented on #468
en-ueb-g1.utb sounds incorrect. as far as I can  see, there is only
en-ueb-g1.ctb?

On 11/27/17, Bert Frees <notifications@github.com> wrote:

[2017-11-29 09:32] egli commented on #468
Ah, you're right, @bertfrees probably meant `en-ueb-g1.ctb`

[2017-11-29 10:09] egli opened #472 "Merge the class and the attribute opcode"
[![Fund this issue](https://liblouis.github.io/images/Fund_button.svg)](https://issuehunt.io/r/liblouis/liblouis/issues/472)
---

They seem to be doing very similar things. See also the discussion in #188 and #189

[2017-11-29 10:13] egli opened #473 "Document seqdelimiter, seqbefore, seqafter, etc"
[![Fund this issue](https://liblouis.github.io/images/Fund_button.svg)](https://issuehunt.io/r/liblouis/liblouis/issues/473)
---

These are very UEB specific but are in use today. See also discussion in #188 and #189

[2017-11-29 10:14] bertfrees commented on #473
See also https://github.com/liblouis/liblouis/issues/202

[2017-11-29 10:16] egli opened #474 "The match opcode is geared towards the programmer"
To quote from #188:

[2017-11-29 10:19] #188 closed

[2017-11-29 10:23] bertfrees commented on #474
My response: https://github.com/liblouis/liblouis/issues/188#issuecomment-346192543.

[2017-11-29 11:04] bertfrees opened #475 "Merge the match and multi-pass opcodes"
See https://github.com/liblouis/liblouis/issues/188#issuecomment-346192279:

See also https://github.com/liblouis/liblouis/issues/472

[2017-12-01 00:48] bertfrees opened #476 "Proof of concept implementation of "extended braille""
The concept of extended braille is explained here: http://www.dotlessbraille.org/dbsample.htm. Basically it means that you translate a text to something that is not quite braille yet, but that can without much effort be further converted/printed to braille, and at the same time can be rendered with a special font so that sighted people can read it.

Because Liblouis has virtual dots this could be

[2017-12-02 21:02] sukiletxe commented on #406
We (the maintainers and me) are clueless as to why this happens. We have looked in the tables, but they seem to be fine. Certainly a distinction is made between 0 and ó. We don't know where this fails. Could you elaborate?

[2017-12-03 11:48] Andre9642 commented on #406
Hello,

The problem is caused by `include digits6DotsPlusDot6.uti` and another redefinition for 346.
Indeed, in digits6DotsPlusDot6.uti` there is the next definition:

And, (in Es-Es-G0.utb), this other definition:

But this is the first assignment that is valid.

So, I think the simplest is to move the next definition:

Before the next definition:

[2017-12-03 13:19] sukiletxe commented on #406
Thank you very much, fixed. Will submit a pr (if that's not how this should be done, tell me) later. Is this bottom-up reading specified somewhere? I'm asking because this way of reading the files seems counterintuitive to me.

[2017-12-03 14:39] Andre9642 commented on #406
I advise you to try a PR now. Liblouis 3.4 is planned for tomorrow.
With a bit of luck, your fix could be included And will be included in NVDA 2018.1.
Otherwise it will be for Liblouis 3.5 (March 2018) and NVDA 2018.2...

[2017-12-04 13:26] #445 closed

[2017-12-04 13:29] egli commented on #406
@sukiletxe I merged your patch, thanks. But I still have a question: When trying to confirm this problem I created a test. [Part of that test](https://github.com/liblouis/liblouis/blob/master/tests/yaml/issue-406.yaml#L17) still fails even with your patch. Maybe I misunderstand the problem. My test says that if you backtranslate and you type `⣬` (34678) you should get ó. Is this even correct? I th

[2017-12-04 13:30] #74 closed

[2017-12-04 14:31] sukiletxe commented on #406
ó should be remdered only with 346, 34678 should remder 0.

[2017-12-04 14:48] egli commented on #404
Sorry didn't get around to do this. Dropping this from the 3.4 milestone

[2017-12-04 15:30] #406 closed

[2017-12-04 16:41] rimas-kudelis opened #479 "If `numericnocontchars` is defined, `midnum` has no effect"
What the subject says. The following test does not pass:
[code]

[2017-12-04 16:44] bertfrees commented on #479
I think @dkager also had some problems with numericnocontchars, but I'm not sure what exactly. He's not using it in NL because of "unwanted side-effects". See commit 6379e3b.

[2017-12-04 17:12] rimas-kudelis commented on #479
Could he maybe wage in here?

[2017-12-05 08:47] bertfrees commented on #322
See also https://www.freelists.org/post/liblouis-liblouisxml/liblouis-340-has-been-released,1

[2017-12-06 12:11] bertfrees opened #483 "Fix outputPositions in lou_backTranslateString as well"

[2017-12-07 07:35] leonardder opened #486 "Back translation of numbers does not work properly for Dutch, Finnish 6 dot and French (Canada) tables"
### Steps to reproduce
1. In NVDA, select Dutch (Netherlands) as input table. This translates to nl-NL-g0.utb
    I've also been able to reproduce this with Dutch (Belgium), Finish 6 dot and French (Canada) tables.
2. In a text control, enter "⠼⠁", which is number sign (dots 3456) and a (dot 1)

### Expected result
This ttranslates to 1

### Actual result
This ttranslates to a. It seems that the n

[2017-12-07 07:35] leonardder commented on #486
cc @dkager

[2017-12-07 18:26] leonardder commented on #203
I think that this issue can be close now that pass1only is deprecated.

[2017-12-07 21:52] #203 closed

[2017-12-15 10:44] Adriani90 opened #489 "Create an universal braille table for as many languages as possible out of the existing tables"
### Steps to reproduce:
1. Connect a braille display with NVDA and write following:
Turkish: nasilsin
2. Try to read the words on the Braille Display when Output table is in german

### Expected behavior:
The letter i as well as other language specıfıc signs of many other languages should automatically be properly dısplayed on a braılle dısplay regardless of the language NVDA is set on. i is for e

[2017-12-15 13:03] leonardder commented on #486
I've tried several thingsI've been able to reproduce this in Finnish 6 dot as well as French (Canada) grade 1. Updated the initial description accordingly.

[2017-12-15 13:08] leonardder opened #490 "Liblouis backtranslates to numbers when letters are expected"
For Czech, Latvian, Polish, Portuguese: Serbian and Swedish 6 dot tables, when you backtranslate Latin letter a (dot 1), the result is 1 (3456-1). This also applies to most, if not all, latin letters that become numbers when preceded by a number sign (a / j).

[2017-12-18 16:05] bertfrees opened #493 "Document output value of inlen"
I didn't realize this, but it turns out that when the output buffer is not big enough, Liblouis returns a partial translation that is more or less accurate up until the returned inlen/outlen, and treats it as a successful translation. This sentence in the documentation is misleading:

because 1 is also returned for an incomplete translation. 0 is only returned when there are errors.

[2017-12-18 17:04] bertfrees opened #494 "Returned inlen and outlen don't always match"
`inputPositions[*outlen]` should == `*inlen` but this is not guaranteed to be the case at the moment.

[2017-12-18 17:10] bertfrees commented on #493
I'm not sure we have tests for this feature yet.

[2017-12-18 17:11] bertfrees opened #495 "Check returned inlen in lou_checkyaml"
If the output value is not the same as the input value, either do the translation again with a larger output buffer, or just error out.

[2017-12-18 17:12] bertfrees opened #496 "Better documentation for "spacing" feature (or remove)"
@egli says: The question is what is it good for? What are the use cases, if any? The Python API doesn't even expose the spacing.

[2017-12-18 17:12] bertfrees opened #497 "Remove comp8Dots mode"
It has never been implemented and we don't know what it is supposed to do.

See https://www.freelists.org/post/liblouis-liblouisxml/Draft-documentation-for-liblouisutdml-mode-configuration-setting

[2017-12-18 19:48] school510587 opened #498 "Preserve case when "context" statements work in a braille table"
I find case information is lost when "context" statements work during translation.
To illustrate this issue, I create a table and it contains only two lines.

include en-us-comp8.ctb
noback context $l[]$l <span>@</span>36

The "context" statement intends to insert a 36 dot between two letters. The following string is translated:

AB cd Ef gH

Then, this is returned:

a-B c-d e-f g-H

Obviously, A

[2017-12-19 07:26] egli commented on #496
The documentation says

and also (for backtranslation)

[2017-12-19 08:23] egli commented on #353
@bertfrees Can we close this?

[2017-12-19 08:26] egli commented on #263
@bertfrees can we close this?

[2017-12-19 09:42] bertfrees commented on #353
I guess so.

[2017-12-19 09:44] bertfrees commented on #263
No the flags thing is not sorted out yet.

[2017-12-19 10:13] #353 closed

[2017-12-19 11:23] egli commented on #78
I believe this issue is covered in a [test](https://github.com/liblouis/liblouis/blob/master/tests/compbrlAtCursor.c). After c922ac2a31f26210b1fc5ce84f2084d1f093b05a the test now passes. So I believe this issue is fixed.

[2017-12-19 11:23] #78 closed

[2017-12-19 11:35] bertfrees commented on #78
Nice.

[2017-12-19 14:54] bertfrees opened #499 "Don't search for tables in /usr/local/share/liblouis/tables if LOUIS_TABLEPATH is not empty"
See also https://github.com/liblouis/liblouis/issues/147

[2017-12-20 11:11] egli opened #500 "Deprecate the use of = (equals) as a dots operand in opcodes or fix documentation"
The documentation [states](https://github.com/liblouis/liblouis/blob/master/doc/liblouis.texi#L1051) that

back-translation may not be correct.

This text has been in the documentation since Oct 1 2013 (140a04a94d87e5d8f6a56964af407d997614f57a) when I added this. I probably copied this from a mail from @johnjboyer but I can't find it in the [mailing list archive](https://www.freelists.org/archive/

[2017-12-20 16:56] hammera commented on #500
Hi Chris,

Look some lou_allround output with en-us-g2.ctb table related, I tested few equals style deprecated rules:
"Command: t
Enter the name of a table: en-us-g2.ctb
Command: r
Type something, press enter, and view the results.
A blank line returns to command entry.

wiseacr
Translation:
wiseacr
Back-translation:
wiseacr
Perfect roundtrip!

dledum
Translation:
dledum
Back-translation:
dledum
P

[2017-12-20 16:57] hammera commented on #500
[en_equals_list.txt](https://github.com/liblouis/liblouis/files/1576377/en_equals_list.txt)

[2017-12-21 09:45] egli commented on #500
Maybe we should ask @johnjboyer if he remembers why he said those should be deprecated

[2017-12-21 12:34] tibabit opened #501 "incorrect translation with all caps word"
Hi I am getting incorrect translation results while translating a sentence with all caps word. Please read below the example for more detailed explanation-

## Example 1:

**Input:**
table: en-us-g1.ctb
mode = ucBrl | dotsIO
input: SARVESH KUMAR Upadhyay
input Buffer Length = 22
outputBuffer length(max length) = 20

**Output:**
output: ,,sarvesh ,,kumar
input Buffer Length(consumed) = 14
outputBuf

[2017-12-21 12:43] tibabit commented on #501
moving to similar and old issue

[2017-12-21 12:43] #501 closed

[2017-12-21 12:44] tibabit commented on #412
Hi,
I am re-framing the issue, hope this is clear.

I am getting incorrect translation results while translating a sentence with all caps word. Please read below the example for more detailed explanation-

## Example 1:

**Input:**
table: en-us-g1.ctb
mode = ucBrl | dotsIO
input: SARVESH KUMAR Upadhyay
input Buffer Length = 22
outputBuffer length(max length) = 20

**Output:**
output: ,,sarvesh ,,k

[2017-12-21 17:20] egli opened #502 "Remove compbrl handling from for_updatePositions"
Now that `compbrl` handling has been moved out of `for_updatePositions` into the the main translation loop in `translateString` (#492) we should remove that dead code inside `for_updatePositions`.

[2017-12-27 10:14] dkager commented on #479
I don't quite remember what the problem was and don't have time to look into it until the weekend. It probably had to do with the way the number sign and/or the Dutch cancellation sign were placed in complex number-letter combinations.

[2017-12-27 13:27] dkager commented on #78
@egli You are obviously insanely clever; I stared at that code for a few hours and didn't get it. :)

[2018-01-03 08:24] egli commented on #78
@dkager you think I did this? Nope this was @DaveMielke ingenuity.

[2018-01-03 15:27] rimas-kudelis opened #503 "Ship a display table mapping dots to brl/brf character set"
From the little info I found on the internet, it seems that BRL/BRF files are using pretty much a standardised mapping of dots to 8-bit characters.

Thus I want to suggest to officially ship a separate display table which would allow conversion of text to "quick and dirty" Braille code.

The idea came to me after checking out how [Send to Braille](http://tech.aph.org/lt/) works. To make it work pr

[2018-01-03 19:34] rimas-kudelis commented on #503
This should also play well with the idea expressed in #307, as I don't suppose there are that many different (and at the same time useful) display modes for Braille dots. At the same time, I assume they are mostly independent of the locale in use, and if that assumption is correct, it would make sense to ship one table designated as "ASCII Braille" or "BRF/BRL Braille" or whatever, instead of expe

[2018-01-11 11:29] Adriani90 commented on #489
@Andre9642

[2018-01-16 12:36] tibabit commented on #412
@bertfrees any suggestions?

[2018-01-23 12:12] sthibaul opened #506 "Should ignore U+FEFF"
Hello,

Unicode text files often start with the BOM U+FEFF, which is not actually a character to be output, it is just there as a hint that this is a unicode text file, and to provide endianness order in cases where that matters. It could also appear in the middle of a text file when the file is the result of the catenation of several such text files.
Liblouis should thus just ignore U+FEFF while

[2018-01-23 12:47] bertfrees commented on #506
I'm not completely convinced this is Liblouis' responsibility. Removing the FEFF character from the very beginning of a file could be a good idea, but I'm not so keen on removing it regardless of where it happens, because it also represent a real unicode character namely ZERO WIDTH NO-BREAK SPACE. However, because lou_translate doesn't even read from files (it reads from input streams only) it is

[2018-01-23 16:51] MikeGray-APH commented on #506
U+FEFF is a zero-width no-break space.  It is a valid Unicode character that maybe used by some table for some specified reason.  It probably is best to not hard-code such things.

MRG
mgray@aph.org
Technology Product Research (TPR)
American Printing House for the Blind
www.aph.org<http://www.aph.org>

________________________________
From: Samuel Thibault [notifications@github.com]
Sent: Tuesday,

[2018-01-23 17:11] sthibaul commented on #506
The use of U+FEFF as ZWNBSP is deprecated in unicode since a long time. I have actually never seen it used as such, while I have seen U+2060.

[2018-01-25 01:37] sthibaul commented on #506
I just happened to get a U+FEFF in the middle of some text. I was just typing text in the chat box of a youtube live stream, and copy/pasted other text from the live chat, and copied the result to an editor, and saw a U+FEFF in the middle of my paste.

[2018-01-25 09:14] Andre9642 commented on #506
I am against this idea.
Personally, I use libLouis through NVDA mainly with computer tables.
I systematically disable the `undefined` directive in tables because I appreciate to see the undefined characters in the form of their hexadecimal representation.
I've already seen this character several times in middle of a document. What would happen if `\xFEFF` is ignored?

[2018-01-25 09:35] sthibaul commented on #506
I am not asking to ignore all undefined characters, just ignoring this one, which just *never* shows up visually by renderers (since it's a zero-width character). At best it is used by renderers as word joiner for backward compatibility. Not doing it would just allow a word break where there shouldn't be.

But the use of U+FEFF as a word joiner has been deprecated in unicode since a very long time

[2018-01-25 09:52] sthibaul commented on #506
At any rate, showing anything for U+FEFF makes more harm than good, in the examples of the debian-installer translation files, a blind user would see U+FEFFs, while sighted users wouldn't. Then you get surreal discussions like "-- there's an odd character in there, please remove it -- I don't see it -- It's right there, line 4793 -- I really don't see such character, do you have visions?!", even i

[2018-01-25 11:20] Andre9642 commented on #506
OpenOffice Writer, Microsoft Word, Microsoft WordPad... are some examples that show this character.

Consider the next string: "a`\xFEFF`b". [1](#fn1), I have the next renders:

* with `undefined 0` in table: ⠠⠁⠀⠃⠠;
* without `undefined` directive in table: `⠁⠄⡳⠭⡋⡑⡋⡋⠄⠃` [2](#fn2);
* with `replace \xFEFF` dirrective in table: `⠁⠃`.

The three cases may be useful. For example, if `\xFEFF` character

[2018-01-25 12:23] sthibaul commented on #506
Do they really show something visually in your tests? I'm extremely surprised, both because that's not what I see (I have tested them three), and because Unicode *explicity* says that U+FEFF (and a few others) should take no space and not show anything. I'd rather guess that what you see is just what NVDA or Jaws shows, which is not necessarily what it actually should. It's not because some softwa

[2018-02-01 13:01] egli opened #507 "Capitalization is not ignored when no caps opcodes are defined"
When we define no capitalization related opcodes, such as `capsletter` or `begcapsword`, we would expect the translation to ignore any capitalization. In other words if we define the table below we would expect that all the variations of the word "mit" (e.g. "mit", "Mit", "MIT", "mIt", "miT" and "MiT") would be contracted to "t"
[code]
However at the moment liblouis seems to assume that if capital

[2018-02-12 15:57] bertfrees commented on #507
Actually what Liblouis does makes sense I think. Maybe not in your case, but I think your case is a bit unusual.

If you don't define any capitalization opcodes, Liblouis can't indicate the capitalization correctly if it applies contractions case-insensitively, like you suggest. Let's take this example:

    uplow Ii 247,24
    uplow Mm 1347,134
    uplow Tt 23457,2345
    word mit 134-24-2345

Wi

[2018-02-12 16:35] bertfrees commented on #506
I agree we should not look at other editors. We should just try to do what is right.

It seems the discussion is moving from "should Liblouis ignore byte sequences that do not represent characters?" to "should Liblouis try to automatically be compliant with Unicode?".

I think it's clear that the answer to the latter question is "no". The goal is to be able to declare the translation completely in

[2018-02-12 16:49] bertfrees commented on #503
I don't know who made text_nabcc.dis obsolete and why. I never thought of removing it. NABCC is indeed a much-used mapping for BRF files. But it's not the only mapping used. So shipping one display table names "ASCII braille" would be confusing I think. "ASCII braille" has no single meaning, it is a collective term for of all sorts of mappings.

To the question whether or not to include `text_nabc

[2018-02-12 17:01] sthibaul commented on #506
I don't see why we want to prevent any factoring at all here. To get good language&script coverage, we want to see not-so-technicians contribute to braille tables. But they won't have the knowledge to implement Unicode compliancy. Or we just make all tables include the same table snippet that "does unicode right", which boils down to the same. I'm fine with that approach too.

There are cases in U

[2018-02-12 17:27] bertfrees commented on #489
It is an interesting idea. However I must say that I agree with Joseph, Davy, Leonard, Jamie, etc. in that it does not sound very realistic. I'd like to be proven wrong though. If someone could come up with a script that generates such a universal table from all existing tables in Liblouis, and if someone can have the resulting table tested by a representative group of NVDA users all over the worl

[2018-02-12 17:56] bertfrees commented on #506
Yeah, I didn't mean it's solely the responsibility of the contributors. Just of "the table". The less obvious things such as U+FEFF can be taken care of by the Liblouis maintainers, e.g. by including a common snippet in every table, like you mentioned.

Yes, I understand, that's why I suggested to ignore them within lou_translate, because this is a high-level tool that users call directly, so it m

[2018-02-12 18:04] rimas-kudelis commented on #503
Ah, thanks for finally responding here! :) In the meantime, I myself have accumulated a little bit more information.

First of all, I think `text_nabcc.dis`, as it is now, is somewhat defective. The reason why I say this is that it maps multiple characters to same dot combinations using `display` rules (this is most visible if you look at mappings of uppercase and lowercase letters to dots, which

[2018-02-12 18:15] bertfrees commented on #503
OK, yes please provide that patch. But just modify text_nabcc.dis, don't create a new table.

A table for "braille ASCII" would be welcome too. At least, if it doesn't exist yet. `en-us-brf.dis` may be exactly it. In any case, if you create a new table, put "US" somewhere in the name, or "North American", so that it's clear which "braille ASCII" it is we're talking about.

Thanks!

[2018-02-12 18:18] bertfrees commented on #412
Thanks for the details. I'll look into it. This looks like a bug, because normally Liblouis tries to back up to the beginning of a word if the output buffer is full.

[2018-02-12 18:19] rimas-kudelis commented on #503
I would actually prefer not to include region codes in the names of these tables, or at least not in front of the file name. After all, they're used by hardware, and quite likely in a locale-dependent fashion, at least that would be my guess.

[2018-02-12 18:34] rimas-kudelis commented on #503
Indeed, en-us-brf.dis is the Braille ASCII table. When named like this, it's easy to miss... :)

[2018-02-12 19:26] bertfrees commented on #503
What do you mean exactly with "used in a locale-dependent fashion". It is an American mapping, so why not put it in the name? An alternative would be to use the name "SimBraille".

[2018-02-12 20:39] sthibaul commented on #506
Documentation often doesn't avoid confusion :)

Yes, but the difference is only in the input encoding. The input unicode text remains the same.

[2018-02-12 21:01] bertfrees commented on #506
Another difference is that `\x` escape sequences are converted to characters.

[2018-02-12 21:06] bertfrees commented on #506
Also, try translating a backslash:

[code]

You'll get an error.

[2018-02-12 21:37] rimas-kudelis commented on #503
I suppose since I'm not creating new tables after all, I'll just keep their current names.

Should I sync `text_nabcc.dis` with the respective [BRLTTY table](https://brltty.com/doc/Manual-BRLTTY/English/BRLTTY-14.html)? Apparently, real NABCC [https://en.wikipedia.org/wiki/Computer_Braille_Code](only defined 95 mappings), and even these were using 6 dots only, with 32 multi-cell mappings, so that

[2018-02-12 22:50] bertfrees commented on #503
OK I see, so apparently NABCC is a complete braille code, not just a simple dots-to-character mapping.

The display table we have in Liblouis is just a dots-to-character mapping that is partly based on the NABCC code. But besides the 95 characters from NABCC, the table also contains characters from the Nemeth code, and some mappings have just been made up in order to obtain a table that contains a

[2018-02-13 07:31] rimas-kudelis commented on #503
Alright then, I'll make a PR later today or this week.

[2018-02-13 10:09] BueVest commented on #462
Christian, you can assign me to the task.

[2018-02-13 10:22] BueVest opened #509 "Issue warning if a file is included in table more than once. Issue an error if recursive inclusion"
Currently, Liblouis does not check for repeated or cyclic inclusions. Since the order of opcodes matter, repeated inclusions should be allowed, but should result in a warning. Recursive inclusion should always constitute an error.

[2018-02-14 21:37] BueVest commented on #500
The reason this works most of the time is the fact that most of the time, a given dot pattern will back-translate to its original characters if no rules tell the back-translator otherwise.

It will not work when the "=" rule exists to circumvent another rule that would also affect back-translation, e.g. if a table contains the following rules:

always ooo 135-135
word foobar =

The dot pattern 124

[2018-02-14 22:55] bertfrees commented on #462
Maybe we should wait until 3.6 for this? Expecting people to adapt in 3 months to deprecations is maybe not so realistic. Especially because the previous release turned out to be not so useful.

[2018-02-15 13:29] BueVest commented on #462
I think it would be best if we merged in this release. Firstly, we announced that we would do so, and nobody protested then, and apparently, nobody is protesting now.

As far as i know, NVDA is the only program that has made use of the pass1Only flag. They are currently discussing the possibility of stopping using it now, even though they won't implement Liblouis 3.50 before June, since it would o

[2018-02-15 15:47] BueVest commented on #366
Just what I have been missing sometimes.
Is anybody currently working on this, or should I take a look around?

[2018-02-15 15:52] bertfrees commented on #366
Nobody is currently working on it.

[2018-02-16 08:36] egli commented on #438
While this works as intended we get way too many "false positives". Basically every commit by anyone who doesn't run their code through the formatter gets caught in this test.

So I would argue this test causes us more trouble than it's worth it.

I'm not sure yet what to do about this at the moment
- either drop the travis check and just run the formatter once in a while manually
- at least relax

[2018-02-16 10:23] bertfrees commented on #438
I don't really see the problem to be honest. The check just reminds us that the code was changed and does not conform to the formatting yet. So before merging, we fix the formatting. This basically comes down to your solution (1):

run the formatter once in a while". We only get PRs with code changes once in a while. The key thing is that the formatting should be correct for every commit on master

[2018-02-16 20:41] bertfrees opened #512 "Fix input-output mapping for back translation"
In release 3.4 we fixed input-output mapping for forward translation. The same needs to be done for back translation.

[2018-02-16 21:01] bertfrees commented on #498
Thanks for the report. This must be investigated. I've created a test.

[2018-02-16 21:06] bertfrees commented on #490
@leonardder Would you be so kind to create a test for this? Something similar to what you did for back translation of numbers in Dutch, Finnish and Canadian French: https://github.com/BabbageCom/liblouis/blob/ca52cd3baefd34cef191a61c04ab69a5ed3fcd2e/tests/yaml/litdigits6Dots_backward.yaml.

[2018-02-16 21:07] bertfrees commented on #512
Closing because duplicate of https://github.com/liblouis/liblouis/issues/483.

[2018-02-16 21:07] #512 closed

[2018-02-16 21:10] bertfrees commented on #366
@BueVest maybe you are also interested in https://github.com/liblouis/liblouis/issues/421?

[2018-02-16 22:08] BueVest commented on #366
Exactly what I was looking at :)

I was thinking of making the two in one branch/PR.

[2018-02-17 09:00] leonardder commented on #490
It's not entirely clear to me what you're requesting here. I guess we could add the tables I mentioned above to the litdigits6Dots_backward test, but they will fail in the current situation.

[2018-02-17 16:12] BueVest opened #514 "A consistent naming strategy for #defines and possibly function names"
Especially, the #defines is a mess. As far as I can see, we have small letters, capital letters and camel casing with and without underlines.

As an idea, I would suggest standard C naming strategy, i.e. all caps and underlines (as far as I remember).

How would we do it without breaking everybody's code?

[2018-02-18 00:22] bertfrees commented on #490
[code]

[2018-02-19 11:10] egli commented on #507
What would work is the following:
[code]

[2018-02-19 11:41] bertfrees commented on #468
Depends on https://github.com/liblouis/liblouis/pull/471 and https://github.com/liblouis/liblouis/pull/437 because right now the table is still included in some places.

[2018-02-19 11:49] bertfrees commented on #322
We've enabled all warnings in 5356d84cf25f519bd5553865a015a12407032dd5 so there's hundreds of them now.

[2018-02-19 12:07] bertfrees commented on #500
Agree with Bue that the `=` operand is useful and Bue's test shows that there are indeed cases where it breaks back-translation. The issue isn't as bad as the documentation makes it out to be though. Maybe it shouldn't be deprecated, but a small warning is still appropriate.

There is nothing that keeps Liblouis from handling the `=` correctly during back-translation. It's a shortcoming of Libloui

[2018-02-19 12:08] bertfrees commented on #506
@sthibaul Would you be happy with the proposed solution? Is it an acceptable compromise?

[2018-02-19 12:12] sthibaul commented on #506
Well, I'm not sure what is the proposed solution in the end :)

If it's a table file which is included by basically all tables (rather than hardcoding in the source code), I'm fine with it, yes.

[2018-02-19 12:21] bertfrees commented on #506
Oh, right, yeah that's also an option. But I was actually thinking about the other one. So which do you prefer?

1. Ignore U+FEFF in the lou_translate tool but not in the main library.
2. Include a `replace \xFEFF` table in basically all tables.

[2018-02-19 12:26] sthibaul commented on #506
2. seems more explicit thus better, but I don't see why not putting it in a table that basically all tables include, so we can potentially add more unicode support there.

[2018-02-19 12:35] bertfrees commented on #506
Yes, that is what I meant.

Thanks.

[2018-02-19 12:45] sthibaul commented on #506
Ok, then it's fine for me :)

[2018-02-19 13:45] #497 closed

[2018-02-19 16:17] bertfrees opened #516 "Improved Urdu tables"
See https://www.freelists.org/post/liblouis-liblouisxml/Improved-Urdu-tables

[2018-02-20 09:26] #516 closed

[2018-02-20 14:36] egli commented on #500
So am I correct in summarizing that the solution is to change the documentation? Change it from saying that `=` is deprecated to maybe give a warning that there might be a bug hiding when using `=` together with back-translation?

[2018-02-20 14:39] bertfrees commented on #500
Yes. And also add Bue's test to the test suite.

[2018-02-20 14:39] egli commented on #500
OK, cool, thanks

[2018-02-20 16:32] #500 closed

[2018-02-21 09:46] egli opened #522 "lou_checkyaml hangs for some hyphenation tests when compiled with --disable-ucs4"
As the discussion in #519 has shown the test suite hangs when trying to run `lou_checkyaml` on the Hungarian hyphenation test (`tests/yaml/hu-hu-g1-hyph_harness.yaml`)

That is probably also the reason why `hu-hu-g1-hyph_harness.yaml` is included in `tests/yaml/Makefile.am` but not listed in `tests/Makefile.am` as a test script.

[2018-02-21 10:25] BueVest opened #523 "Make the "=" oprand work when backtranslating"
As stated in the documentation, using the "=" oprand can result in incorrect backtranslation. The problems appear if the "=" rule exists to circumvent a rule that also affects backtranslation.

A solution would be to evaluate the "=" at table compile time. then the rule could act as any other rule with an explicit dot pattern, both for forward and backward translation.

[2018-02-22 10:22] dkager opened #525 "Update Dutch braille tables to support standard 2017.1"
The Braille Autoriteit (braille authority) [has documented this standard](http://braille-autoriteit.org/algemeen-gebruik/6-punts-algemeen-2017_concept/).

[2018-02-22 10:33] bertfrees commented on #525
Is this still a proposal or is it accepted?

We could start by covering the changes with some YAML tests. This is something that a non-programmer (Dorine?) could help us with.

[2018-02-22 10:37] dkager commented on #525
AFAIK it is accepted, but the website is not entirely up-to-date. I will ask Dorine.

[2018-02-22 10:38] bertfrees commented on #525
The https://github.com/liblouis/braille-specs/tree/master/dutch page should also be updated.

[2018-02-23 08:15] egli commented on #322
With 8734c93b38b37e99209ae879df40aa37caf1cd6e the function `check_full` is gone and with it also th e problem with discarded-qualifiers

[2018-02-23 08:17] egli commented on #322
Cannot find any occurrence of `-Wformat-extra-args` in current master

[2018-02-23 11:15] bertfrees commented on #254
Kind of related: https://github.com/liblouis/liblouis/issues/507#issuecomment-364967050

[2018-02-23 15:38] egli commented on #507
liblouis behaves slightly different when you use the `begword` instead of the `word` opcode. Just as a reminder with the `word` opcode:
[code]
you get the following translation:
[code]
However when using the `begword` opcode the behavior is different:
[code]
[code]
To be consistent "Mitt" should translate to "mitt" when using the `begword` opcode or "Mit" should translate to "t" when using the `wo

[2018-02-23 21:26] #462 closed

[2018-02-26 10:39] egli commented on #443
@karishmma did you ever get back to me about this change?

[2018-02-26 15:47] karishmma commented on #443
HI Christian,

Thanks for writing back.

I’m sorry I did not get back to you as I had not managed to get in touch with Dipendra/ Sreeja as you had asked me to first check with them.

However, I have got it checked with others and it definitely needs to be done. We have double checked it with Duxbury Braille Translator that also does Hindi.

From: Christian Egli [mailto:notifications@github.com]
Se

[2018-02-28 10:25] egli opened #529 "Number of *letsign rules is limited to 128"
[![Fund this issue](https://liblouis.github.io/images/Fund_button.svg)](https://issuehunt.io/r/liblouis/liblouis/issues/529)
---

There is a limit to the number of letters in`letsign`, `noletsignbefore` and `noletsignafter`. This is somewhat randomly set to 128 in [internal.h](https://github.com/liblouis/liblouis/blob/master/liblouis/internal.h#L56).

We could either just
1. increase it to 256, wh

[2018-02-28 12:35] #359 closed

[2018-03-01 14:50] egli commented on #468
Hm, `UEBC-g2.ctb` is still used in `tests/infiniteTranslationLoop.c`. Which is not even invoked when running `make check`.

[2018-03-01 14:53] egli commented on #468
... and the infiniteTranslationLoop still hangs. I guess we still need `UEBC-g2.ctb` (and hence `UEBC-g1.utb`) at least for testing.

I guess I'll move them to the test tables

[2018-03-01 14:54] bertfrees commented on #468
Do we know why UEBC-g2.ctb is used in that test? Could we strip it down in order to pinpoint the problem?

[2018-03-01 15:02] egli commented on #468
The original bug report was using that table. The bug manifests itself when using it. Don't know if it happens with other tables.

I guess we could

[2018-03-01 16:11] #502 closed

[2018-03-02 10:28] #468 closed

[2018-03-02 11:31] bertfrees commented on #529
This issue is also related: https://github.com/liblouis/liblouis/issues/105.

How does a dynamic array relate to a linked list? I could read the wikipedia page but I'm lazy and I don't have time ;) In issue #105 you were opposed to the idea of using linked lists.

[2018-03-02 12:26] egli commented on #529
A dynamic array is basically a plain old array that grows with use, in other words it `realloc`s itself if it is full. So it basically has the same performance characteristics and pretty much the same ease of use as a plain C array. The code using the dynamic array would only change marginally.

However we would no longer have to pre-allocate big pieces of memory for stuff which isn't used in 90%

[2018-03-02 12:32] bertfrees commented on #529
Ah yes, you're right. Different use case.

[2018-03-02 12:46] egli opened #533 "Rethink the use of LOUIS_TABLEPATH in the test suite"
Currently `LOUIS_TABLEPATH` is set to `$(abs_top_srcdir)` before running the test suite. This is done so that we can separate between official tables (that come with the distribution) and test tables that only live for testing purposes.

Now as we start to use table queries in our tests and hence need to index our tables before testing we run into a problem: The table indexer only considers tables

[2018-03-02 13:04] egli commented on #443
Ah, which table needs to be changed?

Running `grep` inside the table directory gives me
[code]

If we are talking about the devanagari.cti table then it already is defined as 12456 and has been so since 2014.

[2018-03-02 13:11] bertfrees commented on #533
4. Another possibility would be to add a YAML option to specify the directory (relative to `LOUIS_TABLEPATH`) to search in in case of table queries.

Life would be much simpler if Automake would support setting environment variables per test, but unfortunately that is not the case.

But the even deeper underlying problem IMO is the VPATH thing, which makes it impossible for tests to use relative p

[2018-03-05 09:52] #286 closed

[2018-03-05 09:57] egli commented on #443
@karishmma I need more information. Which table needs to be fixed?

[2018-03-05 10:06] #503 closed

[2018-03-05 10:07] bertfrees commented on #503
Fixed by https://github.com/liblouis/liblouis/pull/513

[2018-03-05 15:10] #238 closed

[2018-03-05 17:32] karishmma commented on #443
Please give me 2 days – will get back to you on this

From: Christian Egli <notifications@github.com>
Sent: 05 March 2018 15:28
To: liblouis/liblouis <liblouis@noreply.github.com>
Cc: karishmma <karishmma9@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [liblouis/liblouis] braille character for ड़ should be 12456 while currently it is shown as 1246 (#443)

@karishmma <https://github.

[2018-03-06 06:06] leonardder commented on #525
It would be great if whoever works on this takes back translation into account. Back translation for Dutch is still quite broken. If new yaml tests are added, it might be good to add them backwards as well and if they break, add xfail, so we could investigate what's actually going wrong in the current stage.

[2018-03-06 06:08] leonardder commented on #486
This is fixed in #491.

[2018-03-06 06:08] #486 closed

[2018-03-08 08:08] karishmma commented on #443
Do you have a table by the name hi_in_g1.utb?

From: Christian Egli <notifications@github.com>
Sent: 05 March 2018 15:28
To: liblouis/liblouis <liblouis@noreply.github.com>
Cc: karishmma <karishmma9@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [liblouis/liblouis] braille character for ड़ should be 12456 while currently it is shown as 1246 (#443)

@karishmma <https://github.com/kar

[2018-03-08 11:19] egli commented on #443
Yes, we do (see https://github.com/liblouis/liblouis/blob/master/tables/hi-in-g1.utb). It essentially just includes [devanagari.cti](https://github.com/liblouis/liblouis/blob/master/tables/devanagari.cti) where unicode `095C` is defined as 12456.

Do you know what version of liblouis is running on Index Direct Braille?

[2018-03-08 20:25] ctreesgrow1951 commented on #443
what do i do with that?

Sent from my MetroPCS 4G LTE Android Device
-------- Original message --------From: Christian Egli <notifications@github.com> Date: 3/8/18  3:19 AM  (GMT-08:00) To: liblouis/liblouis <liblouis@noreply.github.com> Cc: Subscribed <subscribed@noreply.github.com> Subject: Re: [liblouis/liblouis] braille character for ड़ should be 12456 while currently it is shown as 1246 (#443

[2018-03-09 09:14] egli commented on #443
@ctreesgrow1951 could you be a bit more specific?

[2018-03-10 19:01] school510587 opened #537 "[Feature Request] Better granularity of cursor moving"
There are a lot of words in Chinese having more than one pronunciation. They are called duoyinzi. This feature request is mainly for better support of this case in Chinese (including duoyinzi in zh-cn tables), and this feature is imperative for readability of the dot output. The detailed description of the problem is presented below.

For example, 樂 has two different pronunciations, and one of the

[2018-03-11 13:09] bertfrees commented on #537
Thanks for the request. The right opcode to use in this case is definitely "context". However I think we have two problems:

1. The cursor moving. Actually this may already work fine if NVDA would [update to version 3.5](https://github.com/nvaccess/nvda/issues/7301). It must be tested. If it still doesn't work with a new version of NVDA, we'll investigate more.
2. The efficiency. If you're gonna u

[2018-03-11 17:57] bertfrees opened #538 "Improve performance of correct, context and multipass rules"
Tables with a lot of correct, context and multipass rules do not perform as well as regular tables. This has to do with the fact that these rules do not make use of the hash algorithm that the other rules make use of. Basically each and every multipass rule in the table is checked for a match at every position of the input. We should think about whether it would be worth investing in a more advanc

[2018-03-11 21:06] bertfrees commented on #472
and https://github.com/liblouis/liblouis/issues/105

[2018-03-12 09:21] bertfrees opened #539 "Test all tables that match table query in YAML tests"
Instead of only the best match. This is now possible with the new `lou_findTables` function ([#530](https://github.com/liblouis/liblouis/pull/530/commits/00179e1c463fd12a3da1f7ab95d1aabc0b107bc4#diff-51d716ab1e8d7f28274f9b7ac67f76e8)).

[2018-03-13 11:43] bertfrees opened #540 "Document standard metadata tags"
Basically, move [the wiki page](https://github.com/liblouis/liblouis/wiki/Table-discovery-based-on-table-metadata) to [the user's and programmer's manual](http://liblouis.org/documentation/liblouis.html#Table-Metadata).

[2018-03-13 11:59] bertfrees opened #541 "Supporting matching tables by absence of a metadata tag"
In the table query syntax it could look like `locale:en foo:`. This is easy to understand: an absent is the same as an empty value (although explicitly declaring empty values in a table is disallowed). In YAML it could look like `{locale: en, foo:}` or `{locale: en, foo: ~}` (both are official YAML representations of null values, see http://www.yaml.org/spec/1.2/spec.html#id2805071).

[2018-03-15 22:48] school510587 commented on #537
Hi @bertfrees,

Thanks for your response. NVDA has been updated liblouis in their snapshot version (after 2018.1), and I am now asking Taiwanese users to test this feature.
If any unexpected behavior occurs, I will forward report from users to this discussion.
As for efficiency, I think it is acceptable so far with about 1250 "noback context" statements.
Provided all behaviors are expected (after

[2018-03-19 15:48] school510587 commented on #537
Hi @bertfrees,

Could liblouis solve this situation?
Sometimes, two successive characters are duoyinzi, and they have to be pronounced differently when they are written together.
For instance, 勝 and 數 are duoyinzi. Their default dot patterns are 24-1356-5 and 24-34-5, respectively.
However, 勝數 must be represented by the dot pattern 24-1356-3-24-34-5. Here, 24-1356-3 corresponds to 勝, and 24-34-4 c

[2018-03-19 16:20] bertfrees commented on #537
It would be nice if we have some tests for these requirements. Based on the two examples that you gave, I created this test. Could you please verify? And feel free to add more examples. The syntax is described [here](http://liblouis.org/documentation/liblouis.html#YAML-Tests-1).

[code]

[2018-03-19 16:44] school510587 commented on #537
Hi @bertfrees,

Thanks! Please add this example mentioned above:

  - - 樂器
    - ⠦⠐⠚⠡⠐
    - outputPos: [0,2]
      inputPos: [0,0,1,1,1]

This example covers the case that the duoyinzi appears before a word pronounced normally.

[2018-03-19 19:07] bertfrees opened #543 "Make Liblouis thread safe"
At some point, when no more global variables prevent it, Liblouis could be made thread safe. We could consider if it's worth the trouble. Currently I make sure in the Java bindings that Liblouis is never called on more than one thread at the same time.

[2018-03-19 21:06] school510587 commented on #537
Hi @bertfrees,

The following is a set of less frequently used phrases (except 了了) in daily conversation, but they are defined in the official Chinese dictionary and show successive 3 duoyinzi.

  - - 不
    - ⠕⠌⠐
    - outputPos: [0]
      inputPos: [0,0,0]
  - - 了
    - ⠉⠮⠁
    - outputPos: [0]
      inputPos: [0,0,0]
  - - 當
    - ⠙⠭⠄
    - outputPos: [0]
      inputPos: [0,0,0]
  - - 不了
    - ⠕

[2018-03-19 22:54] bertfrees commented on #537
Thanks.

[2018-03-20 10:38] vgjh2005 commented on #537
Hi:
I am sorry to say what mentioned number is above. I also can provide
some duoyinzi. I will write them with two cells braille.
group one:
乐观(123-26-1245-12456) and 乐器(23456-13-24), the first character is the
same. But in the first word, the character is announced by le4, and
the second one is announced by yue4.
group two:
会谈(125-2456-2345-1236) and 会计(13-13456-1245-24), The first character
of t

[2018-03-20 20:36] school510587 commented on #537
Hi @bertfrees,

This is also an example. 答 is used to simulate sound when written twice or more times, and each 答 must be translated into 145-345-3.

  - - 答
    - ⠙⠜⠂
    - outputPos: [0]
      inputPos: [0,0,0]
  - - 答答
    - ⠙⠜⠄⠙⠜⠄
    - outputPos: [0,3]
      inputPos: [0,0,0,1,1,1]
  - - 答答答
    - ⠙⠜⠄⠙⠜⠄⠙⠜⠄
    - outputPos: [0,3,6]
      inputPos: [0,0,0,1,1,1,2,2,2]
  - - 答答答答
    - ⠙⠜⠄⠙⠜⠄⠙⠜

[2018-03-20 21:14] jtojnar opened #544 "No rule to make target '../tools/libbrlcheck.la'"
After 3.5.0 update, liblouis no longer builds for me.

Edit: downgrading back to 3.4.0 does not help, perhaps incompatibility with some updated dependency?

<details>
<summary>Build log</summary>

[code]
</details>

[2018-03-20 22:03] bertfrees commented on #544
I have no clue. @egli?

[2018-03-21 09:58] egli commented on #544
Hi @jtojnar

Hm, this looks weird. It appears that make doesn't know how to build `libbrlcheck.la` which is just a [libtool convenience library](https://www.gnu.org/software/automake/manual/html_node/Libtool-Convenience-Libraries.html). This code has been in there since 5b2ad38177e743a980634847d4e5bcacd4ab87f7 (which was commited in 2016). Is this maybe a problem with a newer libtool or automake?

[2018-03-21 10:01] egli commented on #544
The only real dependencies we have are libyaml and gnulib. I doubt this is a libyaml problem. gnulib could be blamed although I don't think we upgraded it in a while.

I think it might be a problem with automake and libtool.

[2018-03-21 16:11] egli commented on #329
@dkager I just updated gnulib but did not include the `realloc` module

[2018-03-22 08:14] egli commented on #329
yes

[2018-04-01 22:49] school510587 commented on #537
Hi @bertfrees,

After more investigation, I find a multipass method to obta`n the expected output of 勝數 described above.

noback context "\x52DD"["\x6578"] @b-24-1356-3-e-24-34-4
noback pass2 @24-1356-5-b-24-1356-3-e @24-1356-3

In the first statement, the dot pattern of 數 is forced to be 24-34-4, and a mark, b-24-1356-3-e, is inserted before 24-34-4.
However, 勝 is not enclosed by the brackets, so

[2018-04-02 01:50] ctreesgrow1951 commented on #537
Yes
-------- Original message --------From: school510587 <notifications@github.com> Date: 4/1/18  3:49 PM  (GMT-08:00) To: liblouis/liblouis <liblouis@noreply.github.com> Cc: Subscribed <subscribed@noreply.github.com> Subject: Re: [liblouis/liblouis] [Feature Request] Better granularity of
  cursor moving (#537)
Hi @bertfrees,

After more investigation, I find a multipass method to obta`n the expe

[2018-04-02 11:25] school510587 commented on #537
Hi @bertfrees and all,

I find the problem of converting 答答答 is due to the wrong assignment of cursor positions in the "noback context" statement.
One simple example is given below in YAML syntax with a newly created table.

table: |
  letter \x4EA4 13-246-3
  letter \x6A02 14-2346-5
  letter \x97FF 15-46-4
  noback context "\x4EA4\x97FF"["\x6A02"] @236-5

tests:
  - - 交
    - ⠅⠪⠄
    - outputPos:

[2018-04-02 16:45] sthibaul opened #546 "Crash on i386 systems"
Hello,

Starting from liblouis 3.4 and confirmed with liblouis 3.5, we are getting crashes on i386 systems when enabling contraction in orca. Here is the backtrace in gdb:

    #0  0xb72256d2 in PyCData_clear (self=0xb38f5fa4)
        at ./Modules/_ctypes/_ctypes.c:2575
    #1  PyCData_dealloc (self=<c_long_Array_0 at remote 0xb38f5fa4>)
        at ./Modules/_ctypes/_ctypes.c:2587
    #2  0x0810c8

[2018-04-02 16:47] sthibaul commented on #546
(and there is no problem on amd64 systems)

[2018-04-02 17:10] bertfrees commented on #537
It's a bug. I fixed it locally.

[2018-04-02 20:15] BueVest commented on #537
Hi,

I have previously advocated for a mechanism for better cursor control, especially in conjunction with the context and multi-pass rules. These rules are being used for a lot of different purposes in different Braille codes, and I think it would be very difficult if not impossible to make a one-fits-all case for the cursor positions. My idea then was to add an extra option to the action part of

[2018-04-02 20:57] bertfrees commented on #537
Thanks Bue. Yes you mentioned the idea before. My reaction is still the same though: While I think the basic idea is not bad, I haven't seen an acceptable practical solution yet (i.e. a solution that is both sound and not overly complex). Moreover, I would really like to see a real use case before even considering taking this further.

[2018-04-03 05:15] hammera commented on #546
Hi,

Confirming Samuel test results.
Samuel wrote first Python code in i386 systems produce segmentation fault, but an Amd64 system give following right result:
('', [], [], 0)

Attila

[2018-04-03 20:51] school510587 commented on #537
Hi @BueVest and @bertfrees,

For the case of duoyinzi discussed here, a straightforward solution is to assign carets in "always" rules.
For example, 音樂 can be defined as follows.

always \x97F3\x6A02 ^1456-3-^236-5

This hits the original problem which let me discard "always" statements.
It is also understandable for maintainers of braille tables that the same number of carets is required to speci

[2018-04-04 10:28] bertfrees commented on #537
I'm sorry, but I don't understand. Why would the syntax above be simpler and easier to maintain than context rules?

    always \x97F3 1456-3
    context "\x97F3"["\x6A02"] @236-5

The context opcode was invented exactly for these kind of use cases. The performance issues that go with it is another thing. That can be solved.

[2018-04-09 22:15] school510587 commented on #537
Hi @bertfrees,

According to the discussion above, duoyinzi problem can be solved via a combination of virtual dots, context and multipass rules.
Nevertheless, we would like to find some efficient and understandable way to design and management them, and this is the core of the problem.

For the case of a 2-word phrase with one duoyinzi, my syntax indeed makes less difference.
However, please cons

[2018-04-10 09:08] bertfrees commented on #537
The workaround with virtual dots and multipass rules is indeed terrible :)

No, the `context` opcode is definitely the way to go here. Also for the cases of 2 or 3 successive duoyinzi you should be able to use context rules. However there seems to be a problem. I just tried it and it doesn't work as expected. The following should work as far as I understand but does not at the moment:

    letter

[2018-04-10 10:04] bertfrees commented on #537
There was a bug, which I fixed now in a local branch.

[2018-04-10 11:55] school510587 commented on #537
Hi @bertfrees,

I also tried the underscore before and got an incorrect dot pattern.
However, I was afraid that I didn't understand fully how it works, so I didn't complain here.
Would you provide more detailed illustration of the cursor moving when context rules are evaluated?
So far I also find no example of underscore in liblouis.texi.

[2018-04-10 12:01] bertfrees commented on #537
Cursor moving works as expected with context rules. The part between square brackets in the left part (or the whole left part if there are no brackets) is replaced by the dots in the right part, and the cursor moves correspondingly.

[2018-04-10 14:09] school510587 commented on #537
Hi @bertfrees,

Is there any constraint that the underscore can't be in the middle or the end of the test part?
That is, I wonder what is the difference between the following statements and the solution you listed above.

Case 1:
noback context ["勝"]"數"_ @24-1356-3
noback context "勝"["數"] @24-34-4
I get an incorrect dot pattern 24-1356-3-24-34-5. Only the first rule works.

Case 2:
noback context

[2018-04-10 14:31] bertfrees commented on #537
Your first example does not make sense because an underscore needs to be followed by something. It only has an effect when matching a rule. It does not have an effect on subsequent rules.

Your second example does not make sense because the rule can never match. The underscore in the middle means that at the same position there need to be two different characters which is of course impossible.

My

[2018-04-10 16:31] school510587 commented on #537
Hi @bertfrees,

The method you provided works, thanks!
Also, I use this method to deal with cases like 交響樂 temporarily, because I don't receive a version after your local bug fix.
noback context ["\x6a02"]_3"\x4ea4\x97ff" @236-5

In the answer, you stated that an underscore must be followed by something to make sense.
Would you consider to raise a compilation error when a mistake as I mentioned ab

[2018-04-10 16:36] bertfrees commented on #537
Yes, good idea, we should probably do that.

[2018-04-10 19:50] bertfrees opened #553 "Compilation error if test part of multipass rule ends with underscore (lookback)"
See https://github.com/liblouis/liblouis/issues/537#issuecomment-380165277

[2018-04-10 19:50] bertfrees commented on #537
This issue will be fixed by https://github.com/liblouis/liblouis/pull/547 and https://github.com/liblouis/liblouis/pull/552.

See also https://github.com/liblouis/liblouis/issues/553.

[2018-04-10 20:07] vgjh2005 commented on #537
Thanks

2018-04-11 3:50 GMT+08:00, Bert Frees <notifications@github.com>:

[2018-04-11 08:04] bertfrees commented on #538
After some investigation, it turns out the situation isn't as bad for context rules. A part of the context rules make use of the same hash algorithm as other pass1 rules.

[2018-04-12 22:35] #537 closed

[2018-04-12 23:07] bertfrees opened #555 "Special support for nocross in lou_trace"
Print the hyphenation patterns that cause a nocross rule to be selected, and possibly also print the hyphenation patterns that cause a nocross rule to be suppressed.

[2018-04-13 08:46] bertfrees commented on #546
@sthibaul Thanks for the report. Although I can't reproduce it on my system, we should be able to do something with the provided info. @egli Are you able to reproduce?

[2018-04-13 18:26] school510587 commented on #537
Hi @bertfrees,

Thank you for these information. I will use the more intuitive syntax with a lead1ing underscore in the test part after some NVDA snapshot release with your PR #552 merged.
Nevertheless, here is one other problem of supporting duoyinzi.
As mentioned in previous PR of zh-tw.ctb, Taiwanese users must read documents written in simplified Chinese using zh-tw.ctb.
In this case, equivale

[2018-04-13 18:56] bertfrees commented on #537
Could you elaborate a bit more on your first idea? What are the exact rules that you tried?

Another possibility would be to have a correct phase where you normalize all the simplified characters to the corresponding traditional characters. Like this:

    correct "乐" "樂"
    sign 音 1456-3
    sign 樂 14-2346-5
    context "音"["樂"] @236-5

[2018-04-13 19:59] school510587 commented on #537
Hi @bertfrees,

OK. The following lines are shared by all cases below:
letter 音 1456-3
letter 樂 14-2346-5

Case of "class":
letter 乐 14-2346-5
class yue4 樂乐
noback context "音"[%yue4] @236-5
This raises a compilation error. However, I think it is intuitive to understand from this rule that both words map to 236-5 together.

Case of "replace":
replace "乐" "樂"
noback context "音"["樂"] @236-5
Then, the

[2018-04-13 20:49] school510587 commented on #537
Hi @bertfrees,

I try the following:
letter 音 1456-3
letter 樂 14-2346-5
letter 乐 14-2346-5
class yue 樂乐
noback context "音"[%yue] @236-5
Then, I get no error, and it works as expected.
However, I find no specific limit of character usage in "class" opcode from your documentation.
By the way, an underscore in the class name also causes the compilation error.
Would you add some additional information

[2018-04-13 21:03] bertfrees commented on #537
It seems that only letters are allowed in class names, where "letter" is according to the braille table itself. I don't particularly like it, but that's apparently how it's done: https://github.com/liblouis/liblouis/blob/84f9dbfa8decb56d4a32c1fafafac54a42c4627b/liblouis/compileTranslationTable.c#L1633-L1652

[2018-04-13 21:45] school510587 commented on #537
Hi @bertfrees,

Would this be a new issue?
For me, I think it is ambiguous to use underscores in class names.
The case is the same if any other reserved chaoacter in context rules is defined to ae a letter.
However, I think it must be reasonable to include digits in the class name.
Thanks.

[2018-04-13 22:01] bertfrees commented on #537
I don't agree. You should see digits as reserved characters also, like the underscore. They are reserved for specifying repetition.

[2018-04-14 07:23] school510587 opened #556 "Incorrect behavior with respect to character classes in context rules"
To understand more the behavior of context rules with respect to character classes, I created one testing table:

table: |
&nbsp;&nbsp;letter a 1
&nbsp;&nbsp;letter b 12
&nbsp;&nbsp;letter c 14
&nbsp;&nbsp;<span>sign _ 456</span>
&nbsp;&nbsp;<span>punctuation " 5</span>
&nbsp;&nbsp;<span>punctuation [ 2467</span>
&nbsp;&nbsp;<span>punctuation ] 124567</span>
&nbsp;&nbsp;<span>sign % 146</span>
&nb

[2018-04-14 07:43] school510587 commented on #537
Hi @bertfrees,

I read the documentation again, including @opcode{class, name characters} and @item % (percent sign) for the context opcode.
Now, I can understand that digits are reserved for specifying repetition.
However, the documentation doesn't show that digits can be used to specify repetition following a class name.
I have further problems written in issue #556, because it is beyound the sc

[2018-04-15 15:50] bertfrees opened #557 "It shouldn't be required to define characters before being able to use them in multipass rules"
Especially for reserved characters like `[`, `]`, `"`, `@`, `_`, etc. this doesn't make sense. See also https://github.com/liblouis/liblouis/issues/556.

[2018-04-15 15:52] bertfrees commented on #556
1. I'm not sure whether this is intended behavior or not. In a way it is logical that you end up in a loop because the beginning and end of the pattern are at exactly the same position in the input string. Either way, the rule does not make much sense. If the goal is to match a letter "c" preceded by a "a" or "b", the logical thing to do is `["c"]%a`.

2. Yes, I don't like that, but it's the way i

[2018-04-15 15:57] bertfrees opened #558 "Instead of allowing a multipass rule to go into a loop, raise a compilation error"
A multipass rule goes into a loop if endReplace is smaller or equal to startMatch.

[2018-04-15 15:58] bertfrees commented on #556
I've created an issue for nr. 1: https://github.com/liblouis/liblouis/issues/558

[2018-04-15 15:58] #556 closed

[2018-04-16 09:32] bertfrees commented on #546
@sthibaul @hammera Does this crash also happen with the lou_translate tool?

[2018-04-16 09:41] sthibaul commented on #546
echo "" | lou_translate /usr/share/liblouis/tables/en-us-comp6.ctb

doesn't crash, I guess it'd be the equivalent of the python code

[2018-04-16 09:42] sthibaul commented on #546
Probably worth noting: this is built with --enable-ucs4

[2018-04-16 09:56] bertfrees commented on #333
Replaced by https://github.com/liblouis/liblouis/issues/557

[2018-04-16 09:56] #333 closed

[2018-04-16 12:29] hammera commented on #546
If I recompile and reinstall Liblouis and python bindings without --enable-ucs4 configuration option, Samuel wrote code generate following exception:
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/lib/python3/dist-packages/louis/__init__.py", line 358, in <module>
    raise Exception("mismatch in Unicode width: liblouis is 2 and python isn't")
Exception: mism

[2018-04-19 15:36] sthibaul opened #560 "Emits non-breakable space"
Hello,

While translating documents, we have found that liblouis may emit non-breakable spaces instead of spaces.  For instance, the attached file
[test.zip](https://github.com/liblouis/liblouis/files/1928760/test.zip)
is the content.xml file of a libreoffice file, containing non-breakable spaces, and using

file2brl -CliteraryTextTable=en-us-brf.dis,en_US.tbl < content.xml 2> /dev/null | hexdump

[2018-04-20 12:20] bertfrees opened #561 "Remove hard coded rules in compileTranslationTable"
https://github.com/liblouis/liblouis/blob/84f9dbfa8decb56d4a32c1fafafac54a42c4627b/liblouis/compileTranslationTable.c#L4587-L4598

Replace these hard coded rules with a real table that will be included in all other tables, and that has default rules for spaces and control characters.

This should solve the following issues:
- [Bug: unicode.dis does not create \x2800](https://www.freelists.org/post

[2018-04-20 16:39] egli commented on #555
- if i'm not mistaken a [ncross rule is only applied](https://github.com/liblouis/liblouis/blob/master/liblouis/lou_translateString.c#L1939) if no hyphenation pattern for the input word is found, so I don't understand the first requirement
- [ ] [`syllableBreak`](https://github.com/liblouis/liblouis/blob/master/liblouis/lou_translateString.c#L1392) and [`for_selectRule`](https://github.com/libloui

[2018-04-20 17:30] bertfrees commented on #555
There are also patterns that cancel hyphenation points. You should read up on how the Knuth-Liang hyphenation algorithm works. There used to be a good article with a nice illustration on Wikipedia but I can't find that anymore. But this also explains it well: https://en.wikipedia.org/wiki/TeX#Hyphenation_and_justification

Pattern*s* (plural) because for every position in the word there is a poten

[2018-04-23 02:23] Heterodyne opened #562 "odd back translation regression (en-ueb-g2.ctb)"
In 2.6 the word `quick` correctly translated to `qk` and back translated to `quick`. In 3 `qk` back translates to `quick's`

[2018-04-23 08:36] egli commented on #562
Hi @Heterodyne, thanks for the report.

Would you like to turn this into a YAML test? Maybe along the line of https://github.com/liblouis/liblouis/blob/master/tests/yaml/issue-406.yaml? Just adapt it to your specific table and word that fails. You can simply insert the YAML right here in a comment.

Thanks

[2018-04-23 09:31] bertfrees commented on #562
Even better would be to update the [en-ueb-g2_backward.yaml](https://github.com/liblouis/liblouis/blob/master/tests/braille-specs/en-ueb-g2_backward.yaml) test I think.

[2018-04-23 10:24] egli commented on #555
OK, that makes things more clear, thanks. That would indicate that there would be a need to also print the hyphenation patterns in the case when a nocross rule was selected

[2018-04-23 10:30] egli commented on #555
I talked to Christian this morning and he told me that the information why a nocross rule was _not_ selected is interesting. OTOH this information is only relevant to him when he can do something with it. And that would imply that he would go forth and change the hyphenation patterns. ATM he doesn't want to go there, as the translations are good enough and he has no know-how regarding the hyphenat

[2018-04-23 10:33] egli commented on #555
Regardless of whether Christian W. is going to change the hyphenation patterns adding the patterns to the trace information can help in debugging a table.
- why was a nocross rule selected?
- why was it not selected?
- is there maybe even a bug in the nocross or hyphenation code?

So despite the low interest from Christian W. this is a valuable feature.

[2018-04-26 20:28] school510587 opened #563 "Warning, not error when compiling non 16-bit Unicode rules with 16-bit Unicode liblouis"
According the documentation, liblouis can support 20- and 32-bit Unicode using <span>\y</span> and <span>\z</span>.
However, I received an error "liblouis has not been compiled for 32-bit Unicode" when I inserted a <span>\y</span> rule into a table and compiled it using the 3.5.0 release.
In the future, it will be demanded that Chinese braille tables must support Han characters beyond the range of

[2018-04-26 21:32] bertfrees commented on #563
Hmm, I'm not sure. Would we ignore all rules with a character above 0xffff somewhere in an operand?

[2018-04-26 21:46] bertfrees opened #564 "Error if Liblouis compiled with UCS2 and Unicode character above U+FFFF encountered"
(or warning, see https://github.com/liblouis/liblouis/issues/563)

Currently, an error is raised for \y or \z escape sequences, but not for UTF-8 characters above U+FFFF.

[2018-04-26 21:56] school510587 commented on #563
Hi @bertfrees,

I also think this is not a simple problem.
For simple rules like "letter" and "always", rules involving characters 0xFFFF are definitely ignored.
However, the case is quite complex for "context" and "correct" (and also "match") rules.
If such character appears inside a double-quoted string, this rule will be ignored too.
If such character is contained in some class, the rule may st

[2018-04-27 09:06] bertfrees commented on #563
Another possibility is to have a `noucs2` prefix for rules, or maybe `ifn_UCS2 ... endif` blocks.

[2018-04-27 10:46] egli commented on #563
I think the real solution to this would be to change liblouis so that it would use utf8 internally doing away with UCS2 and UCS4. This will probably never happen. But still, IMHO anything else is just patching over the fundamental problem.

[2018-04-27 11:07] bertfrees commented on #563
Right.

[2018-04-27 11:17] bertfrees commented on #563
Or maybe UTF-16.

But the problem needs to be addressed anyway. If a proper fix will never happen we need the patching.

[2018-04-27 11:30] egli commented on #563
No, it's not the default AFAIK (https://github.com/liblouis/liblouis/blob/master/configure.ac#L145). I'm not sure if the people that use liblouis on resource constraint devices would object. Maybe not as they could always compile with `--disable-ucs4`.

[2018-04-27 11:36] bertfrees commented on #563
Yes that's what I mean. The only reason for disabling it is when you have a resource constraint device, which should be the exception I think, not the rule.

[2018-04-29 20:25] school510587 commented on #563
Hi @bertfrees and @egli,

Anyway, UTF-16 can also encode U+10000-U+10FFFF via surrogate pairs.
So far, liblouis works fine (braille pattern and cursor moving) to translate surrogate pairs using "always" rules.
However, liblouis will treat them as strings rather than characters with attributes such as letter or sign.
Could liblouis accept definitions in this range, even if widechar is a 16-bit char

[2018-04-30 17:08] bertfrees commented on #322
@egli Can I put this in milestone 3.6?

[2018-05-02 07:31] egli commented on #322
@bertfrees sure you can.

I remember that I ran out of steam on this one. Many of the fixes are kind of mechanical, make the code less readable and the benefit is questionable IMHO.

So while strictly speaking we are not done with this issue I think we fixed most of what actually made sense. Of course it would be nice to have a build without any warnings. Maybe we can selectively disable some.

[2018-05-02 10:00] bertfrees commented on #322
I asked because the remaining warnings are really annoying me. Not because of what they say but just because they are there. I think there are more (in number) than there were before, because of the -Wall. If we could selectively disable them that would be great.

[2018-05-02 14:09] egli commented on #322
OK, O'm looking at the warnings now:

[code]

- 9 of them are _implicit-fallthrough_ (missing `break` statements in `switch` statements). I find these really hard to fix, as I don't know if this was intentional. I think we should just ignore those.

- 5 warnings are in `pattern.c`, unused functions for example. Here I'm not sure if we can just delete Mikes functions even if they're not used.

- 10

[2018-05-02 14:48] egli commented on #322
OK, so I'm going to disable the _implicit-fallthrough_ warnings.

Do you have a different gcc or a different architecture?

I'm on a 64-bit Intel machine with gcc 7.2.0

[2018-05-02 15:03] bertfrees commented on #322
Apologies! All this time I though I was using gcc but it appears to be a gcc front-end for llvm.

If I run `make CC=/usr/local/bin/gcc-7` (7.2.0 installed from source), I get a different output, but still there are a lot more than your 32. I also have an 64-bit Intel machine by the way.

    compileTranslationTable.c:247:22: warning: comparison between signed and unsigned integer expressions [-Wsi

[2018-05-03 10:08] egli commented on #322
so my change to selectively disable some warnings using the `-Wno-foo` doesn't work on mingw and causes the build to fail. I guess the mingw on travis uses a very old gcc.

So we would have to write some workarounds to treat the mingw build differently.

TBH, I'm not sure if all of this is worth the trouble

[2018-05-03 10:14] egli commented on #322
Reverted 3597e72

[2018-05-03 10:14] bertfrees commented on #322
For me it's definitely worth the trouble. Having to skim 132 warnings to check if there are new ones every time you change some code is just not workable. Doesn't this just require a little ifdef in the Makefile.am? Doesn't sound like a lot of trouble.

[2018-05-03 14:14] bertfrees commented on #322
With clang and https://github.com/liblouis/liblouis/pull/566 I'm getting only 34 warnings:

    compileTranslationTable.c:1020:13: warning: comparison of unsigned enum expression < 0 is always false [-Wtautological-compare]
    lou_translateString.c:1924:47: warning: missing field 'dotsnext' initializer [-Wmissing-field-initializers]
    lou_translateString.c:2368:41: warning: missing field 'end'

[2018-05-03 14:32] egli commented on #322
Hm, is that good news or bad news?

AFAIK the warnings module defines a set of warnings and then checks if the compiler supports them. I guess before we had `-Wall` and the actual meaning of that was defined by the compiler. That would explain why you had many more warnings.

With #566 the set of warnings is hard coded in [gnulib/m4/manywarnings-c++.m4](https://github.com/liblouis/liblouis/pull/56

[2018-05-03 14:42] bertfrees commented on #322
I was not attached to those other warnings so it's not bad :)

I just find it a bit strange that before I got tons of `-Wsign-compare` warnings whereas now I get only one. If I would have gotten none I could understand, than that would be because the manywarnings module didn't enable it. But now...

Anyway, I don't need to fully understand. The important thing is that with #566 we can now selectiv

[2018-05-07 14:47] egli commented on #544
@jtojnar Can you try with a different automake and/or libtool? Thanks

[2018-05-07 15:09] jtojnar commented on #544
* Both libtool 1.5.26 and 2.4.6 (default) fail with the same error as above.
* automake 1.16.1 (default) fails with the same error as above.
* autoconf 2.69 (default) also fails with the same error.

The other automake and autoconf version we have packaged seems to be too old:

* automake 1.11.6
[code]

* autoconf 2.64

[code]

* autoconf 2.13
[code]

What versions do you use?

[2018-05-08 13:28] egli commented on #546
I can reproduce this is a i386 Docker image

Build the image with attached [this Dockerfile](https://github.com/liblouis/liblouis/files/1984025/Dockerfile.i386.txt)

[code]

then run as follows

[code]

[2018-05-09 08:49] egli commented on #546
So I used a debug build of Python, built liblouis liblouis with debugging enabled and tried to get a core dump for the crash. The [Dockerfile](https://github.com/liblouis/liblouis/files/1987023/Dockerfile.i386.txt) is adapted and I'm starting the image so that a core dump should be generated:
[code]
Then again I used the [above recipe](https://github.com/liblouis/liblouis/issues/546#issuecomment-3

[2018-05-09 08:54] egli commented on #546
Hm, OK, reading the report again. @sthibaul you have provided a pretty detailed back-trace and you seem to have a clue where the problem could be. Is this some problem in the Python bindings with an empty input string?

[2018-05-09 08:58] sthibaul commented on #546
What does "ulimit -c" return within the bash shell? perhaps you could just run "ulimit -c unlimited" in there before running python.

I don't really have a clue where the problem comes from, I have just printed which NULL value produces the segfault, I don't know why it is so :)

I wouldn't think that it is particularly due to an empty input string, since it is working in 64bit. But perhaps there

[2018-05-09 09:01] sthibaul commented on #546
(or even just run gdb inside the docker shell)

[2018-05-14 08:38] egli commented on #544
- automake: 1.15
- autoconf: 2.69
- libtool: 2.4.6

[2018-05-14 13:00] jtojnar commented on #544
It builds with automake 1.15.1, it fails with automake 1.16 and 1.16.1.

[2018-05-14 18:13] faddah opened #569 "Plans to update liblouis-build to current LibLouis v3.5.0?"
Hello,

We are implementing LibLouis in a package of components we are making for an App that is Braille training mostly for families of people with vision impairment. When we do as your README.MD instructions indicate to do for install into our project, which is to say —

[code]

The highest version for `liblouis-build` in that case is v.3.2.0, but the latest LibLouis, per its main web site (http

[2018-05-14 18:59] bertfrees commented on #569
Hi faddah,

The pre-built binaries are continuously built (available here: https://github.com/liblouis/js-build). However they are currently not being pushed to the npm registry, and I don't know how to do that manually.

CC @reiner-dolp

[2018-05-15 18:11] faddah commented on #569
hi @bertfrees & @reiner-dolp,

thank you for responding and i hope to hear further word from @reiner-dolp. that's another question i have — there are three liblouis JavaScript support NPM packages & corresponding GitHub respositories — this one, [liblouis](https://github.com/liblouis/liblouis/issues/569), there's the [liblouis-js](https://github.com/liblouis/liblouis-js), and the one you mention,

[2018-05-15 19:09] bertfrees commented on #569
As far as I understand the `liblouis-build` package is the same as `liblouis/js-build`, with the only difference being that `liblouis-build` is hosted in [a NPM registry](https://www.npmjs.com/package/liblouis-build) while `liblouis/js-build` is hosted [on GitHub](https://github.com/liblouis/js-build) and allows you to specify versions on a finer level (e.g. `npm install liblouis/js-build#commit-4

[2018-05-16 13:37] egli commented on #546
@sthibaul I'm a bit stumped on this issue. Do you think this is some kind of bad interaction between the liblouis Python bindings and an empty input parameter? Or is it that the liblouis API maybe returns null where the liblouis Python bindings do not expect it?

[2018-05-16 18:49] faddah commented on #569
Hi @reiner-dolp & @bertfrees,

Thank you for your answers and clarification. And for answering @andersryanc 's question over in liblouis-js - he's my boss at our Digital Agency, where we're trying to implement LibLouis into a React Native app. thank you again.

You can go ahead and close this one out if you like.

best,

—  faddah

[2018-05-18 04:57] syed-waris opened #571 "Hindi Braille dots getting translated unexpectedly"
I am using liblouis with BRLTTY. I am working on hindi language.
Taking the example of this word:
नोन
Its unicodes are (in reality) : 0x928, 0x94B, 0x928.
By doing **forward translation** (using liblouis) of the word (नोन) I got the following braille dots:
1345-135-1345
Now I Back translated these braille dots and got:
0x928 0x912 0x928
But this not the original word. Instead this is another word.

[2018-05-18 12:14] syed-waris commented on #571
Table being used: hi-in-g1.utb

[2018-05-24 07:10] josephsl opened #572 "en-ueb/en-gb grade 2: several back-translation issues reported by JAWS users"
Hi,

The following issues were reported on a JAWS list. The user who reported this says he is using JAWS 2018 May update which ships with Liblouis 3.5:

Several back-translation issues were observed with the following braille tables/texts:

* UEB grade 2: first -> firsts's; it's -> x's
* UK English grade 2: ball -> balittle and any word that has two l's consecutively

These were also confirmed on

[2018-05-24 07:10] josephsl commented on #572
Possible reference: #562

[2018-05-24 14:32] egli commented on #495
Presumably this change would have to be in `check_base` in [`brl_checks.c`](https://github.com/liblouis/liblouis/blob/master/tools/brl_checks.c#L67)

[2018-05-24 15:06] bertfrees commented on #495
Not related to your failures, but related to this issue: I've thought about adding a new option `realInputLength`, which would be used in combination with `maxOutputLength` and would check the returned inlen. In the absence of a `maxOutputLength`, the returned inlen should always be equal to the original inlen, otherwise I'd say there is a bug in the test framework or the library.

We set `outlen`

[2018-05-24 22:36] sthibaul commented on #546
I don't think it's a problem of the API returning null where liblouis Python bindings do not expect it, since it's working fine in 64bit. I'd really rather think about an overflow or something like that.

[2018-05-24 22:43] sthibaul opened #573 "Buffer overflow in table parsing"
Hello,

On https://bugzilla.redhat.com/show_bug.cgi?id=1582024 there is a report of buffer overflow in liblouis, when running

    lou_checktable POC

[POC.zip](https://github.com/liblouis/liblouis/files/2037340/POC.zip)

We get a free error, and running in valgrind gives

    ==9566== Invalid write of size 4
    ==9566==    at 0x4E555C5: pattern_compile_expression (pattern.c:715)
    ==9566==

[2018-05-25 08:26] #573 closed

[2018-05-25 08:27] egli commented on #573
@sthibaul Thanks for the report and the patch. Fixed in master and will be in 3.6

[2018-05-25 10:12] fgeek opened #575 "ASAn stack-based buffer overflow in compileTranslationTable.c parseChars"
[5ce93fef85b68c5ecb4561bf1aedb52d1b1f368e.ctb.zip](https://github.com/liblouis/liblouis/files/2038800/5ce93fef85b68c5ecb4561bf1aedb52d1b1f368e.ctb.zip)
Tested version 3.5.0 and commit ed6b00aea08005945c9ae8a4a4503acc43f3a844
Might be related to: https://bugzilla.redhat.com/show_bug.cgi?id=1582024
Credit: Henri Salo
[code]

[2018-05-25 15:05] #493 closed

[2018-05-25 20:19] carnil commented on #575
This issue has been assigned http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-11440

[2018-05-25 21:14] BueVest commented on #263
When starting a new round of tests with a new table (specified as file or inline), should I perform a lou_free(), or would it be enough to call lou_getTable again (or lou_compileString())? Wouldn't lou_compileString just add to the already loaded table?

[2018-05-28 08:32] egli commented on #544
Thanks @jtojnar, sounds like it might be a regression in automake. I'll try to create a minimal test case and take it up with automake upstream

[2018-05-28 08:39] bertfrees opened #578 "Test for zh-tw"
@school510587 It would be great to have some YAML tests for the zh-tw table. The main purpose is to safeguard your work, making sure other people (or yourself) won't break certain things. And it could also help other people to understand the Taiwanese braille code, if the tests got comments.

[2018-05-28 08:59] #412 closed

[2018-05-28 09:36] school510587 commented on #578
Hi @bertfrees,

OK, I will soon discuss this with other reviewers (or users) from Taiwan.
Sorry, before this, where can I find some useful references about running YAML tests?
So far I have a Ubuntu environment, and I can compile your source code successfully.
However, I don't know which command I should use to handle a YAML test.
This includes (1) how to check syntax errors, and (2) how to get th

[2018-05-28 09:49] egli commented on #578
Hi @school510587, the [documentation](http://liblouis.org/documentation/liblouis.html#YAML-Tests-1) should provide you with a good start. To run the tests automatically `make check` should work if you installed `libyaml-dev` previously and ran `configure` after that. `./configure` should report something like that
[code]
Also have a look at some of the other yaml files under `tests/braille-specs`

[2018-05-28 09:55] bertfrees opened #579 "Nightly builds are not being deleted anymore"
When a new asset is added to the "[snapshot](https://github.com/liblouis/liblouis/releases/tag/snapshot)" release, the old assets aren't deleted.

In other words, this code stopped working:

[code]

[2018-05-28 09:57] bertfrees commented on #578
You don't need Ubuntu to run tests. You can also download the pre-compiled binaries for Windows: https://github.com/liblouis/liblouis/releases/download/snapshot/liblouis-win32-f5858e9.zip. The "lou_checkyaml" file can be used to run YAML tests.

[2018-05-28 10:02] bertfrees commented on #322
I don't know why I said before that I only got 34 warnings with #566. I tried it again and I'm getting 391! This is at commit edcc09a. When I checkout the latest commit of #566 I only get 182, so you indeed managed to fix a lot of them. How many warnings have you got left?

<details>
<summary>List of errors</summary>
<pre>
compileTranslationTable.c:247:22: warning: comparison of integers of differ

[2018-05-28 12:51] kirotawa commented on #573
just to log it, it was assigned CVE-2018-11410  for this issue.

[2018-05-28 17:32] school510587 commented on #578
Hi @bertfrees,

Think you for this information. I just downloaded the zip file and tried to run lou_checkyaml.
However, I got the following error:
D:\liblouis-win32-f5858e9\bin\\share\liblouis\tables is not a directory
My lou_checkyaml is under D:\liblouis-win32-f5858e9\bin directory.
Then, there are two problems:
1. I can't get any .yaml file from this distribution file, so I must specify D:\libl

[2018-05-28 17:57] school510587 commented on #578
Hi @egli,

Thank you for this information. I executed the following commands:
$ ./autogen.sh
$ ./configure
$ make
$ make check
Then, I checked the output of stdout, and I got:
SKIP: braille-specs/zh-chn.yaml
There were many YAML tests being skipped. Taking zh-chn.yaml for an example, I also tried to make check under tests directory:
$ cd tests
$ make check TESTS=braille-specs/zh-chn.yaml
Then, I s

[2018-05-28 20:45] school510587 commented on #578
Hi @egli,

Sorry, I was not familiar to YAML tests. After this command:
$ sudo apt-get install libyaml-dev
I successfully run a YAML test on my Ubuntu environment.
Nevertheless, the command is introduced in the documentation before libyaml:
$ make check TESTS=yaml/en-ueb-g2_backward.yaml
I suggest that the documentation remind user to ensure libyaml installed before showing the command.
Thanks!

[2018-05-29 06:53] egli commented on #578
Hi @school510587

OK, thanks for the comment. I'll put something in.

[2018-05-29 06:58] egli commented on #578
As far as I know the only reason why the YAML test suite would return _SKIPPED_ is when it cannot find the yaml libraries. But I see that you managed to resolve that issue.

[2018-05-29 07:13] egli commented on #578
Hopefully 53b839f83ca7ee3c8fcda590c1deae62d701130c makes the requirement on `libyaml` more clear.

[2018-05-29 07:33] school510587 commented on #578
Hi, @egli,

Yes, I directly typed "make check" and found all YAML tests were skipped, but I didn't know the reason.
Then, I added "TESTS=" argument, and I got the same result.
Thus, I think that if the documentation remind the users first that they must install libyaml, the confusion will not happen again.
I have received your improvement in the documentation. Thanks.

By the way, I do not success

[2018-05-29 08:19] egli commented on #495
With #580 which is supposed to resolve this issue I get 26 failures.

[2018-05-29 10:13] bertfrees commented on #578
No, I don't think it would be appropriate to distribute the whole test suite. Usually as a user of lou_checkyaml you are only interested in one table and one test, moreover a test that you are probably creating yourself.

The table defined in the YAML file is a relative path. If your test file is located at D:\liblouis\tests\braille-specs\xxx.yaml and you specify your table as `[zh-tw.ctb]`, the t

[2018-05-29 11:35] school510587 commented on #578
Hi @bertfrees,

Taking zh-chn table for an example, I test lou_checkyaml.exe for 3 cases as follows.
My lou_checkyaml is D:\liblouis-win32-f5858e9\bin\lou_checkyaml.exe.
I track liblouis repository in D:\liblouis directory.
Finally, I create a .bat file under D:\liblouis-win32-f5858e9 directory.
The .bat file contains one basic command:
bin\lou_checkyaml D:\liblouis\tests\braille-specs\zh-chn.yaml

[2018-05-29 12:18] bertfrees commented on #578
1. It depends on how your refer to the table in your test. If you are using the `table: [zh_CHN.tbl]` form, it should resolve the table just fine. If you are using the query form `table: {locale: zh-CHN}`, you indeed need to set the LOUIS_TABLEPATH environment variable to the directory containing your table.

2. This is indeed a bit odd. We should probably try to fix that.

3. Correct. LOUIS_TABLE

[2018-05-29 20:40] school510587 commented on #578
Hi @bertfrees,

Thanks a lot for the explanation. Now I have some basic knowledge about the YAML tests.
I will notice the difference of two table reference expressions.
So far, I think the test will be really needed when "noback context" rules are applied to implement duoyinzi.
Thus, I will try to submit an initial small YAML test in these days, before your next release date (06/04).
It should clo

[2018-05-29 21:18] bertfrees commented on #263
@BueVest Why are you asking? This feature has already been implemented. You can see in lou_checkyaml.c how I've implemented it. I use `compileString(name, line)` to compile the table line by line. `name` is a generated name that is unique for each inline table.

[2018-05-30 09:52] Edward-L opened #582 "SEGV-logging-c-148"
asan report
[code]
poc:[poc](https://github.com/Edward-L/fuzzing-pocs/blob/master/liblouis/SEGV-logging-c-148.poc)

[2018-05-30 10:22] timothytylee opened #583 "en-ueb-g1.ctb back translation returns wrong inlen"
**Steps to Reproduce**
Run the following code:
[code]

**Expected Result:**
inlen == 4

**Actual Result:**
inlen == 2

**Liblouis Version**
3.5.0

[2018-05-30 10:39] timothytylee opened #584 "en-ueb-g1.ctb back translation of undefined braille does not fill in inpos"
**Steps to Reproduce**
Run the following code:
[code]

**Expected Result:**
inpos == [0, 0, 0, 0, 0]

**Actual Result:**
inpos is not filled in, and contains 5 random numbers

**Liblouis Version**
3.5.0

[2018-05-30 10:41] timothytylee commented on #583
outlen == 2
outbuf == ">>"
So this problem is not apparent from a call to lou_backTranslateString()

[2018-05-30 10:42] timothytylee commented on #584
After call,
outlen == 5
oubuf == "\345/"

[2018-05-31 11:35] bertfrees commented on #495
Possibly related: https://github.com/liblouis/liblouis/issues/583

[2018-05-31 11:54] egli commented on #322
[code]

[2018-05-31 12:01] egli commented on #263
Depends on #527

[2018-05-31 12:03] bertfrees commented on #483
Possibly related: https://github.com/liblouis/liblouis/issues/583

[2018-05-31 12:11] #582 closed

[2018-05-31 12:34] egli commented on #322
@bertfrees sorry, the list above is from the master branch. The `feature/selective_warnings` branch has the following errors:
<details>
<summary>124 warnings</summary>
<pre>
124 matches for "warning: " in buffer: *compilation*
    423:compileTranslationTable.c:181:3: warning: switch missing default case [-Wswitch-default]
    427:compileTranslationTable.c:1628:23: warning: comparison is always tru

[2018-05-31 12:45] bertfrees commented on #322
OK. Still looks like you get mostly different warnings then me.

[2018-05-31 19:56] school510587 commented on #578
Hi @bertfrees and @egli,

I have submitted one initial test suite in PR #588.
However, I failed to create test cases for punctuations.
For example, the following line is present in current zh-tw.ctb:
punctuation \xFF0C 23-0
Here, I think 23-0 means dot pattern 23 followed by a braille space character (U+2800), that is, ⠆⠀.
I put this line into the YAML test:
  - [，,⠆⠀]
Then, I got this feedback:

[2018-05-31 20:07] bertfrees commented on #578
At the dot 0 is always displayed as a space (Unicode U+0020). No rule can change that. See issue https://github.com/liblouis/liblouis/issues/561.

[2018-06-01 09:38] bertfrees opened #590 "Fix issues reported by Michael Robin"
See the test at https://github.com/liblouis/liblouis/pull/589

See the following posts on the mailing list for more details:
- [Missing grade 1 indicator for abbreviation or punctuation that looks like contracted braille](https://www.freelists.org/post/liblouis-liblouisxml/FW-Missing-grade-1-indicator-for-abbreviation-or-punctuation-that-looks-like-contracted-braille)
- [Contraction not fixed in U

[2018-06-01 23:07] fgeek opened #591 "ASAn stack-based buffer overflow in compileTranslationTable.c line 1157 in parseChars"
[14d235cfe68b9d1ed541da77a891465941afeb1c.ctb.zip](https://github.com/liblouis/liblouis/files/2064390/14d235cfe68b9d1ed541da77a891465941afeb1c.ctb.zip)
Tested commit: b381efd3248902ed2f9a797a46f79dfa0690a9c4
Credit: Henri Salo
Tools: [american fuzzy lop](http://lcamtuf.coredump.cx/afl/) 2.52b, [afl-utils](https://github.com/rc0r/afl-utils)
Thanks to Kapsi internet-käyttäjät ry for providing valuab

[2018-06-01 23:59] fgeek opened #592 "ASAn stack-based buffer overflow in compileTranslationTable.c in line 4560 in includeFile"
[8b587f82559d919cb75395ff4508c4e1d21fe9e6.ctb.zip](https://github.com/liblouis/liblouis/files/2064482/8b587f82559d919cb75395ff4508c4e1d21fe9e6.ctb.zip)
Tested commit: b381efd3248902ed2f9a797a46f79dfa0690a9c4
Credit: Henri Salo
Tools: [american fuzzy lop](http://lcamtuf.coredump.cx/afl/) 2.52b, [afl-utils](https://github.com/rc0r/afl-utils)
Thanks to Kapsi internet-käyttäjät ry for providing valuab

[2018-06-02 11:14] fgeek opened #593 "ASAn stack-based buffer overflow in compileTranslationTable.c in 3038 in compileHyphenation"
[9da60dd470ed9a8e2dddc7fdecd14f5c12b5326d.ctb.zip](https://github.com/liblouis/liblouis/files/2064927/9da60dd470ed9a8e2dddc7fdecd14f5c12b5326d.ctb.zip)
Tested commit: b381efd3248902ed2f9a797a46f79dfa0690a9c4
Credit: Henri Salo
Tools: [american fuzzy lop](http://lcamtuf.coredump.cx/afl/) 2.52b, [afl-utils](https://github.com/rc0r/afl-utils)
Thanks to Kapsi internet-käyttäjät ry for providing valuab

[2018-06-02 19:36] fgeek commented on #593
After 230 million AFL fuzzer executions and ~1922 crashes found I can only detect these three open issues currently when using lou_checktable binary. I can also check other binaries later.

[2018-06-03 00:48] sthibaul commented on #593
Well, it's good to check lou_checktable, but attackers usually control the text input, not the braille table, so it'd be more useful to try to run e.g.

lou_translate en-us-g2.ctb < fuzzy-input.txt

and even doing it for all .tbl, .ctb, and .utb files

[2018-06-03 07:41] fgeek commented on #593
@sthibaul I can do that next. Thanks

[2018-06-03 07:42] bertfrees commented on #546
Good catch! Thanks.

[2018-06-03 15:45] fgeek commented on #591
I can reproduce this issue (with bit different backtrace) using lou_translate binary.

[2018-06-04 08:21] egli commented on #546
@sthibaul thank you very much! Will be in today's release

[2018-06-04 09:34] #546 closed

[2018-06-04 10:04] #591 closed

[2018-06-04 11:53] egli commented on #591
I believe that both problems are fixed now.

[2018-06-04 12:12] #592 closed

[2018-06-04 13:48] #593 closed

[2018-06-04 14:04] abergmann commented on #591
[CVE-2018-11683](https://nvd.nist.gov/vuln/detail/CVE-2018-11683) was assigned to this issue.

[2018-06-04 14:04] abergmann commented on #592
[CVE-2018-11684](https://nvd.nist.gov/vuln/detail/CVE-2018-11684) was assigned to this issue.

[2018-06-04 14:05] abergmann commented on #593
[CVE-2018-11685](https://nvd.nist.gov/vuln/detail/CVE-2018-11685) was assigned to this issue.

[2018-06-04 16:08] egli commented on #421
Closed with #527

[2018-06-04 16:08] #421 closed

[2018-06-04 16:09] egli commented on #366
Closed with #527

[2018-06-04 16:09] #366 closed

[2018-06-04 16:09] egli commented on #263
Closed with #527

[2018-06-04 16:09] #263 closed

[2018-06-04 20:14] BueVest commented on #490
For the Polish, the Serbian and the portuguese tables, I think the reason is as follows:

When back-translating, the order of character definitions matters. This is relevant, e.g. if a table multiple accented letters as the same Braille pattern. You need to choose which accented letter to back-translate to. If you don't use "noback", Liblouis will always back-translate using the first definition o

[2018-06-05 06:29] abergmann commented on #582
[CVE-2018-11577](https://nvd.nist.gov/vuln/detail/CVE-2018-11577) was assigned to this issue.

[2018-06-05 21:09] fgeek opened #595 "ASan stack-based buffer overflow compileTranslationTable.c in 1130 in parseChars"
[4c8ecb4f49e783c3fff70b43869dda30351b5084.zip](https://github.com/liblouis/liblouis/files/2073999/4c8ecb4f49e783c3fff70b43869dda30351b5084.zip)
Tested commit: 15635b4769252c113765c9562c558fef27e4df22
Credit: Henri Salo
Tools: [american fuzzy lop](http://lcamtuf.coredump.cx/afl/) 2.52b, [afl-utils](https://github.com/rc0r/afl-utils)
Thanks to Kapsi internet-käyttäjät ry for providing valuable fuzzi

[2018-06-06 09:59] BueVest commented on #400
Would it be fair to assume the following?
1. Anything that is not defined with numericnocont or midnum should cancel numeric mode.
2. Anything that is not a capital letter should cancel capsword mode.

AFAICS, this seems to be the way things work during forward translation.

[2018-06-06 14:47] #595 closed

[2018-06-07 15:03] egli opened #596 "Use rfc5137 to escape unicode chars"
[RFC 5137](https://tools.ietf.org/html/rfc5137) defines a syntax to escape unicode characters. liblouis uses a different one. Shouldn't we use the standard?

We should move away from our home-grown parsing routines as the recent slew of buffer overflows has shown. For that we should have standard compliant input.

Of course you can argue that that constitutes a major backwards incompatibility of q

[2018-06-08 08:08] MarcoZehe opened #597 "Lots of backtranslation errors in German grade 2"
[![Fund this issue](https://liblouis.github.io/images/Fund_button.svg)](https://issuehunt.io/r/liblouis/liblouis/issues/597)
---

The German backtranslator, used in NVDA, for example, has a lot of errors where characters or character combinations are expanded from their contractions inappropriately. That is, there are words in German where there are character combinations that are _not_ appropriat

[2018-06-08 08:29] egli commented on #597
We (speaking with my [Swiss Library for the Blind, Visually Impaired and Print Disabled](http://www.sbs.ch) hat on) originally created the German tables. As we are mainly interested in forward translation that is where we put our focus. We would welcome anyone who will enhance the tables so that they work better for backwards translation.

That said, we are working on a new set of tables that will

[2018-06-08 09:07] MarcoZehe commented on #597
Hi Christian @egli,

Thank you for the quick reply!

I'm not sure yet how this whole thing works, including how tests are written. I am not familiar with yaml or Liblouis. I am, in this regard, so far merely a user with a technical background. So there is a steep learning curve ahead for me, for example how I would go about getting these tables into NVDA to test with. I don't use Linux.

[2018-06-08 13:48] egli commented on #597
YAML is just a convenient form to express your expectations, i.e. you specify what output you expect from liblouis given some input. The [documentation](http://liblouis.org/documentation/liblouis.html#YAML-Tests-1) should hopefully explain this. Your error report from above would probably translate into something along the following:

[code]

That I don't know.

I know that you can test tables wit

[2018-06-11 23:05] tmthywynn8 opened #598 "en-us-comp6.ctb: comp6 class of characters not working as expected"
Using the en-us-comp6.ctb table, forward and back-translation is not working as I thought it should be according to the rules of Translation Opcodes. I've created [unit tests][1] for each character under the comp6 character dots class, as well as included an input/output comparison using both forward and back-translation using lou_translate below.

Forward translation:
Input: `ABCDEFGHIJKLMNOPQRST

[2018-06-12 07:30] kbabioch opened #599 "Scripts without shebang line (possible in wrong location)"
These script do not contain a shebang line, which technically they should have, since they live in `/usr/bin` and hence could be invoked directly. If the are not meant to be invoked directly, they should not be put under `/usr/bin`, but under `/usr/lib` instead.

    /usr/bin/lou_maketable.d/export_chunked_words.py
    /usr/bin/lou_maketable.d/generate_alphabet.py
    /usr/bin/lou_maketable.d/lou_

[2018-06-12 07:33] kbabioch commented on #599
This gets me warnings when building the service in the Open Build Service (OBS) for openSUSE for instance. You can find the log file attached.
[log.txt](https://github.com/liblouis/liblouis/files/2092990/log.txt)

[2018-06-13 09:24] egli commented on #388
@APavkovic I'm basically waiting for a patch. @leonardder said he was going to do it but I'd be happy to accept a fix from anyone

[2018-06-13 09:40] egli commented on #598
@tmthywynn8 thanks for the tests. I have no experience with the `en-us-comp6.ctb` table. Can you try to find out why it doesn't work? I find it a bit weird that it [includes](https://github.com/liblouis/liblouis/blob/master/tables/en-us-comp6.ctb#L28) the `latinLetterDef8Dots.uti` table for example.

[2018-06-13 17:01] tmthywynn8 commented on #598
What forward/back translation definition gets precedents? [According to the manual][1], "... every single-cell dot pattern should be defined before it is used in a multi-cell character representation. The best way to do this is to use the 8-dot computer braille representation for the particular braille code." I think that's why "latinLetterDef8Dots.uti" was included by @mhameed for its character d

[2018-06-14 21:09] bertfrees commented on #598
As far as I understand the manual, `comp6` rules are only enabled in [computer braille](http://liblouis.org/documentation/liblouis.html#Computer-braille) mode. Computer braille mode is set via the "typeform" argument, `compbrl` rules or the "mode" argument (compbrlAtCursor). I don't see any of that in your test.

[2018-06-14 21:23] bertfrees commented on #599
Hi. These files are indeed not meant to be invoked directly, but they also don't live *directly* under `/usr/bin`, rather in a subdirectory, so I wonder why it matters for SUSE then.

[2018-06-15 09:41] bertfrees commented on #598
I don't know what the difference between these tables you mention is and whether they are meant to be used standalone or not. Having a closer now... it looks like the en-us-compbrl.ctb and en-us-comp6.ctb files are (almost) exactly the same, and they have been like this as of the beginning of git history. Changing them the way you are suggesting, i.e. replacing the `comp6` rules with unconditional

[2018-06-15 10:50] school510587 commented on #537
Hi @bertfrees,

I wonder how liblouis selects the used rule.
For now, there are two rules about 賈:

noback context _1"\x5584"["\x8CC8"] @13-34-4
noback context _1"\x5584"["\x8CC8"]"\x800C\x6CBD" @13-23456-5

The shorter one is the default case when 賈 follows 善.
However, the longer one is a special case that 賈 has to be transcribed as 13-23456-5.

No matter the order is, liblouis selects the shorte

[2018-06-15 11:22] bertfrees commented on #537
If you change the order of the rules it works. The second rule is currently not being chosen over the first automatically.

[2018-06-15 11:27] bertfrees opened #600 "Make longer multipass rules more specific"
For example, consider this test:

[code]

The second context rule should be more specific.

[2018-06-15 11:32] bertfrees commented on #537
Which version of Liblouis are you using? Can you provide a minimal test?

The following works with version 3.6.0:

[code]

For the specificity issue, see https://github.com/liblouis/liblouis/issues/600.

[2018-06-15 11:35] school510587 commented on #537
Hi @bertfrees,

Now I successfully make it work by reordering. Thanks.
Perhaps there was some problem when I tested it previously.

[2018-06-15 11:37] BueVest commented on #537
You can try the following:

1.	Remove or comment out the short rule.
2.	Test the long rule with the short rule not present to potentially interfere.
3.	If the long rule works with the short rule removed, but not with the short rule present, then there is a problem with Liblouis, because Liblouis would normally always select the longer rule over the shorter one. If the long rule still doesn’t work,

[2018-06-15 11:47] school510587 commented on #537
Hi @BueVest and @bertfrees,

Thanks for the comment. After thorough testing, I'm sure I missed something previously.
However, it is really much better to adopt longer rules no matter the order.

[2018-06-15 12:31] kbabioch commented on #599
This is a check running in the OBS automatically, warning the user/packagers about any such issues. It matters because there are standards, such as the Filesystem Hierarchy Standard (FHS). This makes sure users know where to expect files and you can make certain assumption about an installation.

You'll find some of the details in the man page (see `man 7 hier`):

For `/usr/bin` it states:

[2018-06-15 12:40] bertfrees commented on #599
Would it be a solution to move /usr/bin/lou_maketable and /usr/bin/lou_maketable.d to /usr/lib/liblouis/ and add a symbolic link /usr/bin/lou_maketable -> /usr/lib/liblouis/lou_maketable?

[2018-06-15 13:47] bertfrees commented on #599
OK, thanks. I've added this issue to the 3.7 milestone.

The only script in lou_maketable.d with a shebang is substrings.pl. This script originates from another package (libhyphen) so I didn't want to change it.

By the way, thinking about it now, it might be a good idea for the openSUSE packagers to make the Liblouis package (optionally) depend on libhyphen and patch Liblouis to use the original

[2018-06-18 12:58] school510587 commented on #600
Hi @bertfrees, does this enhancement also apply to "correct" rules?

[2018-06-18 13:03] bertfrees commented on #600
Yes

[2018-06-18 20:45] tmthywynn8 commented on #598
Okay, I think I've gotten a handle on all of this, and should be able to write up the 6-dot U.S. Computer Braille Code table for Liblouis with relative ease. I've read the [second chapter of the Liblouis manual]1[], and skimmed through each chapter from the [CBC manual][2] to understand its rules. It would have been a lot easier if the CBC transcriber's manual was a tagged document, but what can y

[2018-06-19 17:15] bertfrees commented on #598
Indeed, you don't need the `always } 456-12456`, it's redundant if you have already defined `punctuation } 456-12456`.

Regarding the unit tests, I had a look at your YAML file before and I noticed you had a set of tests for forward translation and a set of tests for backward translation, but with the testmode "bothDirections" you only need the first part.

[2018-06-19 18:11] bertfrees commented on #571
I've added a YAML test demonstrating your problem: https://github.com/liblouis/liblouis/pull/602.

Have you already tried to get in touch with the authors of the table (Dipendra Manocha, Sreeja Param and Dinesh Kaushal)?

[2018-06-21 18:24] BueVest opened #603 "Get rid of the chunky chunk rules and use other means for exceptions"
After having declared the basic contraction rules, many grade 2 tables end up the following way:

always exception1 pattern
always exception2 pattern2
always exceptionToException1 longPattern
always exceptionToTheExceptionToException1 longPattern
always veryLongChunk veryLongPattern
always evenLongerChunk evenLongerPattern
...

This approach has the following two disadvantages:
1. overusing the "a

[2018-06-23 13:18] BueVest opened #605 "Convert as many of the C tests to yaml as possible"
Yaml tests are more flexible and easier to read. However, there may be situations when C tests are better, e.g. when testing special ways of calling different functions. So, perhaps we can't eliminate them completely.

[2018-06-25 12:46] moyanming opened #607 "NMAKE: fatal error U1073"
Hi all,
I download the latest liblouis and want to build the DLL for Windows. But there is an error:

C:\Program Files (x86)\Microsoft Visual Studio\2017\Community>nmake /f c:\file\liblouis-3.6.0\windows\Makefile.nmake

Microsoft (R) 程序维护实用工具 14.14.26429.4 版
版权所有 (C) Microsoft Corporation。  保留所有权利。

NMAKE : fatal error U1073: Dont know how to make“..\liblouis\commonTranslationFunctions.c”
Stop.

A

[2018-06-25 14:11] egli commented on #607
I don't really have any experience with nmake, but is there a file `..\liblouis\commonTranslationFunctions.c`?

[2018-06-26 08:42] moyanming commented on #607
Hi @egli ,
There is a file "..\liblouis\commonTranslationFunctions.c".
I have solved this issue. I must include the VS path (C:\Program Files (x86)\Microsoft Visual Studio\2017\Community) to the "Path" of the environment variable, and then open the command prompt and go to the path of "liblouis-3.6.0\windows", then run the command "nmake /f Makefile.nmake".
It will be good if the doc (README.windo

[2018-06-26 08:44] egli commented on #607
@moyanming can you update `README.windows` and send a patch? Thanks

[2018-06-26 09:36] moyanming opened #608 "How to make a DLL runs on ARM (Windows 10 OS)?"
Hi all,
The Windows 10 runs on ARM, but how to make a DLL runs on ARM? Any ideas?

Best regards.

[2018-06-26 09:40] moyanming commented on #607
Hi @egli ,
OK, I will update the README.windows and send a "pull request" (or a patch).
Best regards.

[2018-06-26 10:08] egli commented on #607
Hi @moyanming
Cool thanks

[2018-06-26 10:13] egli commented on #608
Hi @moyanming

You might be better of asking the mailing list. I don't know if anyone looking at the issues knows the answer to that question.

[2018-06-26 10:13] #608 closed

[2018-06-28 07:36] Faisalsalipada commented on #608
Give in

[2018-06-28 07:37] Faisalsalipada commented on #583
Open

[2018-06-28 14:13] #607 closed

[2018-06-30 11:59] sthibaul opened #610 "braille-specs/da-dk-g26 fails"
Hello,
`
braille-specs/da-dk-g26 fails in Debian:

lou_checkyaml:./braille-specs/da-dk-g26.yaml:802: found unknown escape character

The yaml file indeed reads

  `- ["⠈⠁⠋", "\'af"]`

while just above we had

  `- ["⠈⠨⠴", "'Af"]`

I patched it to remove `\` [patch.txt](https://github.com/liblouis/liblouis/files/2151677/patch.txt) I guess that e.g. depending on the version of yaml `\'` is supported

[2018-06-30 21:14] bertfrees commented on #610
LGTM.

[2018-07-02 12:42] #578 closed

[2018-07-09 18:35] bertfrees commented on #400
Yes I think so.

[2018-07-09 18:39] bertfrees commented on #400
There is also the [`capsnocont`](http://liblouis.org/documentation/liblouis.html#capsnocont-opcode) opcode.

[2018-07-09 20:03] rimas-kudelis commented on #400
I would add "that is not a number" here.

Yes, I think this should be true. But I guess there could be a `midcapsword` opcode for the sake of completeness too, which could be used with e.g. a hyphen.

[2018-07-09 20:17] bertfrees commented on #400
1. Anything that is not defined with numericnocont or midnum should cancel numeric mode.

@BueVest Did you mean `numericmodechars`?

[2018-07-10 12:01] BueVest commented on #400
I actually ment midnum, as I was not aware of the other opcode, but, of course, it also goes for numericmodechars. I think they complement each other very well.

Fra: Bert Frees [mailto:notifications@github.com]
Sendt: 9. juli 2018 22:18
Til: liblouis/liblouis <liblouis@noreply.github.com>
Cc: Bue Vester-Andersen <bue@vester-andersen.dk>; Mention <mention@noreply.github.com>
Emne: Re: [liblouis/li

[2018-07-19 18:31] tmthywynn8 commented on #598
Update: I haven't rewritten the unit tests yet, because I accidentally deleted my work without option for recovery, and that brought motivation a bit down. The [6-dot computer braille table][1] is now complete though&mdash;documenting the whole way, perhaps a tad too much. I'm not too sure about the metadata information, but the rest *should* be according to spec.

[1]: https://github.com/liblouis

[2018-07-21 16:03] BueVest commented on #439
I could make the new opcode as part of my work on issue 400. How about calling it "midnumchars"?

[2018-07-21 20:15] bertfrees commented on #439
OK a new opcode sounds good. Not sure about the name "midnumericmodechars" yet.

[2018-07-22 10:52] BueVest commented on #439
I thought about calling it midnumchars, but it comes to close to midnum. As I wrote on the mailing list, midnum seems to be behaving rather strangely, both when using numericmodechars and when not using it. I haven’t really found the pattern, and I think we should save it for another PR not to make things too complicated.

Any good ideas for another name than the rather long midnumericmodechars?

[2018-07-22 19:56] bertfrees commented on #439
Nope :)

What exactly about the behavior of midnum do you find strange? Just the fact that it does not imply numericmodechars? From [this example](http://snaekobbi.github.io/liblouis-table-spec/#midnum) that I did some time ago it seems that it used to be different indeed. Mike must have broken it. Maybe on purpose, maybe not. Anyway, I like the current behavior. The two aspects of the old `midnum

[2018-07-23 05:41] rimas-kudelis commented on #439
How about `startnumericmodechars`, `midnumericmodechars` and perhaps `endnumericmodechars`? Current `numericmodechars` would act like an alias to all three then.

[2018-07-23 09:08] bertfrees commented on #439
I don't see how `endnumericmodechars` would make sense.

[2018-07-23 09:56] rimas-kudelis commented on #439
Well, in a string like `1.a` you may want to control whether numeric mode is cancelled before or after the full stop. But on the other hand, such functionality may be ommitted until there's explicit need for it.

[2018-07-23 10:43] bertfrees commented on #439
OK yeah, that would make sense.

At the moment there is maybe no use case for controlling the behavior, but maybe we should consider it anyway because the name of `midnumericmodechars` also depends on it. Depending on the behavior I think it should be called `midnumericmodechars` or `midendnumericmodechars`. (And in the latter case, you might even argue that it's better to split it up in two group

[2018-07-23 14:45] BueVest commented on #439
I agree that there may theoretically be cases where “endnumericmodechars” might see to the correct placement of letsign between a number and a letter with intervening punctuation. But, like you say, I have never heard of a Braille code where this is an issue.

In #611, it currently works as follows:

Numericmodechars and midnumericmodechars are identical, except except midnumericmodechars does not

[2018-07-23 16:19] BueVest commented on #439
On second thoughts, perhaps we should keep numericmodechars and midnumericmodechars as they are now, at least in this PR. Then we can change numericmodechars to begnumericmodechars in a subsequent PR, either before or after the next release. Doing that won’t affect the current midnumericmodechars opcode, which will then already be in place.

Just trying to not make things too complicated. )

[2018-07-23 17:31] BueVest commented on #439
But there is no ”end” part to the opcode, neither codewise nor conceptually. It only makes the opcode even longer.

[2018-07-23 17:36] bertfrees commented on #439
OK I didn't realize that. Could you maybe add a YAML test for it? In issue-400.yaml for instance.

[2018-07-23 19:03] bertfrees commented on #439
Great, thanks for the test!

So you added:

[code]

This shows that numeric mode is ended with a `;` *after* the `-`, which is defined as a `midnumericmodechars`. This is why I suggested to call it `midendnumericmodechars`, to make clear that the `-` can be the last character in a number.

[2018-07-24 08:41] BueVest commented on #439
Good point. I was thinking in Danish Braille where you always need a letsign before the next letter after a digit, no matter what punctuation or other sign comes in between or whether the letter can be a digit or not. I currently use context rules to take care of that.

So, should we call it midendnumericmodechars? It is probably the longest opcode I have seen yet. )

[2018-07-24 10:36] bertfrees commented on #439
It is long yes. [I've suggested before](https://github.com/liblouis/liblouis/wiki/New-opcodes-for-UEB#numericmodechars) to change `numericmodechars` to `nummodechars`, which is slighty shorter. But maybe we can even bring it down to `numchars`. Then `midendnumericmodechars` becomes `midendnumchars`. The only problem is that by doing this we kind of define a "num" to be the sequence of characters e

[2018-07-24 11:07] BueVest commented on #439
We could remove the ”eric” part, but the “mode” part is more difficult, I think. Then, we get CTC_Num and CTC_MidEndNum, which is confusable with midnum and endnum etc. Capswordchars would probably be a better word than capsmodechars, since it is concerned with the begcapsword/endcapsword opcodes only, not begcaps/endcaps or begcapsphrase/endcapsphrase.

Ok then, I think I would prefer to stick to

[2018-07-24 11:12] bertfrees commented on #439
But the confusion would be gone if `midnum` is changed back to the old behavior. Do you agree?

It's OK to do the naming cleanup in a subsequent PR.

[2018-07-24 11:30] BueVest commented on #439
Ah, perhaps not quite. Begnum/midnum/endnum are strings with corresponding Braille patterns, not lists of characters, even if those opcodes are often used with only one character at a time. Also, there should be no need for all the characters in a midnum string to be members of numericmodechars or midendnumericmodechars, as midnum is concerned with the actual string, not the individual chars.

I h

[2018-07-24 16:09] BueVest commented on #439
I read the discussion in #146, and I agree with you that we should to give the processing of numbers an overhaul to ensure that it serves everybody’s needs.

I like the idea of a generic context opcode with macros to serve as the different opcodes we have now, something like regex in macro form. It would then be possible to write tables at different levels. You could use the generic macro template

[2018-07-24 16:17] bertfrees commented on #439
The idea was taken from Mike Gray's prototype of a new generation Liblouis. Processing speed should indeed be a first concern. The context opcode might need some work in order to make this feasible.

[2018-07-24 17:01] BueVest commented on #439
Well, count me in when we get to work on it. )

[2018-08-03 11:36] loomee opened #615 "The always opcode unworking after the numeral."
[![Fund this issue](https://liblouis.github.io/images/Fund_button.svg)](https://issuehunt.io/r/liblouis/liblouis/issues/615)
---

I don't know if this is bug.
Reference #612
***
I use the sign opcode to define Chinese characters.
When the always opcode is behind the numeral,
if there is no space symbol between them,
the always opcode is failed.
In other words:
When the Chinese character is behind

[2018-08-08 16:37] bertfrees opened #617 "Update Urdu tables"
See https://www.freelists.org/post/liblouis-liblouisxml/Updated-Urdu-Tables

[2018-08-08 20:00] bertfrees commented on #615
It's a bit hard for me to understand without examples. Would it be possible to create a little YAML test to demonstrate the problem?

[2018-08-21 20:53] #489 closed

[2018-08-21 21:02] bertfrees opened #621 "lou_translate: add possibility to specify table via query"
For example

[code]

This can be made backward compatible if we assume that table names will never include a colon.

[2018-08-21 21:04] bertfrees commented on #596
So basically `\x1234`, `\y12345` and `\z12345678` would change to `\u1234`, `\u12345` and `\u12345678`?

[2018-08-21 21:49] bertfrees commented on #598
@tmthywynn8 I'm thinking about including this in the next release. But there are still some things to do.

- [ ] The table that you attached to your last message does not pass the test that you attached to  your first message. The file had some syntax errors in it which I fixed, but there are still a couple of failures (notably the backslash and the tab).
- [ ] Possibly you could add that other ta

[2018-08-21 21:51] bertfrees opened #622 "Restore the feature to set computer braille mode via typeform"
Using the typeform argument to force computer code does not work anymore as of Liblouis 3.0.0. The feature was accidentally removed in https://github.com/liblouis/liblouis/commit/b1a74b3a58fff76ec6ce0a011effa0fd7596be43 (also mentioned [here](https://github.com/liblouis/liblouis/pull/517#issuecomment-366938494)).

[2018-08-22 21:39] bertfrees commented on #615
It's indeed weird. But I don't know if it's a bug. With the following minimal table, your test works:

[code]

Need to investigate further.

[2018-08-23 09:26] egli commented on #596
Afaik, yes. I think the point is more that we should use existing, battle-tested and established parsing code.

[2018-08-23 09:57] bertfrees commented on #596
I'm not totally convinced that we need external code to do the parsing actually. I do think it's nice to conform to a standard, but the parsing is really so trivial that I think our own code is also fine. I'm more interested in which other standards exist for escape sequences. Apart from the `\x` we support a bunch of other escape sequences (`\\`, `\s`, `\n`, `\r`, `\t`, `\v` and `\e`). I assume t

[2018-08-23 10:05] bertfrees commented on #483
PR will follow.

[2018-08-23 10:06] #495 closed

[2018-08-23 10:30] bertfrees commented on #596
I was referring to the escaping part, not the UTF-8 specific things. But you're right, a Unicode library would probably deal with the whole package so would fix UTF-8 issues and give us the escaping for free.

[2018-08-23 10:43] bertfrees commented on #596
By the way, the YAML parser also [processes escape sequences](http://yaml.org/spec/1.2/spec.html#escaping/in%20double-quoted%20scalars/) inside double quotes. Because of this you end up with situations like `"\\\\"` to represent a single backslash in an input string. It would be less confusing if there would be only a single escape resolving step, and if YAML's escape sequences would be a superset

[2018-08-23 11:27] #610 closed

[2018-08-23 13:38] #617 closed

[2018-08-23 19:01] school510587 commented on #537
Hi @bertfrees and @egli,

Is U+2800 allowed in a YAML test now?
I'm writing the YAML test corresponding to each multipass rule in the next zh-tw.ctb version.
參、 and 陸、 are present in the rules, and the test cases are:

  - - 參、
    - ⠑⠧⠄⠠⠀
    - outputPos: [0, 3]
      inputPos: [0, 0, 0, 1, 1]
  - - 陸、
    - ⠉⠎⠐⠠⠀
    - outputPos: [0, 3]
      inputPos: [0, 0, 0, 1, 1]

However, my test fails bec

[2018-08-23 21:04] bertfrees commented on #537
No this is still not supported. It's discussed in this issue: https://github.com/liblouis/liblouis/issues/561. The only way to deal with it for now is to use spaces in your YAML tests.

[2018-08-23 22:52] bertfrees commented on #584
This has been replaced by https://github.com/liblouis/liblouis/pull/624 (https://github.com/liblouis/liblouis/pull/624/commits/8bd6f952016160e9ccb24abced8e3a7dbdb21da6).

[2018-08-23 22:53] bertfrees commented on #583
Fixed by https://github.com/liblouis/liblouis/pull/624 (https://github.com/liblouis/liblouis/pull/624/commits/aac37bf68968d2ede18dd4ed314bfbc1a78a3b2f).

[2018-08-24 07:55] egli commented on #583
#624 which fixes this has been merged

[2018-08-24 07:55] #583 closed

[2018-08-24 13:54] egli commented on #483
This has been fixed by #624

[2018-08-24 13:54] #483 closed

[2018-08-24 13:56] egli commented on #584
Fixed by #624

[2018-08-24 13:56] #584 closed

[2018-08-24 15:01] egli commented on #544
I believe this has been fixed with the merge of #619. Should be in the upcoming release.

[2018-08-24 15:01] #544 closed

[2018-08-24 21:07] bertfrees commented on #176
Also consider building for both UCS2 and UCS4.

[2018-08-25 08:43] loomee commented on #615
Hi! @bertfrees
I found the location of the problem.
There is such code in the en-ueb-g1.ctb.
"numericmodechars .,"
"numericnocontchars abcdefghij"
I don't know what they are for.
The first numericmodechars can exist alone.
The second numericmodechars can not exist alone.
The problem is caused by them.
Because the zhcn..ctb quoted the en-ueb-g1.ctb.

[2018-08-25 22:56] bertfrees commented on #615
Thanks. Nice catch. Looks like a bug to me. The following test fails but there is no reason it should.

[code]

[2018-08-26 08:24] derekriemer opened #626 "Some braille tables include 8 dot codes when not necessary."
Spinoff issue reported by and NVDA user.

it seems that some braille tables include 8 dot braille in cases where they should not be raising dots 7.
Please see this issue for reported cases of this.
https://github.com/nvaccess/nvda/issues/8497#issuecomment-404376025

and this comment from @dkager

CMB en-us-comp6.ctb file contains this line:
include latinLetterDef8Dots.uti

[2018-08-26 09:16] bertfrees commented on #626
Would it be possible to give us some examples of strings that currently have dot 7 in their translation, together with the expected translation?

Could you check whether https://github.com/liblouis/liblouis/issues/598 fixes your issue?

[2018-08-27 07:31] GatisGrintals opened #627 "Latvian braille table Lv-Lv-g1.utb"
[![Fund this issue](https://liblouis.github.io/images/Fund_button.svg)](https://issuehunt.io/r/liblouis/liblouis/issues/627)
---

Dear all,

I am interested in updating Latvian braille table (Lv-Lv-g1.utb) and was suggested to turn here.
There are some major updates needed, as some Latvian letters are wrong as well as we would like to define hyphenation.
Could anyone help us solving these issues?

[2018-08-27 08:58] bertfrees commented on #494
Fixed by 7998c3f54a51af5b332b6c7900731f64fab593b7.

[2018-08-27 08:58] #494 closed

[2018-08-27 09:03] bertfrees opened #628 "Change prebuilt MinGW package to UCS4"

[2018-08-27 09:08] bertfrees commented on #176
On second thought, only build UCS4: See https://github.com/liblouis/liblouis/issues/628

[2018-08-27 09:49] bertfrees commented on #627
Hi. Sure we can help you! We just need to know what is wrong and how it should be corrected.

The best way to go about this is probably by starting to list up some examples of text inputs together with the expected braille translations.

Once this is done, somebody needs to work on the Lv-Lv-g1.utb table to correct the issues. I don't know how much of a technical person you are and whether you wer

[2018-08-27 10:00] #579 closed

[2018-08-27 11:38] GatisGrintals commented on #627
Hi!
Thank you very much for fast reply. I am truly happy for will to help, thank you! Unfortunately I have to say that we do not have official materials in English about Latvian braille. I would like to correct basic mistakes that are there, and are not talking about math signs and similar signs (at least not at the moment).

So, here are things that we would like to change:

Capital letters:
U at

[2018-08-27 12:12] bertfrees commented on #627
It doesn't have to be in English. Latvian is perfectly fine too. Documentation about braille codes is rarely written in English.

Great, thanks. But could you provide at least one example for all of the issues you mentioned? Especially things like cursive require some examples in order to be clearly understood.

Also, in order to avoid any misunderstandings, could you present all examples in the s

[2018-08-27 12:31] egli commented on #490
I believe this has been fixed in #594

[2018-08-27 12:31] #490 closed

[2018-08-27 12:48] egli opened #629 "clang-format upgrade"
The liblouis source code was (and still is) formatted with `clang-format` 4.0. The newest version of `clang-format` is at 6 and Ubuntu LTS for example ships with it. So we should upgrade.

Unfortunately `clang-format` doesn't seem to care that much about backwards compatibility. The same source code looks different when formatted with `clang-format` 4 or 6 given the same config file.

So we need t

[2018-08-28 11:00] bertfrees commented on #628
No, this has nothing to do with that. This was a feature request on the mailing list: https://www.freelists.org/post/liblouis-liblouisxml/SV-regarding-spanish-braille,14.

[2018-08-29 10:54] egli commented on #628
Fixed in 9d2c06b3c02de36c02f20019b84a8a048ad86436

[2018-08-29 10:54] #628 closed

[2018-08-29 14:06] GatisGrintals commented on #627
Hi!

I have attached one file, in which all symbols are compiled. However, I have to say that it is not official material (the problem is that we lack official materials). As far as I understood from colleagues, there has to be ready methodical material till the end of the year.
At the moment there is discussions about capital letters (there is no capital letters in Latvian braille, however, now t

[2018-08-30 08:12] egli commented on #361
Fixed in #611

[2018-08-30 08:12] #361 closed

[2018-08-30 08:33] egli commented on #401
Fixed in #611

[2018-08-30 08:33] #401 closed

[2018-08-30 08:41] egli commented on #439
Fixed in #611.

[2018-08-30 08:41] #439 closed

[2018-08-30 12:55] egli commented on #599
Would it be ok to install under `/usr/libexec/`?

[2018-08-30 19:44] BueVest commented on #400
The xfails illustrate 2 issues, which are actually not mentioned in #400:

1.	During forward translation, nocontractsign is apparently not inserted between digits and numericnocontchars if the construct is enclosed in begcaps/endcaps.
2.	During back-translation, an “unnecessary” nocontractsign in the middle of a group of letters is not ignored, but results in a \dots output, e.g. \56. Actually, de

[2018-08-31 07:38] egli commented on #400
OK, I see. Fixed by #611 then

[2018-08-31 07:38] #400 closed

[2018-08-31 08:37] BueVest opened #631 "Numericnocontchars are not preceeded by nocontractsign when in a begcaps/endcaps block"
This issue is a spin-off of the discussion in #611 and the tests in issue-400.yaml.

If the first letter after a number (with no intervening space) is a numericnocontchar, a nocontractsign is always needed. Otherwise the letter will be interpreted as a digit by the reader and the back-translation routine. However, this does currently not happen, if the construct is part of a begcaps/endcaps block.

[2018-08-31 08:52] BueVest opened #632 "During back-translation, superfluous nocontractsigns/letsigns are not consumed"
This issue is a spin-off from the discussion in #611 and the tests in issue-400.yaml.

Currently, if an unnecessary nocontractsign is encountered during back-translation, it is not consumed, but results in a \dots output. Should also be tested with other indicators like endcaps and endcapsword.
Liblouis itself, presumably does not generate any superfluous indicators during forward translation, but

[2018-08-31 14:15] leonardder commented on #187
[**@mwhapples**](https://github.com/mwhapples) commented on [11 jul. 2016 15:29 CEST](https://github.com/liblouis/liblouis/issues/187#issuecomment-231734282 "2016-07-11T13:29:53Z - Replied by Github Reply Comments"):

Actually, UCS-4 and UTF-32 should be compatible, as they are both 4 bytes in size. Python, though claiming to be using UCS-2 internally for Python 2, seems to be already using UTF-16

[2018-08-31 15:06] leonardder opened #634 "X86 builds are broken on Windows"
I'm unable to build liblouis master using nmake:

<details>
<summary>Output</summary>
<pre>
d:\Development\GIT\liblouis\windows>nmake /f Makefile.nmake

Microsoft (R) Program Maintenance Utility Version 14.15.26726.0
Copyright (C) Microsoft Corporation.  All rights reserved.

        cl /nologo /O2 /W3 /c /MD /Iinclude /D_EXPORTING /D_CRT_SECURE_NO_WARNINGS /D_CRT_NONSTDC_NO_DEPRECATE ..\liblouis\

[2018-08-31 15:07] leonardder commented on #634
Ugh, I just realised that I pasted in the wrong snipped. I will update the initial comment accordingly.

[2018-08-31 15:17] egli commented on #634
Hi @leonardder can you bisect this problem? Is it because of the change in ac1f94f91413de5c5f6684f3d95aeca9351a17df?

[2018-08-31 15:38] leonardder commented on #634
looking at the diff this is very likely. X86 and X64 default calling convensions differ. I might be able to test this later today.

[2018-08-31 15:57] egli commented on #634
Hm, compiles for me both with `make distwin32` and `make distwin64`. The latter has a problem running the test suite as it doesn't seem to be able to find `lou_checkyaml.exe`. That might be a problem in the build scripts though.

[2018-08-31 16:44] leonardder commented on #634
Compiles fine for me when I revert ac1f94f.

[2018-09-01 02:43] HongxuChen opened #635 "AddressSanitizer: stack-buffer-overflow at lou_translateString.c:358"
`lou_translate` may suffer from a stack-buffer-overflow on a stack variable `inbuf` defined in `translate_input`.
Relevant files are available [here](https://github.com/ntu-sec/pocs/tree/master/liblouis-81fe3c74/crashes).

Command lines to trigger the crashes:
[code]

A sample ASAN output is like:
[code]

[2018-09-01 05:43] derekriemer commented on #626
I'll get to this. Currently I have my braille display at work, so I'll need to bring it home. @dkager, do you have the ability to test this before I will come Tuesday?

[2018-09-03 07:35] #634 closed

[2018-09-03 09:53] #635 closed

[2018-09-04 13:54] LeonarddeR opened #637 "Several warnings when building on Windows with UCS-4"
Several warnings are raised when running nmake on Windows with UCS set to 4 (i.e. to cover 32 bit support)

<details>
<summary>Log</summary>
<pre>
D:\Development\GIT\liblouis\windows>nmake -f Makefile.nmake

Microsoft (R) Program Maintenance Utility Version 14.15.26726.0
Copyright (C) Microsoft Corporation.  All rights reserved.

        PowerShell -ExecutionPolicy RemoteSigned  -File utils\find-r

[2018-09-04 14:11] egli commented on #637
Well, we changed the build to enable _a lot_ more warnings than before (see edcc09ad44bd98a885e1dfa3b3a6732cced8cf87). We have not managed to fix or disable all warnings. Some might be pointless, some only show up if you use a specific compiler. See also the discussion in #322

[2018-09-04 14:35] leonardder commented on #637
[**@egli**](https://github.com/egli) commented on [4 sep. 2018 16:11 CEST](https://github.com/liblouis/liblouis/issues/637#issuecomment-418381570 "2018-09-04T14:11:00Z - Replied by Github Reply Comments"):

Happy to do that regarding the warnings as noted above. My demand to have NVDA on UCS-4 has increased in sync with the increase of people going wild with emoji on the web :)

[2018-09-04 14:38] egli commented on #637
Looks like for you it's mostly about signed/unsigned mismatch. I happy to take patches/PRs :-)

[2018-09-04 18:52] leonardder commented on #304
@dkager: Are you still willing to take this? I think it might be sufficient to have appveyor run nmake, so this shouldn't be dependent on #194.

Appveyor would really help in catching bugs like #634.

[2018-09-04 19:14] bertfrees commented on #627
Hi @GatisGrintals. Sorry, I couldn't reply earlier, I've been away for a couple of days.

What I'm looking for is just one or more examples per case, that make clear to me what needs to be changed in the table. For some cases just the single input symbol and the expected dots, like you have done now, may be enough. But use a consistent format so that it can't confuse me. For example, put the input

[2018-09-05 16:45] dkager commented on #304
I can definitely do the NMake-version, which won't compile the tools. The MSVC-version is a bit too much work for me right now.

[2018-09-05 20:54] BueVest commented on #631
Sorry, @bertfrees, but this happens during forward translation , not during back-translation.
I will see if I can make any sense of the code.

[2018-09-06 06:20] leonardder opened #640 "Can't build on Windows subsystem for Linux (WSL)"
I"m getting the following error when trying to build liblouis within WSL:

<details>
<summary>Output</summary>
<pre>
leonard@HP_Leonard:/mnt/d/Development/GIT/liblouis$ ./autogen.sh
Cleaning autotools files...
Running autoreconf...
configure.ac:77: error: possibly undefined macro: AC_LIBTOOL_WIN32_DLL
      If this token and others are legitimate, please use m4_pattern_allow.
      See the Autocon

[2018-09-06 07:45] leonardder opened #641 "Python bindings, consider to get rid of ###LIBLOUIS_SONAME### macro"
The liblouis bindings now require to be build, and the name of the library is hardcoded in it (i.e. liblouis.so.16). However, I don't think this is necessary.

1. On initializing the library, we already check whether to use WinDLL or CDLL. WinDLL implies the .dll extension, CDLL implies the .so extension
2. I assume that on most linux systems, it is sufficient to load liblouis.so instead of liblou

[2018-09-06 07:51] Andre9642 commented on #640
Have you installed libtool?

[2018-09-06 10:42] mwhapples commented on #641
Problems with this.
1. cdll does not automatically mean .so, think about MacoSX with .dynlib, there may be other platforms.
2. Is this really a good assumption? The bindings are for a specific version. If the user has multiple versions installed and the python bindings belong to the older version the assumption could lead to software breakage. I think linking to the intended version is safest.
3.

[2018-09-06 11:45] leonardder commented on #640
Wow, I should have realised that libtool was not installed. I assumed that it was part of build-essentials. That fixes it for me.

[2018-09-06 11:45] #640 closed

[2018-09-06 12:01] leonardder commented on #641
[**@mwhapples**](https://github.com/mwhapples) commented on [6 sep. 2018 12:42 CEST](https://github.com/liblouis/liblouis/issues/641#issuecomment-419048837 "2018-09-06T10:42:35Z - Replied by Github Reply Comments"):

Hmm yes, that makes perfect sense. I wonder whether there is a way to get this extension.

 I agree that this is the safest method to make sure that you never have a missmatch. Having

[2018-09-06 13:44] egli commented on #641
The current implementation using the `###LIBLOUIS_SONAME###` is based on a [discussion on the mailing](https://www.freelists.org/post/liblouis-liblouisxml/LoadLibrary-and-ABI) list between @sthibaul , @jcsteh and @mwhapples . I remember the three of them hashed it out and came to the current solution.

Seems like there are reasons to hard code the soname.

[2018-09-06 16:12] mwhapples commented on #641
This is where a Cython or Python C extension works better as they get linked like any other C or C++ application would and so would not require this macro in the Python code. However without rewriting the Python bindings, this is not where we are an we need to find this at runtime for ctypes.

Whilst I may not like the use of the macro, it does solve some problems and possibly in a moderately simp

[2018-09-10 20:04] artisr commented on #627
Hi there @GatisGrintals @bertfrees

Started writing some tests, [here](https://gist.github.com/artisr/d2c184aa8390003ccd5d9a2e7760365d)

Had to escape some chars, to make the yaml valid. Not sure if its the right way to go.
See lines [#171](https://gist.github.com/artisr/d2c184aa8390003ccd5d9a2e7760365d#file-lv-test-yaml-L171) [#177](https://gist.github.com/artisr/d2c184aa8390003ccd5d9a2e7760365d#

[2018-09-11 08:59] bertfrees commented on #627
@artisr Great. Yes, this is how it's done. Except for the dot combinations, but I can convert them into proper braille symbols. I would usually enclose the input strings in quotes so that you don't need to do any escaping, but it's all the same.

@GatisGrintals can you do something with this? Artis already included most of your requirements in his test, but not everything I think?

[2018-09-11 13:55] GatisGrintals commented on #627
@bertfrees yes, I will discuss some details with Artis, we will correct some things and update the file.

[2018-09-17 12:08] artisr commented on #627
Hey @GatisGrintals  @bertfrees updated the [file](https://gist.github.com/artisr/d2c184aa8390003ccd5d9a2e7760365d) to include additional test cases.

Did you manage to ping IndexBraille regarding hyphenation? we're trying to figure out where the fixes should go :)

[2018-09-17 12:33] artisr commented on #627
Should we raise a separate issue for hyphenation?

I see that some languages have hyphenation dictionary taken from open office. Found a Latvian version as well.  [here](https://extensions.libreoffice.org/extensions/latviesu-valodas-pareizrakstibas-parbaudes-modulis) that led me [here](http://dict.dv.lv/download.php?prj=lv) and direct [download link](http://dict.dv.lv/download/lv_LV-1.3.0.zip) of

[2018-09-17 14:08] bertfrees commented on #627
Thanks for the update. No, I haven't contacted IndexBraille. Please wait with adding another PR. I prefer not to add more hyphenation dictionaries to Liblouis. See https://github.com/liblouis/liblouis/issues/334.

[2018-09-17 14:31] bertfrees commented on #627
@simait @nilhuh Hi. How do you perform hyphenation in the IndexBraille software? I'm asking because we are in the process of improving the Latvian Liblouis table and one of the reported issues is that currently words are not hyphenated when text is broken into lines by the Index software. However hyphenation isn't part of the Liblouis translation API, so I'd like to know how you do it. Do you use

[2018-09-18 08:36] nilhuh commented on #627
Hi Bert,
Simon Aittamaa (@simait) is no longer working for Index Braille. He was our developer for Index Direct Braille (idB) which is our way to translate text to braille using Liblouis. This is built into the firmware of our embosser’s.

I really don’t know exactly how idB is working, but I think that idB first use a parser to exctract the text from a file and then we use the Liblouis software (

[2018-09-18 09:35] bertfrees commented on #627
Hi Nils, thanks for your answer.

The thing is, Liblouis does not perform line breaking out of the box. This is done by the software that calls Liblouis, like idB. This is why I contacted you. Because your Latvian users reported to us that hyphenation does not work, I assumed that it does work for other languages, which would mean idB performs hyphenation. However now you are telling me you think

[2018-09-18 14:47] GatisGrintals commented on #627
@bertfrees yes, unfortunately. I know that with other programs text is automatically wrapped, so I believed it is done here as well, just Latvian is not working, but I just tried English and the last word in the line is moved to the next line instead of being wrapped.

[2018-09-19 11:43] BueVest opened #642 "lou_allround: Remove pass1only from mode and add partial translation"
Apparently, this evaded my attention when I removed the pass1only flag from liblouis itself.

[2018-09-21 10:17] bertfrees commented on #599
Yes I think that might be fine, but you would still need a symlink or bash script under /usr/bin.

[2018-09-25 11:56] GatisGrintals commented on #627
@bertfrees what could be next steps to make changes in Latvian braille? There might be some add-ons later, most possible in late November-December, but would it be possible to implement these changes we have done so far sooner? Is there anything we can do more?

Thank you very much in advance!

[2018-09-25 12:02] bertfrees commented on #627
I have added it to the next milestone (3rd of December). I will try to fix the table based on the tests you have provided. If I have problems, I'll reach out to you for help.

[2018-09-25 13:40] BueVest commented on #642
Fixed by #643

[2018-09-25 13:40] #642 closed

[2018-09-26 18:28] bertfrees commented on #631
To do:
- [ ] Reference this issue from the issue-400.yaml test:
[code]

[2018-09-26 18:36] bertfrees commented on #479
Not sure what to do with this. Does this pose a real problem when creating tables?

[2018-09-26 18:40] bertfrees commented on #474
I think we shouldn't do anything about this before we have looked at https://github.com/liblouis/liblouis/issues/475.

[2018-09-26 19:17] rimas-kudelis commented on #479
In my opinion, if the bug is still valid, but there is no immediate need to fix it, it could be just left open. It could even be tagged as low priority or something.

I don't really remember how I discovered it, but it was likely while searching for a workaround to some other issue (which has been resolved by now). My tables aren't affected by this issue anyway, but again, that doesn't mean the is

[2018-09-26 20:15] bertfrees commented on #627
I have added the test to this branch: https://github.com/liblouis/liblouis/compare/master...latvian. Before I continue with the table, could someone of you look at the Travis logs (scroll to end of log and uncollapse the line `cat tests/test-suite.log`) and check that the test is correct? For example, you'll see things like

    Input:    '1'
    Expected: '⠁' (length 1)
    Received: '⠼⠁' (length

[2018-09-26 20:49] BueVest commented on #479
Not sure. I will try to take a look at it, possibly before next release.

[2018-09-26 21:51] bertfrees commented on #479
@rimas-kudelis OK good! I'm not even sure I should tag it as a bug because often the intended behavior of a feature in Liblouis is not totally clear, and sometimes something isn't a bug until it causes problems for someone. Not saying this is the case here, I'm just not sure...

Anyway, we can leave the issue open for now.

[2018-09-27 05:50] rimas-kudelis commented on #479
IIRC there are seemingly duplicate opcodes available for numeric mode handling. I suspect these will have to be cleaned up/merged at some point, no? If yes, this issue might become void after that happens.

[2018-09-27 10:10] GatisGrintals commented on #627
Hi @bertfrees
179 I believe should be - - ' \ '
203 the idea is that there is no space after comma (even there is a space in the text, in braille it is deleted).

Your mentioned number is correct, because before numbers there is number sign ⠼
For example,
Input:    '1'
Expected: '⠁' (length 1)
Received: '⠼⠁' (length 2)

Input:    '12'
Received: '⠼⠁⠃' (length 3)

There is also capital letter sign ⠨