[2019-10-31 13:06] BueVest commented on #863
Sorry about the delayed reply. Have been quite busy for the last weeks.

I see your point about rules acting the same way both forwards and backwards, and it also works most of the way. However, I think we must accept the fact that translating and back-translating heavily contracted Braille is not and cannot be inverse processes. It is not like zipping and unzipping files, but perhaps more like en

[2019-10-31 15:22] bertfrees commented on #863
Yeah, sure. Of course. But individual rules can at least *try* to act the same in forward and backward translation, that's what I'm saying. One can use different techniques when forward and backward translating, but then one must use different rules (using `nofor` and `noback`).

I'm not saying that by improving `nocross` all our problems will be solved. It is just *one* way to inhibit rules. You

[2019-11-10 21:33] lukaszgo1 commented on #852
Is this planned to be solved for the next release? As it stands when someone contributes new tests from Windows he has to perform these tests on Travis.

[2019-11-13 15:14] #854 closed

[2019-11-18 07:16] DrSooom commented on #460
CC: @egli, @bertfrees, @leonardder, @Andre9642, @school510587 and @zstanecic. And due to the NVDACon 2019 also CC @derekriemer, @Adriani90 and @JulienCochuyt.

Two days ago I held a talk during the [NVDACon 2019](https://www.nvdacon.org/) about the HUC Braille Tables. After @zstanecic contact me via Signal yesterday, I was thinking about a fallback opcode as a quick fix for the multiple definition

[2019-11-18 11:04] egli commented on #838
@leonardder what is the status on this? Do we need to do anythign on the liblouis side?

[2019-11-18 11:12] egli commented on #852
Try to use the win32 docker file to bisect this.

Related to #853 and #844

[2019-11-18 11:14] bertfrees commented on #838
Are you guys going through with https://github.com/nvaccess/nvda/pull/10275?

[2019-11-18 11:15] leonardder commented on #838
Yes, building liblouis from the windows dir with nmake currently fails.
The nmake scripts need to be modified to build using clang.
Unfortunately, I won't have the time to do this myself.

[2019-11-18 11:16] leonardder commented on #838
Yes, though probably not before 2020.

[2019-11-18 11:41] egli commented on #111
Bert has some code for this. `maketable` is also affected, but hasn't been tested. Also some illegal opcode combinations, like `nocross include foo.tbl` are silently ignored. They should probably cause an error.

Might have to go to next release.

[2019-11-18 11:46] #698 closed

[2019-11-18 12:59] bertfrees commented on #111
But this is also the case elsewhere in the existing code, with `before`, `after`, `nofor`, `noback`, `empmatchbefore` and `empmatchafter`.

[2019-11-18 18:58] bertfrees commented on #460
Two questions.

- You seem to have a different idea about what a `alias` opcode would mean than Rimas. In fact, apart from the name, I don't see any resemblance. So maybe create a new issue for it?
- I don't really see a need for an `alias` opcode the way you define it. As far as I understand it's more a matter of documenting and possibly changing the precedence rules, and then making sure that th

[2019-11-19 02:05] DrSooom opened #868 "Add an includediff opcode"
[![Fund this issue](https://liblouis.github.io/images/Fund_button.svg)](https://issuehunt.io/r/liblouis/liblouis/issues/868)
---

### Quote from [this comment in issue #460](https://github.com/liblouis/liblouis/issues/460#issuecomment-554884229):
CC: @egli, @bertfrees, @leonardder, @Andre9642, @school510587 and @zstanecic. And due to the NVDACon 2019 also CC @derekriemer, @Adriani90 and @JulienCoc

[2019-11-19 07:34] egli commented on #868
Sorry tldr, what is the use case of this new opcode?

Note that as a maintainer I will be stuck with any new (op)code for years to come. [Code is Liability, the Less the Better](https://www.infoq.com/news/2011/05/less-code-is-better/)

[2019-11-19 07:46] Andre9642 commented on #868
Improve flag compbrlAtCursor not be a better solution?

[2019-11-19 07:52] DrSooom commented on #868
@egli: It's enough to read the last paragraph in the issue description.

@Andre9642: Please specify.

[2019-11-19 07:54] egli commented on #868
Again: What is the use case?

[2019-11-19 08:00] DrSooom commented on #868
@egli: Now please read also the two paragraphs above the last one. Maybe it would have been better to ask you to read the last three paragraphs firstly.

@Andre9642: Multiple definitions issues aren't limited to compbrlAtCursor.

[2019-11-19 08:11] leonardder commented on #868
@DrSooom, Please mind your tone of voice here. I"m afraid it won't help much to ask people to read what you said over and over again, may be you just weren't clear enough. Honestly, I don't see the use case either. First, we need to make sure that we agree about the use case of including tables into other tables.

May I also ask you to refrain from cc-ing every single NVDA contributor that may hav

[2019-11-19 09:05] DrSooom commented on #868
@leonardder: @egli wrote "tldr" = Too Long; Don't Read. Therefore I had to assume that he didn't read the issue description. If the use case, I already pointed out in the issue description, wasn't clear enough, than it would be nice to know, what part wasn't understandable and maybe written to confusing or not clear enough. Sadly I got no reply by @egli which gave me the information, what's exactl

[2019-11-19 09:14] bertfrees commented on #868
@DrSooom But again my question: couldn't this be achieved by making sure the tables are included in the right order? If this causes problems (with e.g. back-translation), maybe that indicates there are issues with the current precedence rule. There is currently little documentation about the precedence of rules, and I know for a fact there are some precedence issues (like e.g. https://github.com/l

[2019-11-19 09:19] egli commented on #868
Look, I have enough on my plate running after people to try to get their PRs into mergeable shape. I do not have time to read pages and pages of explanation. If I say it was too long then I mean it. I can see that it would be more "flexible" to have another include mechanism, but that is not a use case. That just increases the maintenance burden.

Explain why you would need this feature. In one pa

[2019-11-19 11:20] DrSooom commented on #868
@egli: The priorities for PRs for the upcoming Liblouis version are much higher than the priority of this issue here. Furthermore I always assumed that the liblouis devs will take first a deeper look on this after the next liblouis version (Dec. 2019) was released. Even the issue title already describes it that this issue isn't a P1 or P2.

@bertfrees: Thanks a lot for referring to issue #384. [Th

[2019-11-19 12:59] bertfrees commented on #868
My question remains the same: can't we control which rule wins in case of a conflict by changing the order?

[2019-11-20 05:57] DrSooom commented on #868
@bertfrees: Based on my little knowledge of Liblouis opcodes, I would say no. In the last two hours I made a few tests in NVDA and also read parts of the Liblouis manual, but found no opcode there, which could help here. The replace opcode describes a complete different thing.

Back to my example: I didn't mention the opcodes there to keep it simple.
+ incl1: `sign \x0050 1` and `sign \x0051 1-2`

[2019-11-20 09:28] bertfrees commented on #868
But I'm not talking about an opcode. I'm only talking in placing the rules in the right order so that it is predictable which rule will will. I've said already that the precedence rules in Liblouis may not always make sense and that we might need to fix some things. It's not because there are issues that we need a new version of the `include` opcode.

But in order to be able to fix things you need

[2019-11-20 20:09] DrSooom commented on #868
@bertfrees: You are right as long as only the same opcode is used for all definitions in incl1. If you replace a sign opcode with an always opcode within incl1 in the above mentioned examples, I guess this will influence on main1 and main2. But I haven't test this right now.

[2019-11-21 16:17] egli commented on #852
Hm, I guess the fact that the 32-bit build of `lou_checkyaml` crashes when built inside docker (see #853) confirms this report. I was able to avoid the crash by building with `CFLAGS='-O0'`. There's probably a bug somewhere in `lou_checkyaml.c` that only manifests itself on a 32 bit platform when compiled with `-O2`.

[2019-11-22 02:41] DrSooom opened #869 "compbrlAtCursor and compbrlLeftCursor: Use second definition instead of reversing definition order"
### Definitions:
[code]
### Actual behavior:
NVDA option "Expand to computer braille for the word at the cursor":
+ Disabled: Dot 1 (top-bottom order)
+ Enabled: dot 3 (bottom-top order)
### Expected behavior:
NVDA option "Expand to computer braille for the word at the cursor":
+ Disabled: Dot 1 (top-bottom order)
+ Enabled: dot 2 (top-bottom order, skips the first definition)
#### Notes:
+ Keepin

[2019-11-22 13:13] egli commented on #858
Fixed by #859

[2019-11-22 13:13] #858 closed

[2019-11-24 23:37] Andre9642 commented on #688
For info, I challenged myself to make a POC of this mode (in Python for now, probably in C later). Available here -> https://github.com/Andre9642/HUC-braille-converter
It's not probably the best approach/algorithms but it seems work. Works for HUC8 and HUC6.

[2019-11-25 09:49] leonardder opened #870 "Add Dutch 8 dot braille table draft"
This year, the [Dutch Braille Authority](https://braille-autoriteit.org/) has started working on an 8 dot braille table for Dutch (both Belgium and the Netherlands). We are now in the stage where we want wider testing by potential users. Early next year, people will be able to provide suggestions and change request for the table that will be applied after they are discussed within the panel that d

[2019-11-25 09:53] egli commented on #870
Fine with me.

[2019-11-25 10:06] bertfrees commented on #870
Sure

[2019-11-25 18:20] leonardder commented on #870
Great. I recall tests are mandatory nowadays? Or are they less important for uncontracted 8 dot tables? We can provide tets now, but if it is no problem, I'd rather provide the tests when the table is stable.

[2019-11-25 18:30] bertfrees commented on #870
I'd like to have tests now already, even if the table is not stable yet. You don't expect many changes anyway so it should be little work to update the tests later if needed.

[2019-11-27 10:29] #849 closed

[2019-11-27 10:51] bertfrees commented on #307
Internally display and translation have not been separated completely yet, see https://github.com/liblouis/liblouis/pull/874#issuecomment-559035983.

[2019-11-27 10:51] bertfrees commented on #750
See PR: https://github.com/liblouis/liblouis/pull/874

[2019-11-27 11:24] bertfrees opened #875 "lou_checkyaml: add a "expectedError" flag"

[2019-11-27 14:33] #870 closed

[2019-11-27 14:43] #846 closed

[2019-11-27 18:07] bertfrees commented on #852
I've gone back all the way to 3.7.0 and it always crashes. Can't build 3.6.0 for some reason. I'm giving up for now...

[2019-11-27 19:49] leonardder opened #877 "Deprecate Python 2"
[![Fund this issue](https://liblouis.github.io/images/Fund_button.svg)](https://issuehunt.io/r/liblouis/liblouis/issues/877)
---

Python 2.7 will be end of life starting from January 2020. May be it is worth it to add a deprecation notice about the python wrapper to the news file? While opinions may differ about whether we should actively drop support for Python 2 or not, it would be bad if suppor

[2019-11-27 20:21] lukaszgo1 commented on #852
@bertfrees May I ask how have you been testing this? In  a real Windows machine lou_checkyaml from 32-bit Liblouis 3.10 works as expected whereas one for 3.11 does not.

[2019-11-27 21:38] egli commented on #407
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-11-27 21:38] #407 closed

[2019-11-27 21:39] egli commented on #443
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-11-27 21:39] #443 closed

[2019-11-27 21:41] bertfrees commented on #852
I'm testing it with wine on a Linux machine. I'll try it on a real Windows machine.

[2019-11-29 17:14] bertfrees commented on #852
@egli If I test the 32-bit binary of Liblouis v3.10.0, that I built with Dockerfile.win32, on a Windows machine, I get "The program can't start because libyaml-0.2.dll is missing from your computer". The version that you can download from Github does not have this problem.

Something that is also striking is that the binaries from Github are much smaller than those built with Dockerfile.win32. The

[2019-12-02 09:59] #558 closed

[2019-12-02 10:06] #804 closed

[2019-12-02 10:50] #810 closed

[2019-12-02 12:38] egli commented on #750
@bertfrees I presume this is fixed by the PR?

[2019-12-02 14:03] bertfrees commented on #750
Yes. The issue describes some other things that could be done instead of raising the issue, but the main thing, raising the issue, has been done.

[2019-12-02 14:04] #750 closed

[2019-12-02 14:08] bertfrees commented on #717
Fixed by https://github.com/liblouis/liblouis/pull/876.

[2019-12-02 14:08] #717 closed

[2019-12-02 18:31] bertfrees opened #880 "Add tests for the latest Danish table update"
See https://github.com/liblouis/liblouis/pull/879

[2019-12-02 18:36] Andre9642 opened #881 "fr-bfu-g2.ctb: critical bug (loop?) with some strings"
[![Fund this issue](https://liblouis.github.io/images/Fund_button.svg)](https://issuehunt.io/r/liblouis/liblouis/issues/881)
---

(Also present in 3.11... Other versions not tested.)

[code]

=> No response of liblouis.

@egli / @bertfrees is there a solution to specify mode(s) and cursor position(s) to lou_trace?

[2019-12-03 11:24] egli commented on #704
See also
- [How to RiiR (Rewrite it in Rust)](http://adventures.michaelfbryan.com/posts/how-to-riir/)
- [Librsvg's build infrastructure: Autotools and Rust](https://people.gnome.org/~federico/blog/librsvg-build-infrastructure.html)

[2019-12-04 12:42] lukaszgo1 commented on #852
In version 3.12 both 32 and 64 bit versions of lou_checkyaml  cannot be used on Windows. They are complaining about missing  libyaml-0-2.dll

[2019-12-04 12:44] bertfrees commented on #852
@egli You said you got the Windows builds from Travis right?

[2019-12-04 12:47] egli commented on #852
Yes I updated the release page shortly before lunch and I grabbed the zip files from https://github.com/liblouis/liblouis/releases/tag/snapshot

[2019-12-04 12:48] bertfrees commented on #852
So did something change on Travis?

[2019-12-04 12:52] egli commented on #852
I didn't change anything :-)

[2019-12-04 12:53] bertfrees commented on #852
Well actually you did 5df6ee099cbbd8e498eb2be6fce883bc0e049faf.

[2019-12-04 12:55] egli commented on #852
Yes, I noticed just after I said it. But that just upgrades the libyaml version so you no longer need the patch. That looks pretty harmless if you ask me.

[2019-12-04 13:24] bertfrees commented on #852
I have the feeling this is what is causing the issue.

[2019-12-04 13:54] egli commented on #852
Hm, interesting, libyaml contains a [win related PR](https://github.com/yaml/libyaml/pull/136) and our old friend @school510587 [commented on it](https://github.com/yaml/libyaml/commit/99e0a150ff62f37dec48334c559d2421574d3658#r36182164). If I understand correctly he is saying that the PR is not correct.

[2019-12-04 17:13] lukaszgo1 commented on #791
Perhaps my understanding of these Opcodes is incorrect, but in case of Polish braille there is no character which denotes end of consecutive capitals, so there is nothing which can be assigned to endcapsword

[2019-12-04 17:21] bertfrees commented on #791
That is exactly what I mean. So in case of Polish `endcapsword` is not defined, and Liblouis should not use the `begcapsword` indicator for words like "WSiP" that contain lower case letters.

[2019-12-05 10:47] Andre9642 opened #882 "Python bindings: compileString and Python 3 -> argument 2: <class 'TypeError'>: wrong type"
With Python 2 (good):

[code]

With Python 3:

[code]

According docstrings:

[code]

((not bytes, cf. `In [5]`))

[2019-12-05 12:58] Andre9642 commented on #881
The rule that causes this error seems the following:

[2019-12-05 13:33] bertfrees commented on #881
Hangs both with UCS2 and UCS4.

[2019-12-05 15:42] bertfrees opened #885 "lou_checkyaml test reporting behaves weird with UCS2"
[![Fund this issue](https://liblouis.github.io/images/Fund_button.svg)](https://issuehunt.io/r/liblouis/liblouis/issues/885)
---

Try the following example YAML test, which will fail:

[code]

For me this results in the following report:

[code]

I suspect there is a bug in the `print_widechars` function.

@egli Can you reproduce this?

[2019-12-05 15:57] bertfrees opened #886 "Example found where inputPos array is not monotonically increasing"
More specifically when [`begemph` and `endemph`](https://github.com/liblouis/liblouis/blob/4b9eba37f776146eb3d9c80cc858817038aab082/tables/no-no-g0.utb#L209-L210) rules are applied, and maybe the number sign has something to do with it as well:

[code]

Note that this test passes, but the expected inputPos is wrong, it should be monotonically increasing (2 should not be followed by 1).

[2019-12-07 14:34] foxxydev opened #887 "Fixing typos and styling in the tables directory."
[![Fund this issue](https://liblouis.github.io/images/Fund_button.svg)](https://issuehunt.io/r/liblouis/liblouis/issues/887)
---

Greetings to the Liblouis community 😄

I have noticed that in the tables directory, inside many tables there isn't really a fixed way how to write these translated characters. Also, I have noticed there are a lot of lines either configured with tabs, spaces, or even bot

[2019-12-07 19:54] BueVest commented on #887
Hello,

I think the visual mess you have found in the tables is largely a result of many of the table authors being blind. You don’t have to be a Braille expert as such in order to write the code of Liblouis, but you do need to be an expert on Braille to write the tables, and most Braille experts are, well, blind.

If one person, blind or not, starts to write a table, and someone else who is blind

[2019-12-07 21:40] foxxydev commented on #887
I see; well as a developer I thought these tables went under review by other developers before it got merged, but now I understand how it got like this. Well okay... the idea suggested by you can be the issue then (if it is considered an issue still, depends on the perspective).

Thank you for your reply and for clearing things up for me 👍

If this isn't found as needed, I would like to request th

[2019-12-09 09:30] egli commented on #887
Hi @foxxydev I'd be happy to make the tables more uniform. If you have a suggestion, a "style" (whatever you mean by that) or even some kind of formatting tool that would be great. I'd gladly look at a PR.

[2019-12-10 15:03] school510587 commented on #852
Hi @egli and @bertfrees,

Please check commit 25368d28b3c1cb90f33c75f2e7c7b0354a2510e4...
Here, the compiler becomes i686 (.travis/before_install/mingw.sh), but script/mingw.sh still uses i586 compiler to build liblouis.
After make them consistent, could you check whether this bug is available or not?

[2019-12-13 17:35] BueVest opened #888 "Option to specify a default display table in any contraction table"
I fully understand the idea behind separating display tables from tables with other opcodes. Then, Braille in any language can theoretically be written using the Braille character map of any other language. However, this has made it at least "suspicious" to use the display opcode in a contraction table or to include a display table directly.

Example:
da-dk-g18.ctb has the following lines:

    #

[2019-12-13 18:54] bertfrees commented on #888
The real solution is to make the translation completely independent from which display table is used. That shouldn't be too hard to do. I don't want a new opcode. By the way, if I understand correctly, if you would provide a different display table with da-dk-g18.ctb, some translations would not be correct, right? Your solution would not fix that.

[2019-12-15 19:48] BueVest commented on #888
“The real solution is to make the translation completely independent from which display table is used. That shouldn't be too hard to do.”

I very much agree. A specific display table shouldn’t be necessary, but _a_ display table may be necessary to specify the rendering of dot patterns to a file or to send to an embosser, especially for dot patterns that are not associated with any character in th

[2019-12-16 13:36] bertfrees commented on #888
Yes, _a_ display is needed. But that should not be the responsibility of the translation table. If Liblouis encounters a dot pattern in the output that has got no mapping to a character, Liblouis raises an error.

At the moment the translation itself also depends on display rules in a few cases. That should be fixed.

This is because at the moment lou_checkyaml behaves slightly different compared

[2020-01-02 14:13] sthibaul opened #890 "SIGBUS on sparc64"
Hello,

Since version 3.10.0, liblouis gets a SIGBUS on sparc64 almost all the time, see

https://buildd.debian.org/status/fetch.php?pkg=liblouis&arch=sparc64&ver=3.12.0-2&stamp=1577753718&raw=0

Usually this is a sign that some C code is making unaligned access e.g. reading a 64bit value at an address not dividable by 8, and indeed:

[code]

That seems to be due to:

    ./liblouis/internal.h:	Tr

[2020-01-02 14:15] sthibaul commented on #890
(and that will probably make x86 faster)

[2020-01-03 10:57] bertfrees commented on #890
But it might also increase the memory consumption, that is the downside, isn't it?

[2020-01-03 11:14] sthibaul commented on #890
I see that `TranslationTableOffset` it also used in a lot of other places indeed. In the MR I have decoupled the questions by introducing `TranslationTableData` which is only used as the base type for ruleArea. The memory consumption increase is thus limited to an eventual 4 bytes per TranslationTableHeader, and an eventual 4 bytes per space allocation in translationtable. That's what you would ex

[2020-01-03 11:23] bertfrees commented on #890
I'm afraid I don't understand that last commit. Is this really enough to fix your problem?

[2020-01-03 12:02] sthibaul commented on #890
yes, it is: it makes the ruleArea field an unsigned long long, and thus the compiler knows that the data held there needs 64bit access, and will thus align the ruleArea field on 8 bytes, thus fixing the required alignment on sparc64.

[2020-01-17 10:48] #890 closed

[2020-01-17 12:45] egli commented on #852
Hm, @school510587, yes that sounds suspicious. I'm going to try to change that.

[2020-01-17 16:10] egli commented on #852
see 275a1e84e89ae2b5781b2aa767d804379d9bae6a

[2020-01-17 17:19] school510587 commented on #852
Hi @egli and @bertfrees,

Thank @egli for the modification.
Sorry, I find changing compiler from i586 to i686 doesn't help.
I try to insert fprintf/fputs calls to trace the point where it crashes.
So far, I'm sure the crash happens in compileTable function (compileTranslationTable.c).
That is, lou_checkyaml.exe successfully obtains display table name, but it fails to complete compilation.
Because

[2020-01-31 20:50] bertfrees commented on #880
@BueVest Will you not forget this?

[2020-02-04 21:46] BueVest commented on #880
I am not forgetting. My current work on the Danish tables is in the branch buevest_dk2003. Btw. What do we do about the PR for German back-translation?

[2020-02-04 22:10] bertfrees commented on #880
OK great. Just checking.

Let's discuss the German back-translation in the PR itself: https://github.com/liblouis/liblouis/pull/842. There are a couple things that need to happen. Did you see my last comment?

[2020-02-06 16:16] seally1186 opened #892 "en-ueb-g2 back translate: standing alone, semicolon and preceding period"
Hi,

I believe I'm seeing two issues with back translation in UEB.

* A following semicolon prevents wordsigns. For example, "⠏⠆" is back translated to "p;" rather than "people;".
* A preceding period causes use of a wordsign. For example, "⠑⠲⠛⠲" is back translated to "e.go." rather than "e.g.".

In both cases, forward translation is correct.

[2020-02-06 16:35] bertfrees commented on #892
Hello Michael. Thanks for your report. Yes, it is known that there are a lot of back-translation issues with UEB. However it's not something that I can fix. Best chance of getting improvements coming is by contacting the authors of the UEB table so that they become more aware of the urgency of these issues.

[2020-02-07 22:43] seally1186 commented on #892
Hi Bert. Thanks for you reply. Is the preferred method of contacting table maintainers to use the email addresses in the table file? (Sorry I'm not familiar with the workflow here so just made the issue.)

[2020-02-09 23:42] bertfrees commented on #892
Indeed. In addition to the people mentioned in the table there is also James Bowden who has recently done work on the UEB table. You can find his details in the AUTHORS file.

[2020-02-13 15:58] egli commented on #887
@foxxydev can you push your branch somewhere so we can have a look at comment?

[2020-02-16 11:58] foxxydev commented on #887
Hello @egli ,

My apologies for the late reply, been very busy lately. I honestly haven't gotten a solution yet as I have been busy focusing on my university exams. I'll do my best to get a solution proposing as soon as possible on a branch which I will share on here, though if you don't mind I'd like to share my concept of how I thought to do it.

Originally I thought of a C++ application where w

[2020-02-16 12:40] bertfrees commented on #885
@egli Any idea?

[2020-02-16 12:47] #822 closed

[2020-02-16 12:53] bertfrees commented on #833
@YuemeiVP I can not reproduce this. The following test works:

[code]

Can you provide some more details about how you got your result?

[2020-02-16 13:15] bertfrees commented on #805
YAML test:

[code]

[2020-02-16 13:19] bertfrees commented on #791
[YAML test](https://github.com/lukaszgo1/liblouis/blob/32d468677a405ba60de2bfb55d03273b074fd4fc/tests/braille-specs/Pl-Pl-g1_harness.yaml#L21)

[2020-02-16 13:21] bertfrees commented on #770
[YAML test](https://github.com/liblouis/liblouis/blob/b9270eb8363c9f4a7be2e926d0a406130e5a54a4/tests/yaml/input-length.yaml#L9)

[2020-02-16 13:47] bertfrees commented on #869
[YAML test](https://github.com/liblouis/liblouis/blob/80f8d5ae0ffbd5e265278e46b92173ce8f70409c/tests/yaml/precedence.yaml#L15)

[2020-02-17 09:31] bertfrees commented on #791
PR: https://github.com/liblouis/liblouis/pull/894

[2020-02-17 10:52] bertfrees commented on #111
PR: https://github.com/liblouis/liblouis/pull/867

[2020-02-17 10:58] bertfrees commented on #881
- [ ] We need a test that doesn't make use of fr-bfu-g2.ctb

[2020-02-17 11:04] bertfrees commented on #833
Duplicate of https://github.com/liblouis/liblouis/issues/295

[2020-02-17 11:16] egli commented on #838
afaik NVDA now builds with clang, so I guess we can close this

[2020-02-17 11:16] #838 closed

[2020-02-17 13:33] #882 closed

[2020-02-17 14:06] bertfrees commented on #833
@YuemeiVP Never mind my last question. I have noticed that this is a duplicate of another issue that you made some time before, where you did describe how you got the result. I think I know what might be your problem. When you invoke Liblouis, what is the "typeform" value that you pass? I suspect that you are passing `[0x34, 0x34, 0x34, 0x34]` instead of `[4, 4, 4, 4]`. 0x34 is the character "4" i

[2020-02-17 14:31] bertfrees commented on #384
I've created the start of this "precendence.yaml" in 80f8d5a, and also merged issue-384.yaml into it.

[2020-02-17 15:03] bertfrees commented on #881
I was able to pin down the problematic rules. This is a minimal test case that causes Liblouis to hang:

[code]

[2020-02-18 01:48] Andre9642 opened #895 "Python bindings on Windows: _createTablesString(), Python ≥3.6 and "Use Unicode UTF-8 for worldwide language support" feature"
Context:

* With insider build 17035 and the April 2018 update (nominal build 17134) for Windows 10, a "Beta: Use Unicode UTF-8 for worldwide language support" checkbox appeared for setting the locale code page to UTF-8. This allows for calling "narrow" functions, including fopen and SetWindowTextA, with UTF-8 strings. [Source](https://en.wikipedia.org/wiki/Unicode_in_Microsoft_Windows#UTF-8).
* S

[2020-02-18 10:54] lukaszgo1 commented on #895
@Andre9642 wrote:

I believe we can. If locale.getpreferredencoding() returns 65001 it is enabled, otherwise it is not.

[2020-02-18 12:18] leonardder commented on #895
I think this might be the moment to drop support for python <3.6 in the bindings.

[2020-02-18 12:19] leonardder commented on #895
Having said that, it might be sufficient to use locale.getpreferredencoding() instead of sys.getfilesystemencoding() to fix this.

[2020-02-18 14:06] #886 closed

[2020-02-18 15:02] bertfrees commented on #713
@garconvacher Can you please check if this test is correct?

https://github.com/liblouis/liblouis/blob/7287dc665f63b403351f30f2d0709eb893021075/tests/braille-specs/fr-bfu-comp6.yaml#L139-L144

After fixing the bug, and removing this rule from fr-bfu-comp6.utb:

    emphletter bold 456

the test fails.

[2020-02-18 20:42] bertfrees commented on #713
See commit https://github.com/liblouis/liblouis/pull/897/commits/80ae205395b8ee3eeb63c353fb3a58b88e82f0a6

[2020-02-18 21:04] YuemeiVP commented on #833
Hi, Bert,

Thank you very much for looking into this case.  You are right; the typeform was passed via a string, not an array of unsigned short, thus  “4444” was passed, instead of [4,4,4,4].  I made changes according to your suggestion, and the problem is fixed!

Yuemei
From: Bert Frees <notifications@github.com>
Sent: Monday, February 17, 2020 6:06 AM
To: liblouis/liblouis <liblouis@noreply.gith

[2020-02-18 21:52] #833 closed

[2020-02-18 21:53] #295 closed

[2020-02-18 22:53] bertfrees commented on #880
Fixed by https://github.com/liblouis/liblouis/pull/893

[2020-02-19 10:53] egli commented on #877
OK, good idea, I'll add a deprecation warning in this release (3.13) and then we can probably drop it in 3.14.

[2020-02-19 10:54] egli commented on #877
But actually dropping support should only happen in the next release.

[2020-02-19 11:00] egli commented on #111
Fixed by #867

[2020-02-19 11:00] #111 closed

[2020-02-24 08:46] garconvacher commented on #713
@bertfrees, the test is correct and match the french braille rule.

[2020-02-24 10:47] bertfrees commented on #713
So which are the characters, except for spaces and commas, that cancel the bold sign?

What is the expected braille for the following test?

[code]

[2020-02-24 12:14] egli commented on #852
I'm about to revert 5df6ee09, which happened shortly after 3.11. However in the comments above it says that the crash occurs even for 3.7.0. So @bertfrees how can the libyaml version be the reason for the crash?

[2020-02-24 12:39] bertfrees commented on #852
That comment is not related to the Docker build, and it refers to a crash when run with wine on my machine. On Windows it's a different story, see a few comments below.

[2020-02-24 13:38] garconvacher commented on #713
In this case, it's the same than `bold: '+  +'`.
Any punctuation mark followed by a space cancel the bold sign.

[2020-02-24 13:48] bertfrees commented on #713
So in French braille it is not possible to mark punctuation as bold?

I'm afraid this is not so straightforward to fix. I can try, but could you provide some more tests around emphasis and punctuation? Then I can be more confident I'm not breaking anything else.

[2020-02-24 14:10] garconvacher commented on #713
The French braille code is not explicit about this :(
Personally, I would add the bold sign before the punctuation. I don't remember having encountered this case.
@Andre9642, what's your opinion?

[2020-02-24 20:50] bertfrees commented on #713
@garconvacher We can work around the issue by including the following rules:

[code]

With this change, if the whole string including the comma is in bold, the braille will have a bold indicator in front of the comma:

[code]

[2020-02-24 22:09] bertfrees commented on #787
PR: https://github.com/liblouis/liblouis/pull/904

[2020-02-25 08:18] garconvacher commented on #713
I don't know if it's a good thing or not.
Could this hack alter the `lenemphphrase` ?

[2020-02-25 08:38] bertfrees commented on #713
Hm, maybe yes, I'm not sure. I think we need some more tests to verify. There might be other solutions too, depending on what the desired behavior is for the `bold: '++++'` example above.

[2020-02-25 08:51] garconvacher commented on #713
I think the first option would be safer.
[code]
This kind of sequence is common, e.g.:
"This is a bold! Blabla", "Is this a bold? Blabla", etc. With "word(punctuation) Word" in bold.
In this cases, punctuation musn't have the bold sign.

[2020-02-25 13:16] bertfrees opened #905 "New opcode to specify that emphasis is not indicated for certain characters"
[![Fund this issue](https://liblouis.github.io/images/Fund_button.svg)](https://issuehunt.io/r/liblouis/liblouis/issues/905)
---

Such a new opcode is needed for at least French (see [#713](https://github.com/liblouis/liblouis/issues/713#issuecomment-590323833)) and Dutch (see https://github.com/liblouis/liblouis/issues/780). It could be called `noemphchars`.

Currently Liblouis always ignores emp

[2020-02-25 14:46] egli commented on #852
I reverted 5df6ee099cbbd8e498eb2be6fce883bc0e049faf

[2020-02-25 22:46] bertfrees commented on #852
Somebody should test this.

[2020-02-26 10:24] #895 closed

[2020-02-26 10:58] school510587 commented on #852
Hi @egli and @bertfrees,

I have built and tested the latest lou_checkyaml.exe (with 5df6ee0 reverted), but the issue is still available.
The crash happens on both 32-bit Windows XP and 64-bit Windows 10.
I think some memory management problem existing in the table compilation procedure should be the real reason.
Thanks.     在 2020年2月26日 星期三 上午06:46:48 [GMT+8]， Bert Frees<notifications@github.com>

[2020-02-26 11:00] bertfrees opened #906 "Fix issues with emphasis in en-us-g1.ctb"
[![Fund this issue](https://liblouis.github.io/images/Fund_button.svg)](https://issuehunt.io/r/liblouis/liblouis/issues/906)
---

See email [Question regarding emphasis indicator in table en-us-g1.ctb](https://www.freelists.org/post/liblouis-liblouisxml/Question-regarding-emphasis-indicator-in-table-enusg1ctb,4) by Martin Quiazon from Benetech.

There are apparently a few issues. Martin will make

[2020-02-26 11:12] bertfrees opened #907 "Fix corner cases in Dutch emphasis handling"
[![Fund this issue](https://liblouis.github.io/images/Fund_button.svg)](https://issuehunt.io/r/liblouis/liblouis/issues/907)
---

See the `xfail`s in the [nl-g0_harness.yaml](https://github.com/liblouis/liblouis/blob/73d8b0ba4752d6ec49ccdf4e7d967371d614a5fe/tests/braille-specs/nl-g0_harness.yaml) test.

[2020-02-26 11:38] egli commented on #787
Fixed in #904

[2020-02-26 11:38] #787 closed

[2020-02-26 12:45] bertfrees commented on #852
So there are two issues:
- the missing libyaml-0-2.dll: this is the issue most people are complaining about
- a crash

[2020-02-26 21:17] bertfrees commented on #852
I tested it on my Windows machine and the "missing libyaml DLL" error is indeed gone (that's good!), but I also seem to experience the crash. I can't really tell what's happening, the program just doesn't output anything.

By the way there is still a remarkable difference in file sizes between the 3.10 version and the latest snapshot.

[2020-02-26 21:25] bertfrees commented on #713
I've marked the test as "xfail" for now.

[2020-02-28 10:08] egli commented on #791
What is the status here? Ias this fixed now that #894 has been merged?

[2020-02-28 11:01] #791 closed

[2020-02-28 11:33] #880 closed

[2020-02-28 11:36] bertfrees commented on #713
Closed by https://github.com/liblouis/liblouis/pull/897

[2020-02-28 11:36] #713 closed

[2020-02-29 18:30] #888 closed

[2020-02-29 22:04] bertfrees commented on #888
There was some more discussion in https://github.com/liblouis/liblouis/pull/842.

[2020-02-29 22:38] bertfrees opened #911 "Better integrate regular and "bidi" German tables"
This will improve maintainability.

This is a follow up of https://github.com/liblouis/liblouis/pull/842.

- [x] merge de-g1-bidi-core.cti with de-g1-core.cti (done in https://github.com/liblouis/liblouis/pull/1100)
- [x] merge de-g0-bidi-core.uti with de-g0-core.uti (done in https://github.com/liblouis/liblouis/pull/1100)
- [ ] also apply de-g0-bidi-specs.yaml tests on de-g0.utb in order to expla

[2020-03-01 12:57] bertfrees opened #912 "Add metadata to display tables"
Do this in such a way that display tables won't match a query when we're looking for a translation table.

[2020-03-01 18:02] #776 closed

[2020-03-01 21:04] bertfrees commented on #770
Should be fixed by bc8a3c09e79a66c099d30cbbb747cc8d63881366.

[2020-03-02 13:52] #770 closed

[2020-03-04 13:38] bertfrees commented on #852
Crash confirmed by Christo de Klerk (see mailing list).

[2020-03-04 19:34] bertfrees opened #915 "Update ru.ctb"
Andrey has some more improvements, see https://github.com/liblouis/liblouis/pull/903#issuecomment-594764819.

[2020-03-07 16:43] bertfrees commented on #915
See https://github.com/liblouis/liblouis/pull/916

[2020-03-07 21:41] BueVest commented on #107
Here is a little test to illustrate the use for alwaysletsign. It is inspired by the Danish tables, but I hope it makes sense.
[alwaysLetsign.yaml.txt](https://github.com/liblouis/liblouis/files/4302531/alwaysLetsign.yaml.txt)

[2020-03-08 17:25] bertfrees commented on #107
[code]

[2020-03-22 13:04] bertfrees commented on #307
Next PR: https://github.com/liblouis/liblouis/pull/917

[2020-03-24 14:30] shivamsid opened #918 "Wrong table included in ta-ta-g1.ctb"
`en-us-g1.ctb` is included in the file instead of `en-in-g1.ctb`. This causes the braille translations to conflict and come out wrong when using the translate utility

[2020-03-28 20:20] Futyn-Maker commented on #915
Hello! I have removed the fork and closed Pull request No. 916. I made many more changes to the table, which I will introduce a little later.

[2020-03-30 14:52] ikrami1 commented on #702
i think this is going to be very helpful for improving the arabic tables as well.
does this approach mean that we will need to define all latin characters in a class, and then use the suggested opcode to mark the begining and ending of this class? in Arabic, there is no need to use any accented characters, just the 26 latin characters small and capital.
how this is going to work wwith back transla

[2020-03-30 15:48] Futyn-Maker commented on #702
Oh yes, this feature will very helpful. In Russian Literary Braille we use dots 46 to mark uppercase Latin letters and dot 6 to mark lowercase Latin, while Russian uppercase letters are marked with dots 45. Yes, it can be realised by context and multipass opcodes, but it's difficult and breaks the back translation.

And what's the problem of create separate classes for lowercases and uppercases in

[2020-03-30 16:24] bertfrees commented on #702
Back-translation is more tricky. I suggest we handle that in a different issue because it's a more general issue: emphasis marks are currently ignored too. Capital marks are not ignored in back-translation, but I'm not sure if that code can easily be generalized.

[2020-03-30 17:05] ikrami1 commented on #702
the way i imagine it to work in back translation is as follows:
1. i type aarabic text
2> i insert the "start of latin characters" mark.
3. liblouis begins to back-translate the next typed symbols as latin characters, not arabic ones.
4. i type latin characters followed by the "end of latin characters" mark.
5. liblouis returns back to the normal arabic table.
example with 456 as language mark:
اب

[2020-03-30 17:48] Futyn-Maker commented on #702
Please, also not forget  that in some braille codes mark can be only before foriegn text, not after/.

I haven't got a lot of knowledge about working of Liblouis (I only writes tables), but I suggest realise this feature separately. Probably, it can be realised as same as capsletter opcode and so on.

For example:

class upperlatin ABCDEF...
begclass upperlatin 46
endclass upperlatin 46 # optional

[2020-03-31 10:13] bertfrees commented on #918
@shivamsid Could you please provide some examples of words, expressions, sentences, ... that came out wrong before and are fixed now? The more the better.

[2020-03-31 10:24] bertfrees opened #919 "Return emphasis information when back-translating"
The `lou_backTranslate` function has a `typeform` argument, but it is currently not used to pass back emphasis information. It is simply set to all 0's.

[2020-04-04 18:48] BueVest opened #921 "German g2 forward: Apparently lots of noletsign missing"
Many accented letters are contained in "noletsign" lines, but many letters seem to be missing.
The attached yaml file has 87 failures seemingly due to missing noletsigns. The yaml file is part of #920 and I can also fix it here. However, I need to know whether these accented letters are supposed to be preceded by letsign or not. Currently, it looks more or less random to me.
[de-g2-specs.yaml.txt]

[2020-04-04 19:46] bertfrees commented on #921
@egli Can you check?

[2020-04-04 20:06] BueVest commented on #814
I have looked, but haven't been able to find evidence of an official definition of Finnish 8 dots Braille. To me, it looks like the three Finnish 8 dots tables are merely different suggestions from different sources. They are not quite redundant and can't easily be merged (AFAICS).
I can contact the Finnish Braille authority and hear what they have to say.
Can we actually merge or remove tables to

[2020-04-05 12:39] bertfrees commented on #814
Sure that's not a problem.

[2020-04-05 15:22] BueVest commented on #706
ok, i am trying to get a grip on the current state of things.
Begcaps and endcaps have been documented, but not begcapsphrase, endcapsphrase and capsphraselen.

According to the documentation, begcaps/endcaps require the typeform to be set. However, in capitalization.yaml, they are used together with capsphraselen without setting the typeform, and it seems to work.
On the other hand, the current U

[2020-04-05 20:21] BueVest commented on #202
I have created a branch where I hope to fix some of the documentation issues.
Concerning this issue, how about adding the following to the opcodes in question:

Note: This opcode was implemented in Liblouis specifically in order to support Unified English Braille (UEB). It may be used in any table, but may have unpredicted side-effects if used outside the intended context. Use with great care, and

[2020-04-06 10:45] egli commented on #814
In fact the point of the (LGPL) license is that people other than the original author have the right to modify and distribute the tables.

[2020-04-06 12:42] bertfrees commented on #202
Nice.

Your proposed notice is perfect.

[2020-04-06 12:53] bertfrees commented on #706
OK you're right I removed the label.

I have recently done some improvements to the emphasis documentation: https://github.com/liblouis/liblouis/commit/73ac6befd2d6dfa98285b386b730f28661a7db22

The capitalization opcodes work exactly the same way but are a separate section in the documentation for some reason.

I don't know why the documentation says this. It makes no sense.

Are they actually ali

[2020-04-10 15:45] bertfrees opened #922 "How to control order of emphasis indicators for multiple emphasis?"
Currently the order of the indicators is determined by the order of the emphasis class definitions in the table. But what the caller wants to have control?

[2020-04-10 17:05] bertfrees opened #923 "Table metadata to indicate supported Unicode normal forms"
[![Fund this issue](https://liblouis.github.io/images/Fund_button.svg)](https://issuehunt.io/r/liblouis/liblouis/issues/923)
---

Add a `#-unicode-form` metadata field to tables to indicate which Unicode normal forms (NFC or NFD or both) are supported.

Related: https://github.com/liblouis/liblouis/issues/828, https://github.com/liblouis/liblouis/issues/98

[2020-04-10 17:28] bertfrees opened #924 "Consider only supporting UTF-8 encoded tables"
This would simplify the compilation code and the documentation and I don't think it has many downsides. All the tables in Liblouis are probably already UTF-8 anyway.

[2020-04-10 17:30] bertfrees opened #925 "Consider only supporting UTF-8 input/output in the API"
This would simplify the API, but it is a backward incompatible change.

[2020-04-10 17:48] bertfrees opened #926 "Change internal encoding to UTF-8"
Doing away with UCS2/UCS4 would solve a number of issues:
- the issue that tables which define characters above U+FFFF can not be used with a 16-bit version of Liblouis
- the issue that Liblouis can not handle surrogate pairs well

See also https://github.com/liblouis/liblouis/issues/563, https://github.com/liblouis/liblouis/issues/564, https://github.com/liblouis/liblouis/issues/734, https://gith

[2020-04-10 17:53] BueVest commented on #925
UTF-8 is fine with me, but I think there was something about UTF-8 not supporting chars > 0xffff, or was it just the implementation in Liblouis?

I think there was a discussion about UTF-16 and UCS2/4, which mentioned this.

[2020-04-10 18:14] BueVest commented on #926
Ok, fine.

Another small matter to be aware of: Some 8 dots Braille codes are based on the Windows CP1252 character set, which means that some of the display tables deliver and expect to receive characters in the range 0x80-0x9f, which are none-printable control characters in Unicode, but perfectly printable chars in CP1252. If we use external routines to handle UTF8, they may somehow mangle these

[2020-04-10 18:40] bertfrees commented on #925
UTF-8 supports all Unicode characters.

[2020-04-10 18:44] bertfrees commented on #926
If we would do this change, I think we should not use any external libraries.

[2020-04-16 17:49] alexbernier commented on #881
Same behaviour with strings like "a \d.ext" (with \d an integer, and ext in a rule like "compbrl .ext"):

Example:
$ python3
import louis
s="a 0.doc"
louis.translate(["fr-bfu-g2.ctb"], s, mode=louis.dotsIO|louis.compbrlAtCursor, cursorPos=1)

Can be fixed by removing the "compbrl .ext" rule.

[2020-04-17 17:16] bertfrees commented on #915
See https://github.com/liblouis/liblouis/pull/927

[2020-04-19 17:48] BueVest commented on #706
Ok, the "endcapsphrase, <before/after> <dot pattern>" opcode apparently has no effect at the moment. The endcaps indicator is apparently always used, and apparently always after the last word. If endcaps has not been defined, capsletter is used for each cap.
Is this the expected behaviour?

table: |
  include tables/en-chardefs.cti
  capsletter 6
  begcaps 6-6-6
  endcaps 6-3
  begcapsphrase 56-56

[2020-04-19 20:38] BueVest commented on #706
Further to capsphrase:
It looks like begcapsphrase simply replaces begcaps, if it has been defined, even if the requirements for a phrase are not met.
In the below example, we have three caps in the beginning of a word. So, it is not a whole word, and it is not three words as required for a phrase.
In UEB, both begcapsphrase and begcaps are defined as 6-6-6, so you can't really tell the difference

[2020-04-20 10:40] bertfrees commented on #921
@egli Will you not forget? This issue is blocking Bue to continue with #920.

[2020-04-20 11:03] bertfrees commented on #706
The idea is to not mix `begcaps`/`endcaps` with `begcapsword`/`endcapsword` and `begcapsphrase`/`endcapsphrases`. This is explained in the manual for the emphasis opcodes.

[2020-04-20 12:46] egli commented on #921
Yes contacted CW

[2020-04-20 13:02] egli commented on #921
I talked to CW and he told me that he intentionally limited the number of letsigns as apparently if he had too many letsigns some other thing would fail. Apparently this had to do with some bitmap that was not large enough and some bit that the ueb code would overwrite. @bertfrees does that ring a bell? Is that something that has long been fixed?

[2020-04-20 13:03] egli commented on #921
So in other words it's OK to add more letsings provided the other issue has been fixed

[2020-04-20 14:02] bertfrees commented on #921
See https://github.com/liblouis/liblouis/issues/529

[2020-04-20 14:45] BueVest commented on #921
Ok, I see the problem. In this case, as in the Danish case, 128 noletsign chars is not enough.Perhaps for now, I should just make a pass2 workaround like I did in Danish.

[2020-04-20 14:59] bertfrees commented on #921
Christian is working on increasing the limit right now.

[2020-04-20 15:20] BueVest commented on #529
Would this help if we were to solve the dynamic array problem without depending on more external libs?

https://solarianprogrammer.com/2017/01/08/c99-c11-dynamic-array-mimics-cpp-vector-api-improvements/

[2020-04-20 16:08] BueVest commented on #706
You wrote:

The idea is to not mix begcaps/endcaps with begcapsword/endcapsword and begcapsphrase/endcapsphrases.

Yes, I think I understand, but AFAICS that is not what is happening. Begcapsphrase seems to be used, even if the test string doesn’t fulfill the requirement for a phrase, and endcaps is used to finish capsphrase instead of endcapsphrase regardless of the location parameter. Please, se

[2020-04-20 16:17] bertfrees commented on #706
Yes, but that is happening because the rules are mixed. The implementation assumes that the rules are not mixed, if that assumption is not met, it outputs rubbish.

[2020-04-20 19:58] BueVest commented on #814
Today, I received the following mail from Celia Braille:

Hello!

Thank you for your message and I am sorry I kept you waiting for the answer.

This is the answer I got from Finnish Federation of the Visually Impaired:

There does not exist any official definition of Finnish 8 dots Braille. The most current at this moment is Fifi-8dot.ctb. If there are any other tables, they can be deleted.

I hop

[2020-04-20 21:30] bertfrees commented on #814
Thanks for looking into this. I'm also tempted to just delete them. However it sounds that the Finnish Federation of the Visually Impaired hasn't actually looked at the other tables. Maybe there is something useful in there that they are unaware of? But anyway, it's probably not worth investing more time into.

[2020-04-21 06:41] egli commented on #529
Hm, @BueVest thanks for the link. Interesting approach. This would certainly solve the problem of all the static arrays and the wasted space.

For me the question is more how much do we invest in the current implementation vs going for a more solid technical foundation, aka move to Rust where this comes for free (see #704)

The PR in #929 doesn't really solve the problem of the wasted space, it ju

[2020-04-21 06:59] #529 closed

[2020-04-21 08:36] bertfrees commented on #529
Instead of closing the issue we could also have renamed it to "Number of *letsign rules is limited to 256" :-)

[2020-04-21 09:23] bertfrees opened #930 "In fr-bfu-g2.ctb treat right single quotation mark as apostrophe"
@AlexBernier noticed that in fr-bfu-g2.ctb table we have rules like:

    word d'abord 145-3-1

These rules use ' (U+0027) but in the wild we most often find the ’ character (U+2019). (This is the "right single quotation mark", but under the comments it says "this is the preferred character to use for apostrophe".)

The best way to handle this is to add a correction rule:

    noback correct $l[’]

[2020-04-21 10:10] BueVest commented on #529
O yes, and next time it could be 512 or 1024 (smile)

I actually think that some Braille tables might still hit the ceiling with a limit of 256 if they have to support a lot of diacritics or several scripts, and the accent mark replaces letsign, which I think it does in most Braille codes. However, I think we are good at the moment with the German and the Danish tables. Thank you, Christian.

[2020-04-21 10:28] BueVest commented on #529
I understand your point. However, as long as we have no actual plans of doing the port to Rust, I think we should make the most of where we are.

Once we start working on #704, I am all in.

[2020-04-21 18:51] #918 closed

[2020-04-21 19:03] shivamsid opened #932 "Rule for composite unicode version of 3 characters in bengali.cti missing"
1. The character \x09DC can also be represented as \x09A1\x09BC
2. The character \x09DD can also be represented as \x09A2\x09BC
3. The character \x09DF can also be represented as \x09AF\x09BC

There is no rule for the representations using 2 Unicode characters.
Since the two representations are used interchangeably it is important to cover both the representations in the table

[2020-04-21 19:14] shivamsid opened #933 "Rule for \x0964 missing in bengali.cti"
The character `।` `\x0964` is called _dari_ in Bengali. It is the equivalent of the full stop in the English language.
The rule mapping this character to the dot combination 256 is missing

[2020-04-21 19:20] egli commented on #529
Oh, I didn't mean to close this issue. It was closed because I wrote "fixes #529" in the commit message. OTOH I think for now we have dealt with this issue and we can close it. But if you feel it should be open then feel free to reopen.

[2020-04-21 22:39] bertfrees commented on #932
@shivamsid Could you please contact to the maintainers of this table? You can find their contact information in the bengali.cti file.

[2020-04-23 09:45] BAUM-Engineering opened #934 "New table for Uzbek - based on Russian table."
Hello contributors,

We have an application that relies on liblouis braille tables. One of our clients requested a new Uzbek table that we should add into our application. We have made a demo table based on Russian grade 1 to satisfy the requirements imposed by our client and they have tested and approved the correctness of the translation, and therefore has requested for this table to be included

[2020-04-23 11:44] egli commented on #934
Hi
It would be great if you could turn this into a pull request. Basically just press the Pull Request link where it says _This branch is 1 commit ahead of liblouis:master_ on [your repo page](https://github.com/BAUM-Engineering/liblouis). Then we could comment on the change and possibly request changes.

If you need any help, let me know.

[2020-04-23 12:15] Futyn-Maker commented on #934
Hello!

Are You sure that creating the table based on ru-ru-g1.utb is good idea?
I don't know about the Uzbek Braille rules, but I know that Russian grade 1 table is full of bugs and mistakes. Wrong indicating Latin capital letters, a lot of mistakes in definitions and more...
Maybe, Uzbek Braille isn't so difficult as Russian, but i assume that there's a lot of similar rules.

Andrey

[2020-04-23 12:28] bertfrees commented on #934
See https://github.com/liblouis/liblouis/pull/935.

[2020-04-25 12:03] Futyn-Maker opened #936 "Renaming some Russian tables"
Hi all! Now we have "ru.ctb", the only table of Russian computer braille, and "ru-compbrl.ctb" - the Russian literary table for source code.
I suggest to rename "ru.ctb" to "ru-compbrl.ctb" and "ru-compbrl.ctb", for example, to "ru-SourceCode.ctb".
These actions will allow to avoid confusions.
The problem that NVDA uses names of tables in code, but I think they'll be able to rename it in their cod

[2020-04-27 09:15] bertfrees commented on #936
I've updated the ["Table renaming" issue](https://github.com/liblouis/liblouis/issues/423). It's a good suggestion, but I'd rather not rename any existing tables when it's not really needed, until we've figured out a proper naming scheme.

[2020-04-28 20:24] bertfrees commented on #907
Duplicate of https://github.com/liblouis/liblouis/issues/780

[2020-04-28 20:24] #907 closed

[2020-04-28 20:25] bertfrees commented on #780
Tests are in [nl-g0_harness.yaml](https://github.com/liblouis/liblouis/blob/09201182f3ea6bd46788eef7f97e556175f7f53b/tests/braille-specs/nl-g0_harness.yaml)

[2020-04-29 08:56] bertfrees opened #938 "Macro feature"
Build in a simple text-substitution macro language into Liblouis, inspired by the [LiblouisAPH feature](https://cdn.rawgit.com/MikeGray-APH/LibLouisAPH/master/docs/LibLouisAPH-Reference.html)

A macro could look like this (inspired by [Make](https://www.gnu.org/software/make/manual/html_node/Multi_002dLine.html#Multi_002dLine)):

[code]

and it would be called like this:

[code]

It would be disal

[2020-04-29 09:35] bertfrees commented on #472
`class` should be deprecated and should be an alias for `attribute`.

[2020-04-29 09:45] bertfrees opened #939 "Deprecate use of multiple character argument for the attribute (class) opcode"
If you want to set a character attribute on a list of characters you can currently do it in two ways:

    class vowel aeiuo

or

    class vowel a
    class vowel e
    class vowel i
    class vowel u
    class vowel o

Being able to do it in only one way is better IMO. It is simpler to understand and document and takes away any confusion. We have other opcodes that accept multiple characters but

[2020-04-29 09:46] bertfrees commented on #106
Closing this because

    class diacritics ÁáÉ

can be written as

    class diacritics Á
    class diacritics á
    class diacritics É

In fact I think we should even deprecate the use of multiple character arguments for the `class`/`attribute` opcode (these two will be merged): https://github.com/liblouis/liblouis/issues/939.

[2020-04-29 09:51] bertfrees opened #940 "Implement noletsign, noletsign and noletsignafter as character attributes"
Currently they have their own space in the table, but if I think they could also be implemented as special character attributes, like it is already done for a number of other opcodes:
- `numericnocontchars`
- `midendnumericmodechars`
- `numericmodechars`
- `capsmodechars`
- `emphmodechars`

This change would simplify the code and would also fix https://github.com/liblouis/liblouis/issues/529 for g

[2020-04-29 10:15] bertfrees opened #941 "Allow setting predefined character attribute with the attribute (class) opcode"
Currently you can set user defined attributes using either a number between 1 and 45:

    attribute 1 X

or with a class name:

    class foo X

(Note that these two will be merged: https://github.com/liblouis/liblouis/issues/472.)

It would be useful if you could also set predefined attributes. There are the 9 attributes that have a corresponding character definition opcode:

- `space`
- `letter

[2020-04-29 10:19] bertfrees opened #942 "Deprecate certain opcodes that could be covered by the attribute opcode"
- `numericnocontchars`
- `midendnumericmodechars`
- `numericmodechars`
- `capsmodechars`
- `emphmodechars`
- `seqdelimiter`
- `seqbeforechars`
- `seqafterchars`
- `noletsign`
- `noletsignbefore`
- `noletsignafter`

See https://github.com/liblouis/liblouis/issues/941.

[2020-04-29 11:11] bertfrees commented on #472
Another difference between `class` and `attribute` is that `class` also puts the attribute on the associated dots (associated with a character definition rule, and must be single-cell). We can make that the new behavior of `attribute` as well without breaking anything. A better solution would be to also allow setting attributes to specific dot cells.

[2020-04-29 11:23] bertfrees opened #943 "Deprecate swapcc, swapcd and swapdd"
I've always found that swap classes are a bit of a peculiar part of the multi-pass language. I find it a bit hard to read an expression that uses swap classes because the mappings are defined in `swapcc`/`swapcd`/`swapdd` rules, while in general replacements are expressed in the match and replace operands of multi-pass rules. There can also be some confusion because swap classes and regular classe

[2020-04-29 11:35] bertfrees opened #944 "Allow setting emphmodechars per emphasis class"
[![Fund this issue](https://liblouis.github.io/images/Fund_button.svg)](https://issuehunt.io/r/liblouis/liblouis/issues/944)
---

Currently `emphmodechars` is set for all emphasis classes at once. It might be useful to set it per emphasis class, especially if we are going to use the emphasis machinery to handle other stuff like alphabet switching markers (https://github.com/liblouis/liblouis/issue

[2020-05-01 08:04] egli commented on #940
I'm all for that

[2020-05-01 08:04] egli commented on #106
Hm, I still think it sucks to have artificial limits on the length of args.

[2020-05-01 08:51] bertfrees commented on #106
But this is just a limit on the length of the lines that Liblouis read (not some limit in the compiled table), and if we make it so that no long rules are allowed, it's not an issue.

[2020-05-02 11:26] bertfrees opened #947 "Compiler should complaint when a display table maps multiple (real) dot patterns to the same character"
Two dot patterns should only be allowed to map to the same character if they are identical when the virtual dots are cut off. Otherwise the compiler should throw an error.

[2020-05-03 17:25] bertfrees opened #948 "Remove the feature to use $w, $x, $y, $z in multipass expressions"
It can be useful to combine custom attributes, e.g. `$wx` means: a character that matches either `$w` or `$z` or both. However there are also other ways to achieve the same. For example you can define a class that contains all the characters of `$w` and `$z`. Or you could split up your multipass rule in several rules.

The reason for removing this feature is that it makes for rule that are too bri

[2020-05-03 17:27] bertfrees opened #949 "backmatch opcode is not used and not documented and not covered by tests"
We should either remove it or document/test it.

[2020-05-03 17:30] bertfrees opened #950 "Unused code in pattern.c"
There is a whole lot of code in pattern.c that is not used (but yet needs to be maintained). Some code is not used at all, some is only for debugging.

[2020-05-03 18:05] bertfrees commented on #472
See PR: https://github.com/liblouis/liblouis/pull/951

[2020-05-04 09:04] bertfrees commented on #814
Fixed by https://github.com/liblouis/liblouis/pull/931

[2020-05-04 09:04] #814 closed

[2020-05-04 09:12] bertfrees commented on #915
Fixed by https://github.com/liblouis/liblouis/pull/927

[2020-05-04 09:12] #915 closed

[2020-05-04 11:30] bertfrees opened #952 "Implement version 2019 of Dutch standard"
Defined here: https://braille-autoriteit.org/versie-2019-van-zespunts-standaard.

[2020-05-04 11:35] egli commented on #852
As it stands this bug is really hard to track as I do not have a way to reproduce. @school510587 or @lukaszgo1 can one of you reproduce the crash in a debugger so I at least have a hint where to look? Or try to run [valgrind](https://github.com/liblouis/liblouis/blob/master/HACKING#how-to-find-memory-leaks) or [AddressSanitizer](https://github.com/liblouis/liblouis/blob/master/HACKING#addresssanit

[2020-05-04 17:02] lukaszgo1 commented on #852
@egli I'm not a C person, however I believe that it is required to rebuild binaries with a debug options to be able to have anything meaningful when launched under debuggger, right? If so are the LL default binaries suitable for this or is recompilation required?

[2020-05-05 05:42] egli commented on #852
Yes, correct. But as far as I know currently the binaries from the [nightly snapshots](https://github.com/liblouis/liblouis/releases/tag/snapshot) are [not compiled with debug options](https://github.com/liblouis/liblouis/blob/master/.travis/script/mingw.sh#L4).

[2020-05-05 08:22] lukaszgo1 commented on #852
Could someone create the binaries with a debug options then?

[2020-05-05 08:39] #473 closed

[2020-05-05 10:39] bertfrees commented on #202
Fixed by #928

[2020-05-05 10:39] #202 closed

[2020-05-05 10:48] bertfrees commented on #941
It appears that this is already possible (for the first part, `space` to `litdigit`, only). But it is not documented.

[2020-05-05 10:50] bertfrees commented on #797
It appears that setting an attribute on a character that does not have a character definition rule is already possible, but not documented. See the following test:

[code]

[2020-05-10 18:19] BueVest commented on #911
merge de-g1-bidi-core.cti with de-g1-core.cti
  merge de-g0-bidi-core.uti with de-g0-core.uti

Can be done, but would lead to more files if the goal is to only specify things once, e.g.:
de-g0-common-core.uti: Common core file for the two grade 0 tables.
de-g0-bidi-core.uti: g0 core file to be used also in g1-bidi and g2-bidi, like the current structure.
de-g0-core.uti (possibly renamed): g0 core

[2020-05-10 19:43] bertfrees commented on #911
I've looked at the files again, and yes, I believe that this is indeed the way forward. Very big parts of de-g0-bidi-core.uti and de-g0-core.uti are the same. It might also be possible to further reduce the differences; in terms of number of lines, but also in terms of actual behavior.
- Maybe some rules could be rewritten. I'm thinking about the dots `3456` that you removed from all those rules a

[2020-05-10 21:31] bertfrees commented on #911
Well obviously the expected results need to be adapted :-)

What I'm asking here is basically what you already did in #920, if I understand correctly. I think you copied de-g0-bidi-specs.yaml to de-g0-specs.yaml and adapted it so that all tests pass, right? That's what I had in mind. A further improvement could be to separate the common behavior from the different behavior, just like with the tabl

[2020-05-12 07:03] BAUM-Engineering commented on #934
Issue got solved and the PR has been merged.

[2020-05-12 07:03] #934 closed

[2020-05-12 09:33] BueVest commented on #911
*	Maybe some rules could be rewritten. I'm thinking about the dots 3456 that you removed from all those rules and which looks like a pattern. Can you explain what is happening here? I can't immediately find a logical explanation in the "Differences between this table (de-g0-bidi.utb) and de-g0.utb" text that you provided, or in the tests.

I haven’t checked this in the code, but here is how it see

[2020-05-12 10:20] bertfrees commented on #911
@BueVest Thanks for the explanation. This confirms what I was thinking. @egli Can you raise the issue with Christian Waldvogel? If needed provide some tests (but as Bue noted there might already be tests for it).

[2020-05-12 13:07] leonardder opened #954 "Update Dutch 8-dot table"
The working group of the Dutch braille authority performed changes to the 8 dot braille table working draft. They need to be performed to the liblouis table as part of the 3.13 release. I will provide a pr in time for the release.

cc @dkager

[2020-05-12 13:16] bertfrees commented on #954
Cool, thanks.

[2020-05-12 13:24] bertfrees commented on #952
Related: https://github.com/liblouis/liblouis/issues/954

[2020-05-24 15:14] bertfrees commented on #816
Done in PR https://github.com/liblouis/liblouis/pull/913

[2020-05-24 20:17] bertfrees opened #959 "hyphen should be a character attribute rather than a translation opcode"

[2020-05-26 09:08] Andre9642 commented on #881
I suggest a temporary fix for 3.14 by commenting the following rules:

[code]

Also some tests should probably marked as fail.

[2020-05-26 09:28] bertfrees commented on #881
Fine by me, if you think that's the best way forward. Will you provide a patch?

[2020-05-26 09:56] Andre9642 commented on #881
Yes. I'm not very happy to fix this like that. But IMO such bug is not acceptable.

[2020-05-26 10:12] bertfrees commented on #881
We should look into this bug before next release if time allows.

[2020-05-29 09:52] egli commented on #702
This all sounds very reasonable. Allow me to do some bikeshedding however.

I think it is better to be explicit in the sense that you manually have to associate an emphclass with a character class instead of doing this automatically. Another benefit of this is that we can then use the regular `emphclass` syntax and do not have to resort to some magic to automatically associate an emphasis class wi

[2020-05-29 11:56] bertfrees commented on #702
Hmm, you seem to have the impression that there is some magic involved, but there isn't. I think I didn't express myself well when I said "This would automatically create a emphasis class". I mean _internally_ it will use the same structs that are used to declare emphasis classes, so that the same functions can be used to insert the indicators.

It's important to realize that these character class

[2020-05-29 11:58] egli commented on #911
@bertfrees what issue should I raise with Christian Waldvogel? He only cares about forward translation and as Bue says [above](https://github.com/liblouis/liblouis/issues/911#issuecomment-627227397) _as you can see, it makes no difference for the forward translation_. So as long as the forward translation is the same he doesn't care.

[2020-05-29 12:13] bertfrees commented on #911
The numsign issue. There are numsigns inside some rules, and we suspect they are not needed.

[2020-05-29 14:06] #472 closed

[2020-05-29 14:24] #816 closed

[2020-05-29 18:28] BueVest commented on #911
Hi,

I began to restructure the tables locally, but ran into problems, which I am currently trying to solve.

If you want, you should be able to merge the current state of the PR. It does solve the letsign issue for fwd trans and adds tests.

BTW: Christian, yes, the tests are mostly taken directly from “Das System der deutschen Brailleschrift 2018”.

[2020-05-29 20:25] bertfrees commented on #911
Yes, I think we'll do that.

[2020-05-29 20:46] bertfrees commented on #911
I've moved the issue to milestone 1.15. @BueVest let us know if you manage to make some progress, but I think it's better not to rush things anyway. I want Christian Waldvogel to have enough time to review.

[2020-05-29 22:27] Futyn-Maker opened #961 "The document which describes the Russian braille rules"
Hello!

I'd like to include the document which describes the Russian literary braille rules, but I have a few issues.

1. The file which I suggest isn't the official document/specefication. It's the tutorial called "Releasing of common braille guide". It's about creating and imbossing braille paper books. The first part is about structure of book, pages, ETC., while second part describes braille d

[2020-05-30 00:03] bertfrees commented on #961
Great. It is absolutely not a requirement for it to be in English. Something that could be useful but not required, is to include a translation of the table of contents. What is important is that you have a precise description of the document: title, author, date, and if applicable: publisher, ISBN, etc.

It is also not a problem to include document that are not official specifications. To have so

[2020-05-30 21:22] Futyn-Maker commented on #961
I've created the new PR here:
https://github.com/liblouis/braille-specs/pull/10

It's have sense to continue the discussion there.

Andrey

[2020-05-30 21:22] #961 closed

[2020-06-01 12:52] mehgcap opened #963 "dot 7 capitalization indicator remains active when it shouldn't"
[![Fund this issue](https://liblouis.github.io/images/Fund_button.svg)](https://issuehunt.io/r/liblouis/liblouis/issues/963)
---

I opened a [ticket on this with NVDA](https://github.com/nvaccess/nvda/issues/10603#issuecomment-564074450)
last year, and was told to file it here.

As the ticket says, the dot 7 used to indicate capitalization in 8 dot braille remains, even after a word is translated

[2020-06-01 15:32] bertfrees opened #964 "Add more tests for Dutch computer braille and add reference to specification"
[![Fund this issue](https://liblouis.github.io/images/Fund_button.svg)](https://issuehunt.io/r/liblouis/liblouis/issues/964)
---

[2020-06-01 16:44] leonardder commented on #964
cc @dkager

[2020-06-01 17:20] bertfrees commented on #963
To make it easier for us to understand the issue can you provide an example, including input and expected braille output. Please also mention the table that is used. (If you don't know the table that is used can you ask NVDA.)

[2020-06-01 19:50] bertfrees commented on #702
Moving this to next milestone.

[2020-06-01 19:50] bertfrees commented on #905
Moving this to next milestone.

[2020-06-01 19:52] bertfrees commented on #921
Fixed by PR #920

[2020-06-01 19:53] bertfrees commented on #954
Fixed by PR https://github.com/liblouis/liblouis/pull/956

[2020-06-02 09:52] #954 closed

[2020-06-02 09:55] #921 closed

[2020-06-02 16:06] bertfrees opened #966 "Handle capitalization inside German words (not at the beginning)"
Currently all capitalization is ignored, but the German braille code says that only capitalization at the beginning of words should be ignored.

SBS currently implement this in XSLT, but Liblouis should have the capabilities to do it.

Let's start with creating some YAML tests.

[2020-06-02 16:37] BueVest commented on #966
I’ll have a look at it. There are some good examples in DSDDB.

[2020-06-02 18:19] BueVest commented on #941
Good idea. Would also be a good way to solve the "alwaysletsign" problem #107

[2020-06-03 12:43] leonardder commented on #952
I believe we're now at version 2020 of the standard, though it's not officially published yet. I will ask the responsible people about this.
Part of this should be removing the separate tables for Belgium and the Netherlands, they should be one table, as there's really just one standard. Having separate tables is confusing for end users.

[2020-06-03 12:46] bertfrees commented on #952
https://github.com/liblouis/liblouis/issues/34

[2020-06-03 13:08] leonardder commented on #952
Ah, I see. The 2019 standard was published in 2020, that's what confused me.

[2020-06-04 20:04] BueVest commented on #832
I have had a look at it, and it seems to be a bit more complicated than just that.
Moving the included US table does solve the immediate problem, but introduces about a ton of new fails. AFAICS, the table needs a major overhaul if we are to adapt it to back-translation. Also, There is a lot of xfails for forward translation. So, definitely, there is some work to be done for this one.

If someone h

[2020-06-05 05:51] BueVest commented on #757
According to World Braille Usage, the two sets of characters are represented by the exact same dot patterns, so there seems to be no obvious way to distinguish between them.
How would you normally write the characters "&", "<" and ">" in Portuguese Braille to distinguish them from the letters?

[2020-06-05 08:29] BueVest commented on #948
I agree on the current construction being too brittle and hard to debug. An alternative could be a feature to assign custom attributes to letters, e.g. "assign myAttribute x". This could be useful as we seem to be using attributes for more and more purposes. Then the "x" could still be used in multi-pass rules with $.

[2020-06-05 10:02] bertfrees commented on #948
I don't necessarily want to provide an alternative. I've looked up the rules that use this feature and there is only one instance (in es-g2.ctb) where it can not be replaced with `%...`. So I think definitely not worth a new opcode.

- da-dk-g16-lit.ctb:262, da-dk-g26-lit.ctb:824, da-dk-g26l-lit.ctb:519, da-dk-g16.ctb:248, da-dk-g26.ctb:1010 and da-dk-g26l.ctb:491:

       noback context $w["-"]$w

[2020-06-07 06:24] codeofdusk opened #967 "Improve support for UEB mathematics"
According to [this blindmath posting](http://nfbnet.org/pipermail/blindmath_nfbnet.org/2020-June/009411.html), Liblouis has no support for UEB mathematics. I found [this table](https://github.com/liblouis/liblouis/blob/master/tables/en-ueb-math.ctb) which has some definitions, but looks far from complete (maybe more symbols are defined elsewhere).

[2020-06-08 07:26] egli commented on #967
@codeofdusk can you get in touch with APH to get an update on the status and their plans?

[2020-06-10 06:15] leonardder opened #968 ".NET wrapper"
Now Microsoft is going multi platform with .NET Core, there might be potential for a .NET Standard wrapper for liblouis, that allows integrating liblouis in .NET software. In the end, this would also allow us to create a powershell module for liblouis. Of course, this is all only interesting if there's a real desire for it, but as we have Java and Python bindings, I think .NET bindings should also

[2020-06-10 06:51] egli commented on #968
Sounds like a good idea. I'd be happy to integrate such a change either in this repo or as a separate repo (like the java bindings) in the liblouis organization.

[2020-06-12 11:09] leonardder opened #969 "Deprecate UCS2 support"
Currently, liblouis can be compiled in ucs2 or ucs4 widechar mode. In the past, especially for Python 2, we relied on ucs2 support. However, as Python 2 is now EOL and we can safely abandon it, is there any demand for UCS2 support still? If not, why not consider removing it altogether? I'm pretty sure it makes wrappers in other languages (Python, .NET, Java) less complex.

[2020-06-12 12:58] bertfrees commented on #969
I'm sorry, I don't want yet another issue about the encoding. It's getting out of hand. Please refer to https://github.com/liblouis/liblouis/issues/925 and https://github.com/liblouis/liblouis/issues/926.

[2020-06-12 12:58] #969 closed

[2020-06-12 13:23] leonardder commented on #925
This is an interesting idea, though I have two concerns:

1. How about malformed utf8 strings? For example `€` is `\xe2\x82\xac`. What happens if we throw `\xe2\x82` at liblouis?
2. What would the braille to character and character to braille position mappings look like? For example, would the `€` sign take 3 characters (3 bytes in utf-8) or 1 character (one entity in unicode)?

[2020-06-12 13:36] bertfrees commented on #925
1. I don't know. How do other tools do it? We could just fail, or be forgiving and skip only the characters that are invalid. Wouldn't it be a reasonable expectation that valid strings are provided?

2. Exactly the same as it is today: positions are expressed in characters, not bytes.

[2020-06-12 13:46] leonardder commented on #925
In python:

[code]

So that means liblouis will do some decoding, right? I'm afraid that'd be very hard to get right without external libraries.

[2020-06-12 13:57] bertfrees commented on #925
Yes, of course, that's the idea.

Come on, what can be so hard about it? If an encoding scheme is so hard to implement how can it become so popular?

[2020-06-12 15:55] leonardder commented on #925
That's a true thing. Just made to be sure all edge cases will be covered.

[2020-06-12 16:14] bertfrees commented on #925
Well, we'll see. If needed we'll use a library, but the intention (at least mine) is to implement it ourselves.

[2020-06-12 16:38] bertfrees commented on #925
FYI the tables are already encoded in UTF-8. A conversion to UCS2 or UCS4 happens when the tables are compiled. We are not using an external library for this either at the moment. Whether our implementation is too naive, I don't know. I don't know UTF-8 well enough for that.

[2020-06-12 23:23] Adriani90 commented on #963
@bertfrees I can try to clarify here a bit.

Here are two issues:
1. In NVDA in braille settings, enable "expand to computer braille for the word at the cursor"
2. Set your braille table to contracted braille (i.e. for UEB braille table)
3. Move the cursor on the example line below to different positions and see what's displayed on the braille display (it happens with UEB braille table and possibl

[2020-06-13 10:09] bertfrees commented on #963
Hi @Adriani90. Thanks for the additional info. However this is more or less what you already put in NVDA issue. What I'm asking is one of more examples _with expected output_ (as in braille strings).

[2020-06-13 11:36] Adriani90 commented on #963
Since I am not famliliar with english contracted braille or other languages other than german contracted braille, I would kindly ask @mehgcap to provide an exact example of the dot strings which are expected to appear on the display when moving the carret over the line.

In german, we do not have abbreviations in contracted braille for interpunctuation or paranthesis or other symbols. We contract

[2020-06-18 14:06] leonardder commented on #911
If I'm correct, de-g0-bidi.utb and de-g1-bidi.ctb tables are meant to replace the tables without -bidi in it in the end?

[2020-06-18 14:15] bertfrees commented on #911
No, they will stay separate tables. The goal is of course to make the main German table perform better in backward direction. But the "bidi" variants implement a different braille code, one that preserves more details in braille, and this is not what the majority of the German braille users need.

[2020-06-18 14:40] BueVest commented on #911
I initiated the work on the bidi tables because I received requests to help create German tables which could be used in Braille note-takers, requiring accurate translation and back-translation, and also because I got requests from German users wanting to be able to proof-read with NVDA in grade 2 with indication of capital letters. The original tables currently do not fulfill these needs.

If ther

[2020-06-29 11:56] njsch opened #971 "Add Australian Pre-UEB G1 & 2 Tables"
It would be a really nice bonus if -- like in Duxbury Systems' DBT -- it was possible to be able to both translate and back-translate into grade 2 Australian pre-UEB Braille.  Sometimes I am a bit old-fashioned and still like to write in this format.  Eventually I may be able to write a table myself but so far am not experienced enough to do this.  Could this be indefinitely opened as a todo issue

[2020-06-30 02:03] #971 closed

[2020-06-30 02:04] njsch commented on #971
UK grade 2 Braille is adequate.

[2020-06-30 07:44] njsch opened #972 "Update Table "en-GB-g2""
The classic British grade 2 Braille table (practically identical to the classic Australian pre-UEB code) probably needs to be updated in order for back-translation to work properly.  So far, I have noticed the following problems:
* Liblouis does not seem to know how to use the table to adequately deal with letter signs in certain situations.  For example, sometimes a letter sign is amalgamated wit

[2020-06-30 20:17] BueVest opened #973 "Mark tables with appropriate metadata concerning direction"
[![Fund this issue](https://liblouis.github.io/images/Fund_button.svg)](https://issuehunt.io/r/liblouis/liblouis/issues/973)
---

Apparently, quite a few tables were simply not designed with back-translation in mind, and, therefore, don't work very well with back-translation. This applies particularly to quite a few grade 2 tables, but also to some grade 1 tables.

We should go through especially

[2020-07-07 14:31] JakeKyle opened #974 "Malayalam table "malayalam.cti" needs augmenting"
[![Fund this issue](https://liblouis.github.io/images/Fund_button.svg)](https://issuehunt.io/r/liblouis/liblouis/issues/974)
---

@sreejapam
I was working on some Malayalam a couple of years ago and noticed the malayalam.cti table needed some augmenting. This was confirmed by Malayalam proof readers.

The issues are mostly in these categories:

- Chandrakkala (\x0D4D) at the end of a word should n

[2020-07-28 17:06] bertfrees commented on #974
Addressed in https://github.com/liblouis/liblouis/pull/975

[2020-08-13 22:59] xtstoll commented on #757
@BueVest and @bertfrees - Hey!

According to the [Grafia Braille de Informática](http://portal.mec.gov.br/seesp/arquivos/pdf/grafiainfo.pdf) (Portuguese reference for computer braillle), these characters can be represented like this:

**ç vc. &**
ç (letter c with cedilla) = 12346
& (ampersand) = 5 12346

**o vs. <**
o (letter o) = 135

**õ vs. <**
õ (letter o with tilde) = 246
< (less than) = 5 24

[2020-08-14 11:18] BueVest commented on #757
I shall have a look at it. Perhaps this is just what we need to get it fixed.

[2020-08-15 01:15] xtstoll commented on #757
@BueVest - I hope so! I'm here to help. :)

[2020-08-16 13:47] BueVest commented on #757
There still remains the pilcrow sign (\x00b6). It is represented as dots 346, same as ó. I can precede it with dot 5 like the others, or I can remove it entirely from back-translation. That would have the side-effect that pilcrow would always be back-translated as ó, the reverse of today.

Actually, there seems to be several other cases of signs sharing the same dot pattern in the table, e.g. “?”

[2020-08-17 09:13] xtstoll commented on #757
@BueVest

**About the pilcrow sign (¶) and ó (o with acute accent):**
I could not find a reference for this character pilcrow (¶) symbol in Portuguese braille. To not lose it completely, maybe it's best to follow the pattern and use 5 beforehand like you said, like 5-346. And leave 346 to always back-translate to ó, which is much, much more common in the language.

**About the question mark (?) an

[2020-08-21 01:15] IbraamNasif opened #979 "lou_checkyaml crashello dearsh"

[2020-08-21 07:41] bertfrees commented on #979
Duplicate of https://github.com/liblouis/liblouis/issues/852.

[2020-08-22 19:46] BueVest opened #981 "Suggestion: Make a chapter in the manual describing the tables distributed with Liblouis"
Should contain a description of what can generally be expected of tables in Liblouis. Table nomenclature (if we ever settle on one). Directions and intended use. Difference between "literary" tables and tables for use with screen readers and note-takers (settle on terminology).
The chapter should also contain a list of the distributed tables along with various descriptive parameters, both tables f

[2020-08-23 00:20] xtstoll opened #982 "Square root symbol (√) not translated in Portuguese Grade 1"
[![Fund this issue](https://liblouis.github.io/images/Fund_button.svg)](https://issuehunt.io/r/liblouis/liblouis/issues/982)
---

### Steps to reproduce:
1. Download NVDA 2020.2
2. Configure braille input and output in Portuguese Grade 1 (Preferences > Settings > Braille)
3. Type √81 in Notepad
4. Observe your braille display or the braille visualizar (Tools > Braille Viewer)

### Actual behavior:

[2020-08-23 20:10] bertfrees commented on #964
@leonardder Have you thought about this?

[2020-08-23 21:28] BueVest commented on #972
I think we need some tests or concrete examples here.

[2020-08-24 01:26] xtstoll commented on #757
@BueVest - woohoo! Thank you!

[2020-08-24 05:56] leonardder commented on #964
I have, but I won't be able to do this for the next release.
@dkager Do you have time perhaps?

[2020-08-25 14:31] bertfrees commented on #923
Done only for Norwegian for now: https://github.com/liblouis/liblouis/pull/984

[2020-08-25 17:34] BueVest commented on #42
I think I see why the bullets have not been defined. BANA seems to distinguish, not between the different bullet signs, but between "primary" and "secondary" bullets in a list
(see http://www.brailleauthority.org/formats/2011manual-web/formats08.html).
The primary and secondary bullets could apparently be any bullet character. If one needs a third level of bullets, they tell you to "devise a sign"

[2020-08-25 22:43] bertfrees commented on #42
Sounds right.

[2020-08-26 11:42] egli commented on #852
Now that #853 has been merged it should be possible to generate cross-compiled binaries for `lou_checkyaml` and we have some reasonable confidence that these will work (they seem to work when invoked in a separate docker image with `wine`). I will build these for the upcoming release and upload them to the release page.

That will at least take care of the missing dll issue. The issue of the crash

[2020-08-26 11:45] #923 closed

[2020-08-26 15:09] egli commented on #875
This would entail an enhancement of the `check_base` function in [`brl_checks.c`](https://github.com/liblouis/liblouis/blob/master/tools/brl_checks.c#L68). This function currently returns 0 for success and 1 for _all_ other errors. This could be some invalid arguments to the function itself, an invalid input string, a cursor position failure, etc.

These failure modes will have to be more granular

[2020-08-26 15:24] egli commented on #885
@bertfrees sorry I cannot reproduce. I have a file `foo.yaml` in the root dir:

[code]

Then I invoke it as follows:

[code]
I do not get the null values back. AFAIK this is done with UCS2, I just did `make maintainer-clean && ./autogen.sh && ./configure && make`

[2020-08-26 15:33] bertfrees commented on #885
After a `make maintainer-clean && ./autogen.sh` it also works as expected for me. OK let's close the issue.

[2020-08-26 15:33] #885 closed

[2020-08-26 15:45] bertfrees commented on #875
Why can't we just pass the expectedError value to `check_base` and let `check_base` compare it to the return value of `_lou_translate` (instead of printing "Translation failed" and returning 1).

[2020-08-27 07:20] egli commented on #875
OK, that might be an option

[2020-08-27 09:45] bertfrees commented on #881
I managed to locate and fix the problem, but I'm still not 100% sure it is correct now:

[code]

There is also something else in the code that I find questionable and that was also related to the problem, namely here on lines 1191 to 1193: https://github.com/liblouis/liblouis/blob/762a0e6b8c2db223d5e29916144acb83d8820bd6/liblouis/lou_translateString.c#L1190-L1205
If the cursor is on a space, why a

[2020-08-27 09:53] #42 closed

[2020-08-27 10:04] #974 closed

[2020-08-28 12:58] egli commented on #875
I tried that and I have it in a local stash. I'm not so sure about its usefulness any more. The yaml tests are designed for a different use case.

So I added an option `translation_error_expected` and it behaves as described above. However it has weird interactions with the `xfail` option, basically the two should not be used together. This would add more code (to ensure the two aren't used togeth

[2020-08-28 13:00] bertfrees commented on #875
You mean for https://github.com/liblouis/liblouis/pull/965.

[2020-08-28 13:02] egli commented on #875
Yes

[2020-08-28 15:32] egli commented on #507
We should clarify what the real requirements are here. There is an attempt to start something along that line in the [case sensitivity yaml test](https://github.com/liblouis/liblouis/blob/master/tests/yaml/case-sensitivity.yaml).

[2020-08-28 20:05] raghavgururajan opened #990 "Louis python-extension does not find LibLouis library"
The Orca application crashed immediately upon launch, with the following error:
[code]

Looks like the `__init__.py` python script is unable to locate the `liblouis.so.20` shared library.

I suspect it is either that the python-extension misses run-path for the shared library, or, there could be something wrong with the line 6 of `__init__.py.in`.

If is the former, I request the project to includ

[2020-08-30 00:33] IbraamNasif opened #991 "Coptic PR #987"
dears
what this phrase means?
expected: wait the status to be reported
am i need to do anything for this?

also it shows:
This branch has conflicts that must be resolved

sorry, its first pr for me.
@egli

[2020-08-30 08:43] daym commented on #990
To be clear--we are using runpath to make sure that liblouis' python extensions use the exact same library of liblouis that liblouis' python extension was compiled for.

It seems that the liblous project already parametrized the name of the so file, but it didn't put the full path. That means the python extension will pick up any liblouis it can find (in this case it found none--because we didn't

[2020-08-31 07:21] egli commented on #991
Hi @IbraamNasif if I understand correctly you have questions regarding your PR #987. Then just add them as comments to that PR. But as far as I can tell that PR can go in the release. Will have to look at it today.

But I'm closing this issue as it appears to be a duplicate of #987

[2020-08-31 07:21] #991 closed

[2020-08-31 07:30] egli commented on #991
Sorry I missed that one. This is the continuous integration server that tests all new code. Apparently it didn't finish for some reason. I would not worry too much about it. I think it is a problem on their side not a problem with your contribution. No there is nothing you need to do at the moment

[2020-08-31 09:51] #982 closed

[2020-08-31 09:58] egli commented on #757
Fixed by #983

[2020-09-01 00:28] xtstoll commented on #982
@BueVest -thanks again! About your request, I will gather more information on problems like the + / ! problem, and post new issues to deal with in the next release. Thanks again!

[2020-09-01 12:09] JakeKyle opened #992 "Urdu Grade 2 table needs updating"
[![Fund this issue](https://liblouis.github.io/images/Fund_button.svg)](https://issuehunt.io/r/liblouis/liblouis/issues/992)
---

I have been told by a new (probably more recently qualified) Braille proof reader that 4 contractions are no longer in use in Urdu Grade 2 Braille. These are:

dots 25 for با (\x0628\x0627)
dots 46 for کھ (\x06A9\x06BE)
dots 34 for ہو (\x06C1\x0648)
dots 256 for تا (\x0

[2020-09-01 15:00] dkager commented on #964
Sorry, I can't look at this in the next few weeks. :(

[2020-09-08 09:27] IlyaOvodov opened #993 "windows build fails: ..\liblouis\lou_translateString.c(2231): error C2057: expected constant expression"
Windows build fails:

[code]

[2020-09-08 09:38] IlyaOvodov commented on #838
@egli, why was it closed? The problem still persists: libloius build fails on Windows.

[2020-09-08 09:40] IlyaOvodov commented on #993
The problem was reported in #838, but that issue was closed although the problem is not fixed.

[2020-09-08 10:02] IlyaOvodov opened #994 "./configure fails during installation"
I'm trying to install liblouis using description in README:

As I expected, I get:
[code]
What does this text in README means? How to install?

[2020-09-08 10:10] bertfrees commented on #994
Have you done this step? If you have not done this (e.g. you havechecked out the code from Github), the following line is relevant:

[2020-09-08 10:15] Andre9642 commented on #994
If you have cloned the repository, run `./autogen.sh` first. Also you can read HACKING file for more details.

[code]

Good luck!

[2020-09-08 10:17] #994 closed

[2020-09-08 10:20] bertfrees commented on #838
@IlyaOvodov We decided to not fix this issue because MSVC does not support Variable Length Arrays and people can also use Clang to compile Liblouis on Windows.

[2020-09-08 14:46] MarcoZehe commented on #729
Is this still needed, or has this been solved in some other fashion yet?

[2020-09-08 14:49] MarcoZehe commented on #597
There have been lots of moving parts in the German grade 0 to grade 2 tables, I am closing my issue in favor of other, more targeted, new ones, or by looking at existing newer issues that cover German backtranslation. Feel free to CC me on any of those issues for testing or advice, @BueVest @bertfrees .

[2020-09-08 14:49] #597 closed

[2020-09-08 15:34] bertfrees commented on #597
@BueVest Do we need to keep this issue open?

[2020-09-08 16:12] BueVest commented on #597
In my opinion, no. The issue is about the original German grade 2 table, which is “forward only”. I interpret the issue as a wish for the implementation of German g2 back-translation, i.e. not a bug report but a feature request.

If we were to do anything, perhaps we should create an issue with this content?

[2020-09-08 16:24] bertfrees commented on #863
See also the discussion in https://github.com/liblouis/liblouis/issues/597.

[2020-09-08 16:38] bertfrees opened #995 "Implement nocross for back-translation"
This issue is about improving the existing `nocross` opcode for back-translation. Currently `nocross` works like `always` when back-translating. Note that this does not involve a second patterns file, like is the case in https://github.com/liblouis/liblouis/issues/863 (and was originally discussed in [#597](https://github.com/liblouis/liblouis/issues/597#issuecomment-464391896)). https://github.co

[2020-09-08 16:39] bertfrees commented on #863
I renamed this issue "New opcode that is the counterpart of nocross" and created a [new issue called "Implement nocross for back-translation"](https://github.com/liblouis/liblouis/issues/995).

[2020-09-08 16:50] bertfrees commented on #597
There is https://github.com/liblouis/liblouis/issues/111 which discussed `nocross` as prefix rule, https://github.com/liblouis/liblouis/issues/863 which discusses a new opcode that is the counterpart of `nocross`, and I've just created a new issue for improving the existing nocross opcode for back-translation: https://github.com/liblouis/liblouis/issues/995. @BueVest can you create an issue that s

[2020-09-10 09:34] egli commented on #993
Hello @IlyaOvodov as far as I remember there was a lengthy discussion about this on the mailing list. I remember that some people showed work-arounds but in the end we decided to stick with [Variable-length arrays](https://en.wikipedia.org/wiki/Variable-length_array) which are part of C99. Unfortunately MSVC doesn't seem to support it (as mentioned in #838).

[2020-09-10 09:34] #993 closed

[2020-09-14 17:19] leonardder commented on #838
Microsoft announced support for C11 and C17 in MSVC. Unfortunately, they decided against variable length arrays.
[Reference](https://devblogs.microsoft.com/cppblog/c11-and-c17-standard-support-arriving-in-msvc/)

[2020-09-20 13:38] gonziee opened #997 "English grade 2 - some cases 'by' is translated to closing quotes"
[![Fund this issue](https://liblouis.github.io/images/Fund_button.svg)](https://issuehunt.io/r/liblouis/liblouis/issues/997)
---

Test case:
byte by <- Works
by byte <- first cell is dots(356) rest is fine
by b <- same as before, dots(356) instead of dots(12)&(13456)
'by' b <- putting quotes (or anything else) makes it work fine

Examples:
byte by = ⠃⠽⠞⠑⠀⠃⠽
by byte = ⠴⠃⠽⠞⠑
by b = ⠴⠰⠃
'by' b =⠠⠦⠃⠽⠴

[2020-09-22 06:18] gonziee commented on #997
Similar thing happens with 'to'
when word is in front it changes to ! symbol - ⠖

[2020-09-23 09:34] JakeKyle commented on #997
@gonziee which English grade 2 table are you talking about?
If it is British English pre-UEB table: "en-GB-g2.ctb" then this is correct behaviour - "by" and "to" used to be contracted and attached to next word. This changed when UEB came in.
I have just checked with UEB table and it seems to work as you would like it to - without contracting and joining "by" and "to" to the next word.

[2020-09-23 10:32] gonziee commented on #997
aha that could explain the reason, wasn't using GB but "en-us-g2.ctb" I assumed this was UEB. I tried it with "en-ueb-g2.ctb" now and it works! sorry for the confusion

[2020-09-23 10:37] JakeKyle commented on #997
Great - glad to be of help

[2020-09-23 10:37] bertfrees commented on #997
Thanks for the clarification Jake.

[2020-09-23 10:37] #997 closed

[2020-09-23 13:02] bertfrees opened #998 "Issues with emphasis in German when quotation mark or full-stop precedes/follows."
Thilo Lutz reported this. The following YAML file represents the current behavior. Some of these tests are wrong. To do: describe expected behavior.

[code]

[2020-09-23 13:46] bertfrees commented on #998
@egli I think we might be able to fix this in the table. I don't think there is any risk of messing things up for you, is there? You are currently not using typeform as far as I know? Would it make sense for you to create some more emphasis related tests based on your tests for dtbook2sbsform and Pipeline 2? I noticed we currently have one single emphasis test for German in de-ch-g1.yaml, but we c

[2020-10-05 18:01] bertfrees opened #999 "In German, a plural noun that is written the same way as the singular is sometimes contracted differently"
@egli How do you handle this at SBS? Is it a special case of a homograph?

[2020-10-12 16:25] bertfrees commented on #147
See https://github.com/liblouis/liblouis/pull/1001

[2020-10-12 17:27] bertfrees commented on #905
There is an exception: if permanent indicators (`begemph`/`endemph`) are used Liblouis does not look at the characters at all. The indicators are simply inserted where emphasis starts/ends according to the typeform data. This should be changed (but is a different issue).

[2020-10-12 17:48] bertfrees opened #1002 "Make begemph and endemph more intelligent"
[![Fund this issue](https://liblouis.github.io/images/Fund_button.svg)](https://issuehunt.io/r/liblouis/liblouis/issues/1002)
---

`begemph` and `endemph` should behave a bit more like the phrase indicators when it comes to determining the beginning and end of the emphasized passage. This means by default emphasis on non-letters should be ignored, and if defined, the new `noemphchars` (https://git

[2020-10-12 17:57] bertfrees commented on #922
Actually we also make sure that the order of the closing indicators is always the inverse of the order of the opening indicators. So if e.g. italic begins before bold, and they end at the same place, the order of the closing indicators is determined by the order of the opening indicators. Something similar happens when e.g. italic ends after bold but they begin at the same place.

The only case wh

[2020-10-13 01:19] Qchristensen opened #1003 "Using English US computer Braille crashes NVDA when reading URLs"
I have just raised an issue against NVDA: https://github.com/nvaccess/nvda/issues/11754

However, this appears like it may be an issue with LibLouis US Braille table, so raising it here also.

Steps to reproduce:
Set NVDA's output Braille table to use English (US) grade 2.
Ensure "Expand to computer Braille for the word at the cursor" is enabled.
Use a connected Braille display OR the Braille view

[2020-10-13 06:35] Andre9642 commented on #1003
Duplicate of #881. You can just write " ://" then set cursor position at start to reproduce it.

I was able to reproduce it like this:

[code]

Workaround: edit 'en-us-g1.ctb' then comment/remove the `combrl` rules like: `compbrl :// URLs` and `compbrl www.`.

[2020-10-13 09:27] bertfrees commented on #1003
Thanks @Andre9642.

As you can see in that issue I think I have found the solution for the problem. So expect it to be fixed in the next release.

[2020-10-14 14:31] bertfrees opened #1004 "Issue and pull request templates"
Configure a pull request template and one or more issue templates. The pull request template could for instance say that we expect regression tests. And there could be a bug report template that explains how to provide test data.

See https://docs.github.com/en/free-pro-team@latest/github/building-a-strong-community/using-templates-to-encourage-useful-issues-and-pull-requests.

[2020-10-14 17:06] bertfrees commented on #779
Can be solved through https://github.com/liblouis/liblouis/issues/905.

[2020-10-15 07:41] egli commented on #757
@bertfrees Why are you reopening?

[2020-10-15 09:02] bertfrees commented on #757
Sorry, probably not needed. It's because I've been trying to solve a IssueHunt issue.

[2020-10-15 12:23] BueVest commented on #757
I couldn’t make IssueHunt work either, so I gave it up. Thought by then that it was an accessibility issue, but apparently not that simple?

[2020-10-16 19:44] bertfrees commented on #906
Fixed by https://github.com/liblouis/liblouis/pull/1000

[2020-10-16 19:44] #906 closed

[2020-10-17 18:55] bertfrees commented on #972
@njsch Thanks for the bug report. Consider providing some concrete examples of input with expected translations. This will increase the chance of attracting developers to address the issue. It might also help if you personally get in touch with the maintainer of the table (Paul Wood).

Is there anything we can do to help you with making the changes yourself? Working on Liblouis tables is not that

[2020-10-17 18:56] bertfrees commented on #963
@mehgcap Any update on this?

[2020-10-17 19:08] bertfrees commented on #932
@shivamsid Did you hear anything from Dipendra Manocha and Sreeja Parameswaran?

By the way, would you happen to have some official or unofficial documentation about the braille code that backs up your suggestions? We would like to refer to such info in our own documentation if possible.

[2020-10-17 19:09] bertfrees commented on #911
@egli Please remember this issue.

[2020-10-17 19:12] bertfrees commented on #964
@leonardder and @dkager Please don't forget.

[2020-10-17 19:16] bertfrees commented on #627
@GatisGrintals Have you had the chance to test the new version of Liblouis? Are there more issues? This issue has been open for a long time so would like to close it if possible.

[2020-10-17 19:57] mehgcap commented on #963
Sorry for my silence on this. I think I missed @bertfrees reply. Also, I now have a display at home, so can test things again. I'm on the current NVDA release (2020.3). I'm using UEB, with the option to translate the word under the cursor to computer braille enabled.

The example given by @Adriani90 is accurate, but I'll provide a simpler one as well. In fact, as I was arrowing to @Adriani90's nam

[2020-10-17 20:28] mehgcap opened #1007 "UEB rules for contracting compound words are not always applied"
Under certain conditions, the UEB rules for not using contractions that span compound words don't seem to be applied.

* Sample phrase: /nowhere
* Expected: /, n, o, where sign
* Actual: / n, ow sign, here sign

* Phrase: <multimedia
* Expected: <, multimedia (spelled without the time contraction)
* Actual: <, mul, time sign, dia

This appears to be the result of not all punctuation being interpre

[2020-10-17 21:51] BueVest commented on #966
Sorry, just totally forgot about it. Be looking into it.

[2020-10-17 22:12] bertfrees commented on #702
OK forget about my initial proposal. I've given it some more thought and I think I have found a better syntax. The main idea is still the same though.

- "Caps mode" is generalized to "mode".
- For every "caps" opcode we add a generalized version of that opcode:
  - `begcaps` --> <code>begmode <i>attribute</i></code>
  - `endcaps` --> <code>endmode <i>attribute</i></code>
  - `capsletter` --> <cod

[2020-10-17 22:26] bertfrees commented on #1007
Thanks. Can I ask you to make the examples more precise? The expected output should be braille, in other words I would like to know the expected dot patterns. You can use the encoding that most of the other UEB tests currently use, or Unicode braille, you may choose. So the first example would become either:

    input: nowhere
    output: _/no":

or:

    input: nowhere
    output:  ⠸⠌⠝⠕⠐⠱

[2020-10-17 23:46] mehgcap commented on #1007
Interesting system. I'll try to get the translation right. It's been a while since I had to use English computer braille, which is what the tests seem to use. Through an odd set of circumstances, I spent most of school using Spanish computer braille instead. :) I've set NVDA to use English 6 dot computer braille, and will type the outputs on the display. Hopefully the translations are right. I'm n

[2020-10-18 09:18] bertfrees commented on #1007
Thanks! You can use whatever system you want. As long as it is braille :-)

[2020-10-19 06:22] leonardder commented on #964
My vacation is planned for next week, so hope to address this soon.
@bertfrees could you please summarize again what your expectations are regarding this?

[2020-10-19 06:35] GatisGrintals commented on #627
Dear Bert,

Thank you very much for your message. I have not tested it myself lately,
but I have not heard any problems from school or anyone.

So probably we can close this issue.
Thank you very much for your support!

Best regards,
Gatis

sestd., 2020. g. 17. okt., plkst. 22:17 — lietotājs Bert Frees (<
notifications@github.com>) rakstīja:

--
*Gatis Grintals*
Chairman of the Board
www.exceed.lv

[2020-10-19 06:41] dkager commented on #964
My vacation doesn’t exist but I’ll think about this. Maybe we need more examples in our specification document first.

Van: Bert Frees <notifications@github.com>
Verzonden: zaterdag 17 oktober 2020 21:12
Aan: liblouis/liblouis <liblouis@noreply.github.com>
CC: Davy Kager <DavyKager@dedicon.nl>; Mention <mention@noreply.github.com>
Onderwerp: Re: [liblouis/liblouis] Add more tests for Dutch compute

[2020-10-19 08:44] bertfrees commented on #627
OK I will close and when there are more issues I'd say open a new open.

[2020-10-19 08:44] #627 closed

[2020-10-19 09:00] bertfrees commented on #964
@leonardder I think first and foremost we need a link to the public specification document. Actually there already is https://braille-autoriteit.org/standaarden/achtpuntsbraille, however it seems to be out of date. Based on the updated documentation we could then also add some more tests.

[2020-10-19 10:39] bertfrees commented on #963
Thanks Alex! I was able to see the issue in full effect in a Liblouis test.

[2020-10-19 11:16] njsch commented on #972
@bertfrees, thanks for the input and reminding me of this issue.  Now that study is over for the year, I may be able to do some homework and get onto this.  I'll come back later and lay out some specific working examples of existing translational problems with the table.  I have listed some instances above where errors occur but as stated, can certainly provide desired practical outcomes.  FYI: @t

[2020-10-20 10:31] JakeKyle opened #1009 "Error in malayalam.cti table"
I have noticed I made a small error in malayalam.cti table line 40:
noback postpunc ' 356-1
should be:
noback postpunc ' 356-3
(where apostrophe is used as close single quote)
I will make a PR with fix and added test in ml.yaml very soon.

[2020-10-20 14:00] mehgcap opened #1011 "UEB all caps indicators are sometimes incorrect"
I've noticed that UEB translation sometimes uses more cells to indicate capitalization than necessary. This may be a UEB rule I'm unaware of, though. Here's an example:

* Input: ISeries
* Expected: a dot 6 before the i, and another before the s, then nothing for the rest of the word
* Actual: two dot sixes appear before the i, with the "end caps" sign (6 in the first cell, 3 in the second) after

[2020-10-20 14:22] bertfrees commented on #1011
Interesting. @jrbowden and I, coincidentally, had a short discussion about this yesterday.

James said both are correct. The way it is done now is not optimal, but there are more serious issues we should be concerned about.

Shall we change the title of the issue to "UEB all caps indicators are sometimes suboptimal"?

@mehgcap Could you give some more examples to show when one or the other method

[2020-10-20 14:44] mehgcap commented on #1011
I don't know what other issues are open right now, but I agree that this is low priority. It's a minor annoyance, especially on displays with relatively few cells, but it's not a mistranslation or anything that might give a user incorrect information. As you say, both work.

As far as I can tell, this happens for any word with three or more letters where the first two are capitalized and the third

[2020-10-20 14:46] bertfrees commented on #1011
Thanks.

[2020-10-20 15:24] mehgcap opened #1012 "numeric space (dot 5) does not always work correctly"
[![Fund this issue](https://liblouis.github.io/images/Fund_button.svg)](https://issuehunt.io/r/liblouis/liblouis/issues/1012)
---

I'm not a professional braille transcriber, but from what I've read, numbers separated by a space can be combined with a dot 5. This replaces a single space between the numbers, and negates the need for a number sign on any but the first number. This doesn't appear to

[2020-10-20 15:32] bertfrees commented on #1012
Thanks for the report. Which rule is this in the UEB rule book? I'm trying to find any existing tests for this in our test suite.

[2020-10-20 15:36] mehgcap commented on #1012
I'm not sure which official rule it is. The reference I read is section 6.1(D) on [this page](http://www.brailleauthority.org/ueb/abcs/abcs-ueb.html).

[2020-10-20 15:40] bertfrees commented on #1012
OK, thanks. It's section 6.6. We already had a few tests for it, and actually one is failing.

There are a whole lot of rules in the table that have to do with the numeric space indicator:

https://github.com/liblouis/liblouis/blob/1c7f6b69943bff24deab5f096210f6eb382e57fc/tables/en-ueb-g1.ctb#L59-L165

There has to be a way to make this shorter, and also to make it work properly.

[2020-10-20 15:52] bertfrees commented on #1012
Managed to replace all this code with just this and seems to do the trick:

[code]

[2020-10-20 16:48] mehgcap opened #1013 "number signs may be misplaced when a decimal number follows a letter"
As usual, there may be rules I don't know about that make this just fine, but here we go all the same. If you have a non-numeric character, a period, then a number, the number sign appears before the period. I would think it should appear after it, right before the number. As with most of my bugs, this is low priority, and is probably technically correct. It looks odd, though, and threw me off whe

[2020-10-20 16:51] bertfrees commented on #1013
The `midendnumericmodechars` opcode may be relevant here.

[2020-10-21 18:32] bertfrees commented on #797
Actually the documentation and tests have been updated in 0acf92c63e20d875efd4a424cbba31459d8adbd8 (PR #951). Going to close this.

[2020-10-21 18:34] bertfrees commented on #428
Closing this issue as it's not going to happen and the benefits are marginal.

[2020-10-21 18:34] #428 closed

[2020-10-21 18:34] #797 closed

[2020-10-22 10:16] egli commented on #428
Don't the tests have an [optional description](http://liblouis.org/documentation/liblouis.html#Optional-test-description) which incidentally is also printed when an error occurs? Isn't that kinda what you are after?

[2020-10-22 10:20] bertfrees commented on #428
Kinda, but it's not quite the same. But never mind.

[2020-10-22 10:53] JakeKyle opened #1014 "Problems with gurumuki.cti table used by Punjabi"
I have been working on producing Punjabi Braille and I believe there are a few problems with the gurumuki.cti table which Punjabi Braille uses.

Below are the problems I have identified. The current table conflicts with World Braille Usage (3rd Edition UNESCO 2013) on all but the first point. Other sources agree with all the changes below. In addition the letter names are more consistent with the

[2020-10-22 11:33] bertfrees commented on #1014
@sreejapam

[2020-10-22 11:38] bertfrees commented on #1014
@JakeKyle Maybe we should start by putting some resources on our http://liblouis.org/braille-specs/ site?

[2020-10-26 11:37] JakeKyle commented on #1014
@bertfrees
My other "source" is using a commercial braille translator program and having my braille proof reading contact in India (who is a staff member for a large organisation working with blind people) say that the braille produced is correct. However I realize what we really need is official documentation. I have asked my contact for this.
Having said that, I think "World Braille Usage" agree

[2020-10-26 13:32] ThiloLutz commented on #998
Here are the tests with the correct translations. I chose to do the testst in grade 1 because it shows that contraction is somehow also influenced. The problem also exists in grade0 and grade2. The tests where slightly modified compared to the ones above because both the opening and closing quotation marks should either be emphasized (then everything works fine) or not (then things go wrong apart

[2020-10-27 07:54] leonardder commented on #964
[This](https://braille-autoriteit.org/standaarden/achtpuntsbraille/ontwerp-achtpunts-brailletabel/) should be the final spec.
I'm planning to port the Dutch 6 dot tests to the 8 dot table.

[2020-10-27 11:59] bertfrees commented on #964
That version of the spec does not match the latest version of the Liblouis table. You made some changes in https://github.com/liblouis/liblouis/pull/956 that are not in the spec.

[2020-10-28 09:23] leonardder commented on #964
You're right, I'm sorry.
The final URL will most likely be https://braille-autoriteit.org/standaarden/achtpuntsbraille/versie-2020/
It is currently password protected though, however I insisted on making it public ASAP.

[2020-10-28 09:26] bertfrees commented on #964
Great.

[2020-10-28 12:44] leonardder commented on #964
The lock should now be gone

[2020-10-28 18:13] bertfrees commented on #998
@ThiloLutz Thanks. You changed the quotation mark tests.  What's good about his is that we now also test what happens if no quotation marks are emphasized. What's not so great is that I'm also interested in knowing what happens when the closing mark is emphasized but not the opening mark. Can you please also specify what needs to happen in these cases?

My other remark is that I find some of the e

[2020-10-29 14:16] ThiloLutz commented on #998
Yeah, I'm sure those are the rules. The reason is that the German Braille code uses a prefix indicator when a single word is emphasized, but a different prefix and a suffix indicator when more thann one word is emphasized. So in cases where a single emphasized word is directly followed by punctuation, the braille reader has no way of knowing if the punctuation was originally also emphasized. Punct

[2020-10-29 14:21] ThiloLutz commented on #998
Two words in quotation marks, only opening quotation mark is emphasized:

                        "«Test Test»"

        "__(te} te}'.)"
        typeform: { italic: "++++++++++ " }

[2020-10-29 14:38] bertfrees commented on #998
OK so German has no indicator to end word emphasis? Couldn't the opening and closing indicators be used in this case too then? What if a single letter inside a word is emphasized? It's just not possible?

[2020-10-29 14:50] mehgcap opened #1018 "the "there" contraction is mistranslated under these conditions"
In contracted UEB, the word "there" should be, and usually is, dot 5, dots 2 3 4 6. If you place this word after a letter and punctuation, it is incorrectly displayed.

* Input: a.there
* Expected: a4"!
* Actual: a4!re

Note that the "a." is just a random selection. It could be any number of letters followed by multiple punctuation marks.

Numbers make this word not use any contractions at all.

*

[2020-10-29 15:56] ThiloLutz commented on #998
First of all, the relevant chapter of the German Braille code is 2.7.1, not 2.7.2 as mentioned above. 2.7.2 is about a second emphasis method for cases where two different emphasises are needed.

Single letters or parts of words can be emphasized. but since single words or parts of words are emphasized using word-emphasis indicators (that don't have a terminating marker), the reader has no way of

[2020-10-29 16:46] bertfrees commented on #998
Thanks for the additional information and tests. This is quite essential info to have I think.

So we can conclude that you do have a word terminating indicator. You just choose to not use it in some cases, such as when it's before punctuation at the end of the word.

Would it be possible to also add some tests that demonstrate the rules regarding slash and hyphen?

It sure isn't easy for programm

[2020-10-30 14:31] ThiloLutz commented on #998
Well, kinda. We have a word emphasis end indicator, but it is only to be used if the emphasis ends within the word, not at the end of the word. So, if a single word or the last part of a single word is emphasized, no end indicator is used and thus, there is no way for the reader to know if any punctuation attached to the end of the word is also emphasized or not.

In the case you mention above (mo

[2020-10-30 15:03] bertfrees commented on #998
No, there is a problem for sure. I'm telling you, there is no simple way to implement this in Liblouis, due to it being inconsistent. I can guess and sort of understand the reasoning behind the rules: maybe emphasis on punctuation is not considered important enough to sacrifice two cells, but if no extra cells are required it is not ignored either (only guessing). Allow me to still find this very

[2020-11-02 08:19] ThiloLutz commented on #998
O.K., now I get what you mean. Of course, it's inconsistent that the emphasis state of punctuation can't be indicated if word-emphasis is used but could be correctly indicated if phrase emphasis is used. I thought you were talking about the phrase markings being  inconsistent.
So what you're saying is that it would be difficult to implement the German Braille Code correctly due to the inconsistenc

[2020-11-02 09:54] bertfrees commented on #998
It's a problem for any character that is treated inconsistently between word and phrase emphasis. From your tests it seems that it is also the case for quotation marks.

Well, Liblouis would just never indicate emphasis on quotation marks, so the opening indicator would always come after the quotation mark.

I think think it is impossible to implement correctly, but it would require some workaroun

[2020-11-02 12:05] bertfrees commented on #973
See https://github.com/liblouis/liblouis/pull/1019.

[2020-11-03 16:43] ThiloLutz commented on #998
I'm still missing something here: From the liblouis documentation, I'd assume that with begemphphrase/endemphphrase and begemphword/endemphword, the German system of having an indicator at the beginning of a phrase and at the end of a phrase and at the beginning of a single word (or in the middel of a word if the emphasis starts there) but only at the end of emphasis inside a word but not at the e

[2020-11-03 17:12] bertfrees commented on #998
Yeah, it's possible.

OK, then I guess it would be an acceptable solution if we just ignore emphasis on all these characters.

But as I said before, with some workarounds we should also be able to get it to work like the German braille code prescribes. It will just be more work, and it should be more carefully tested to prevent unwanted side-effects.

If you want to hack on Liblouis tables I think

[2020-11-04 08:00] ThiloLutz commented on #998
OK, so ideally we'd have:
1) A default case where all punctuation attached to the beginning of a word or the end of a word is ignored with regard to emphasis, i. e. emphasis markers always get put between the punctuation and the word.
2) A way to change this behaviour in the liblouis table, probably using an op-code to specify which characters are to be considered pard of a word with regard to emp

[2020-11-05 08:09] egli commented on #998
We insert special markers in the xslt, so for us liblouis doesn't really handle this.

As  far as I know single word emphasis just ends at the end of the word, but I'll let @mixa72 answer this.

[2020-11-05 08:10] egli commented on #998
I asked @mixa72 to look at it

[2020-11-06 03:25] njsch commented on #972
In this comment, for reference, I have re-compiled James Bowden's concerns with mine - he already had most, if not all, of mine listed anyway:

#### Liblouis Problems

* In UK English (En-GB)
  * backtrans, grade 2: anything with a double L comes out with the word little in it. So ball becomes balittle and so on. Strangely the word 'first' translates fine but the word 'it's' has the same error.  I

[2020-11-06 14:01] ThiloLutz commented on #998
Tesst for intra-word emphasis in German, done in grade 0. The emphasis markers are the same for all grades in german. this is intentional and according to the Braille code. the reason given in the Braille Code is that, although the letsign would theoretically not be necessary in grade 0 and 1, it must still be used so that people don't have to re-learn once they start using grade 2 braille.

# Emp

[2020-11-09 09:42] jrbowden commented on #811
I intend fixing this issue, reassign U+2014 as dot 6-36, as referenced in Appendix 3, and as discussed with the ICEB community.
Examples in the Rulebook will be reworked in the test files.
Notified ICEB Code Maintenance Officer.

[2020-11-09 11:42] JakeKyle commented on #1014
My Punjabi Braille reading contact is insistent that \x0A02 should be dot 3 as in my original post but we have no documentation to support this so guess we have to leave it for now. The other changes do have WBU support but perhaps it is best to wait till we get more clarity all round.

[2020-11-09 11:50] bertfrees commented on #1014
It's fine, we don't need documentation if you can't find any. As long as things are well explained in the table and tests, there is no problem.

[2020-11-09 11:55] njsch commented on #972
@BueVest, @bertfrees: Just ran some command-line tests.  Using the En-GB-g2 table with lou_translate and also testing with JAWS 2020 and a Focus 40 Blue 5th gen. in MS Word, found the following:
* Double L: “LL” back-translates fine into “Little” by itself, testing with “ball” is also fine, so is “first” but you are right about “it’s”.  Can you give me a viable test-case scenario where the former

[2020-11-09 12:29] bertfrees commented on #972
@njsch Thanks for the investigations. It would be a tremendous help if you could create some proper test files to keep track of all these issues: a list of braille inputs with their expected back-translation that can be verified automatically with the lou_checkyaml tool.

[2020-11-11 09:38] njsch commented on #972
@bertfrees, how to you produce the characters for expected translations? Would it be sufficient to produce the appropriate Unicode characters by typing on a Braille display in Notepad++ and then save as UTF-8?

[2020-11-11 09:55] bertfrees commented on #972
Whatever works best for you.

[2020-11-15 18:47] lukaszgo1 commented on #852
I can confirm that 32-bit version of lou_checkyaml from liblouis 3.15.0 does not crash for me under Windows. Unless someone wants to investigate why these binaries are crashing with optimizations enabled this  issue can be closed I believe.

[2020-11-16 07:47] egli commented on #852
OK, thanks

[2020-11-16 07:47] #852 closed

[2020-11-16 10:44] bertfrees opened #1021 "Make continuous integration work again"

[2020-11-16 11:01] #868 closed

[2020-11-16 16:46] bertfrees opened #1022 "Format function documentation comments in Doxygen style"

[2020-11-16 18:14] bertfrees commented on #964
See https://github.com/liblouis/liblouis/pull/1016.

[2020-11-17 09:59] egli commented on #1009
Fixed by #1010

[2020-11-17 09:59] #1009 closed

[2020-11-24 17:50] bertfrees commented on #881
PR: https://github.com/liblouis/liblouis/pull/1025

[2020-11-24 17:50] bertfrees commented on #1003
PR: https://github.com/liblouis/liblouis/pull/1025

[2020-11-24 17:51] bertfrees commented on #944
Fixed by https://github.com/liblouis/liblouis/pull/1006.

[2020-11-24 17:51] bertfrees commented on #779
Fixed by https://github.com/liblouis/liblouis/pull/1006.

[2020-11-24 17:51] bertfrees commented on #780
Fixed by https://github.com/liblouis/liblouis/pull/1006.

[2020-11-24 17:52] bertfrees commented on #905
Fixed by https://github.com/liblouis/liblouis/pull/1006.

[2020-11-24 17:53] bertfrees commented on #992
Fixed by https://github.com/liblouis/liblouis/pull/1008.

[2020-11-24 18:00] bertfrees commented on #1002
Fixed by https://github.com/liblouis/liblouis/pull/1006. This new paragraph in the documentation (https://github.com/liblouis/liblouis/commit/6039326af2768e7577745605f917706232fb2f69) summarizes how the behavior of begemph/endemph changed:

[2020-11-24 18:03] bertfrees commented on #811
Fixed by https://github.com/liblouis/liblouis/pull/1024.

[2020-11-24 22:07] bertfrees commented on #1012
See PR https://github.com/liblouis/liblouis/pull/1026

[2020-11-25 12:25] egli commented on #881
Fixed by #1025

[2020-11-25 12:25] #881 closed

[2020-11-25 12:27] #877 closed

[2020-11-25 12:44] egli commented on #811
Fixed in 06f67e3467db1542def370eaa7318833dca65258

[2020-11-25 12:44] #811 closed

[2020-11-25 18:00] #964 closed

[2020-11-25 18:01] #992 closed

[2020-11-25 20:45] #1003 closed

[2020-11-26 09:39] mwhapples opened #1029 "UEB tables produce unusable output for unknown characters"
The hex representation produced for unknown characters in the UEB tables (both grade 1 and grade 2) is not usable. As an example if it is given \y1f600 as input it gives the Braille 'yaffjj' where the letters and numbers are not possible to distinguish.
I suggest the output for unknown characters should use the lowered digits. So for the example of \y1f600 the output should be '\y1f600'

[2020-11-26 09:56] bertfrees commented on #942
On the other hand it should probably not be possible to select these characters with e.g. `%numericnocontchar` in a multipass expression. Could lead to confusion.

[2020-11-26 10:16] bertfrees commented on #1029
I have converted it into a YAML test with unicode braille characters, @mwhapples please check if still accurate:

[code]

This one is the same using ASCII braille (beware of all the escapes and quotes):

[code]

These lines in the table are suspicious:

https://github.com/liblouis/liblouis/blob/4319e5381b37b8878068c9666114a913e25928aa/tables/en-ueb-chardefs.uti#L52-L61

[2020-11-26 10:51] mwhapples commented on #1029
Looks about right to me (not over familiar with yaml though).
I realised though this specific example relies upon having a unicode 32 build of LibLouis. An alternative character might be \x210f, this is not in the UEB tables.

[2020-11-26 10:58] bertfrees commented on #1029
Right, thanks. The test should use that because we test both versions (and only have one test suite).

[2020-11-27 12:00] #1012 closed

[2020-11-30 09:09] egli commented on #911
I need more time to look at this properly

[2020-11-30 09:56] egli commented on #998
I talked to @mixa72 and he gave me some answers. Generally I get the feeling that as we process emphasis outside of liblouis and also standardize on the quotation characters we do not have that much of a problem with emphasis. I believe we just ignore punctuation and quotation for emphasis handling. So that would work well with the proposed solution above.

Here are his answers:

Das ist korrekt.

[2020-11-30 15:49] #944 closed

[2020-11-30 16:30] egli commented on #779
Fixed by #1006

[2020-11-30 16:30] #779 closed

[2020-11-30 16:30] #905 closed

[2020-11-30 16:31] #780 closed

[2020-11-30 16:31] #1002 closed

[2020-11-30 17:07] tibbsa commented on #1018
I've had some discussions about this and am not sure there is an easy fix or that, indeed, any fix is necessary/achievable.  Some food for thought for anyone looking into this:

The second example is actually "correct". Numeric mode also sets "grade 1" mode, which is terminated only by a space, hyphen, dash, or grade 1 terminator (Rule 6.5.1).  While grade 1 mode is in effect in this context, cont

[2020-11-30 18:50] bertfrees commented on #998
OK thanks. So what Mischa says matches the tests that were provided by Thilo.

[2020-12-01 10:03] mgieseki opened #1034 "Test braille-specs/spaces fails"
When executing `make check` the test `braille-specs/spaces` fails because `ru-ru-g1.utb` is missing. Is this a critical issue or does the test require an update?

[code]

[2020-12-01 10:09] bertfrees commented on #1034
see https://github.com/liblouis/liblouis/pull/1033

[2020-12-01 11:49] #1034 closed

[2020-12-01 13:07] egli commented on #1021
see #1032

[2020-12-01 21:33] egli commented on #1021
There are major reasons to move away from Travis, see https://www.jeffgeerling.com/blog/2020/travis-cis-new-pricing-plan-threw-wrench-my-open-source-works
- [Travis CI announces new pricing model, effectively ends generous open source offering](https://blog.travis-ci.com/2020-11-02-travis-ci-new-billing) (there will be a cap of time for open source, after that "we’d love for you to consider which

[2020-12-03 15:08] egli commented on #26
we got permission from Igor B. Poretsky, see https://github.com/liblouis/liblouis/pull/937#issuecomment-735338149

[2020-12-03 15:16] egli opened #1036 "Change license of Igor B. Poretskys tables"
@poretsky has given us [approval to change the license to LGPLv2.1](https://github.com/liblouis/liblouis/pull/937#issuecomment-735338149). It seems that we only changed the license of one table but he holds copyrights to 4 tables
-  ru-compbrl.ctb: #  Copyright (C) 2013 Igor B. Poretsky
- ru-letters.dis: #  Copyright (C) 2013 Igor B. Poretsky
- ru-chardefs.cti: #  Copyright (C) 2013 Igor B. Porets

[2020-12-03 16:07] #1036 closed

[2020-12-04 15:52] LeonarddeR opened #1038 "Add table for classical Greek (American) braille"
I got in touch with Dr. Sarah Blake Larose about her work into the area of Ancient (Biblical) Greek braille. See [this](https://night-light.org/index/seminary-resources/language-study/) resource for more information about her work.

She's really motivated to get her work into liblouis, so that's why I opened this issue to keep track of it.

[2020-12-15 04:23] afsaneh751 opened #1040 "@afsaneh92117"

[2020-12-15 04:23] afsaneh751 commented on #1040
[]()@afsaneh751

[2020-12-15 07:20] #1040 closed

[2020-12-23 06:07] njsch commented on #972
Update: I've been a bit busy as of late.  Might hopefully get onto this in the New Year.  Apologies for the delay.

[2020-12-26 15:37] Futyn-Maker opened #1043 "Using symbols from a test part in an action part"
Hello!

For example, I need to swap a letter and its acute mark (put the acut mark before an accuted letter). How can I do it? I need something about this:
1. Find a letter and the acute sign after it in the test part (not a problem);
2. In the action part of the context/multipass/correct opcode I need to put the acute mark before the same letter.
So the question is how can I use a character which

[2021-01-03 22:20] AdamKorcz commented on #338
I have written a fuzzer and added a draft integration for Liblouis here: https://github.com/google/oss-fuzz/pull/4909.

What is needed at this stage to complete the integration is at least one maintainers email address in the `project.yaml` file for bug reports. Before the integration is completed, however, I suggest moving the fuzzers and the build script upstream to make modifications easier tha

[2021-01-04 07:52] egli commented on #338
This looks nice, thanks!

If I understand you correctly you are suggesting that we
- [ ] add a maintainer address to project.yaml
- [ ] move the files to the liblouis repository

As for the first issue you can use my email address if you like. I'm fine with the second issue too, you can add a new directory maybe in tests as you did in your PR.

What does the fuzzer do? Does it just try to compile

[2021-01-06 21:02] AdamKorcz commented on #338
Sounds good! I should get it done tomorrow.

Yeah, pretty much. There are other targets with a more critical attack surface like the translate API that I am looking into, but I suggest we progress in small iterations to keep it easy to manage for all parties.

[2021-01-11 22:12] AdamKorcz commented on #338
@egli Could you perhaps leave your email address in this thread? I couldn't find it in your profile.

[2021-01-18 13:40] bertfrees opened #1047 "Automatically update the liblouis-build NPM package for new tags"
See https://www.npmjs.com/package/liblouis-build.

This used to be done manually by Reiner.

[2021-01-18 14:40] #1021 closed

[2021-01-22 19:48] #1043 closed

[2021-01-28 11:15] AdamKorcz commented on #338
Let me know if there is anything missing from my side.

[2021-02-15 15:07] egli opened #1049 "Fix the caps documentation"
The documentation for the caps opcodes should be aligned or maybe even merged with the emphasis opcode documentation, as the code treats those two very similarly.

[2021-02-15 15:09] bertfrees commented on #1049
See https://github.com/liblouis/liblouis/pull/928#issuecomment-616656702.

[2021-02-22 11:55] hugovanversendaal opened #1051 "Update alphabet change marker to meet new Dutch braille code"
The organization "Braille Autoriteit", that maintains the Dutch braille code, has updated the Dutch braille code in 2019. You can find the latest version on their website: https://braille-autoriteit.org/versie-2019-van-zespunts-standaard/.

One of the changes in this version is the use of the marker for alphabet change (braille dots 56). This is explained in section [2.2. Alfabetwisselingsteken](h

[2021-02-22 12:03] bertfrees commented on #1051
Thanks Hugo. For reference I'm including some test data below that I extracted from section 2.2.

[code]

[2021-02-22 13:30] hugovanversendaal commented on #1051
Thanks Bert. I noticed that the third example ("Łódź") may be problematic, because not all characters are foreign to the Dutch braille table.

[2021-02-22 13:43] bertfrees commented on #1051
The way I see the solution in my head, this example shouldn't be problematic.

[2021-03-03 13:15] egli commented on #848
The tests have been extracted into a separate file, see https://github.com/liblouis/liblouis/pull/856#issuecomment-783173867

[2021-03-03 15:32] egli commented on #338
I merged your PR, thank you.

As for the maintainer address you can use christian.egli@sbs.ch.

And lastly I'd appreciate if you could extend the README.md somewhat, explaining what that the files in the fuzzing directory are for the OSS-fuzz project and add a link to it.

[2021-03-05 13:39] bdorer commented on #999
Hi, as I try to help, could you give me an example of this? At the
moment I don't understand the issue.

[2021-03-05 13:51] bdorer commented on #999
Hi, as I'd like to help with German Braille, could you give me an
example of this? At the moment I don't understand the issue.

Am 05.10.2020 um 20:02 schrieb Bert Frees:

[2021-03-05 13:53] bertfrees commented on #999
For example the word "Knie" can be singular or plural. The pronunciation is different and this has as a consequence that the contractions are also different. The "ie" is contracted in the singular but not in the plural.

@egli See my question above.

[2021-03-05 15:36] #973 closed

[2021-03-08 08:00] egli commented on #911
I plan to do this in time for the 3.18 release

[2021-03-08 10:23] bertfrees commented on #911
I'm gonna quote you on it! ;-)

[2021-03-12 11:11] egli commented on #239
I had a go at fixing this by modifying [`_lou_getALine`](https://github.com/liblouis/liblouis/blob/master/liblouis/compileTranslationTable.c#L339) as follows:
[code]
This kinda seems to work and ignores everything after a '#'.

Unfortunately comments in liblouis are _context sensitive_, i.e. this is of course not a comment:
[code]
so my simple approach is bound to fail. The test suite reports a wh

[2021-03-12 11:22] bertfrees commented on #239
Oh no! 😟

[2021-03-12 11:27] bertfrees commented on #239
Not an easy problem to solve. Do we even need the backslash-newline feature? Is it used?

[2021-03-12 13:06] egli commented on #239
Due to the design of the liblouis table "language" the scanner, which deals with continuation lines, has now way of knowing where a comment is. In order to know what a comment is you have to look at the tokens and decide that you have seen enough opcode arguments and everything after that is a comment. But by the time the tokens are looked at the continuation lines are long dealt with.

I didn't r

[2021-03-12 13:07] egli commented on #239
Yes, @BueVest  uses it in [da-dk-g16-lit.ctb](https://github.com/liblouis/liblouis/blob/master/tables/da-dk-g16-lit.ctb#L198) and [`da-dk-g26-lit.ctb`](https://github.com/liblouis/liblouis/blob/master/tables/da-dk-g26-lit.ctb#L222) presumably to work around another (former) liblouis problem, namely the fixed max line length. This was previously 512 and is now 2048.

So yes we could probably just f

[2021-03-13 10:55] bertfrees commented on #239
We can also disallow

    sign # 3456

make `#` start a comment regardless of context (except if inside `"..."` or following a `\`), and possibly require that all comments are "explicit".

[2021-03-14 20:20] egli commented on #239
Unfortunately the `#` is used in quite a few places such as the `pass` opcodes:
[code]
or also the `match` opcode
[code]

[2021-03-14 21:13] bertfrees commented on #239
Yeah, true.

[2021-03-24 22:07] Futyn-Maker commented on #936
I don't want to say that it's the super important issue now, but in the last beta of iOS 14.5, an Apple developers add "ru-compbrl.ctb" instead of "ru.ctb", as I think, according to the table name. Of course, I've sent corresponding feedback to them, but it's hard to interract with such big companies, You know.
Few years ago the same confusion was in NVDA. And I guess such confusions will be in fu

[2021-03-25 10:25] bertfrees commented on #936
OK, thanks for contacting them. They obviously didn't bother to look inside the file.

If you don't hear from them, maybe you can try via Greg Kearney.

[2021-03-25 10:33] Futyn-Maker commented on #936
I seem to succeed in making contact with Darren Minifie, hope we'll solve it. But the problem of names are still relevant...

[2021-04-04 17:37] bertfrees opened #1059 "begcomp and endcomp not documented"
There was documentation for it but it was deleted by @egli in dac175c.

[code]

[2021-04-05 15:53] bertfrees opened #1061 "Github workflows: run make in extra/generate-display-names"
We used to do this with Travis:

https://github.com/liblouis/liblouis/blob/cfb7166c28b32970a53aa31d55e1da1ce2acf894/.travis/script/gcc.sh#L6-L12

but it was not ported to Github. See PR #1048 (commit 0c12d975d).

@egli We could add it to main.yml, under the build-ucs4 job, similar to how we did it on Travis. But I would prefer to do it in a separate job that depends on build or build-ucs4. Is that

[2021-04-05 18:51] bertfrees opened #1062 "Improve lou_trace"
lou_trace is currently a bit limited because it does not print all rules. These are some ideas for how we can improve it:

- [ ] implement using callback functions so that we can print other things than TranslationTableRule
- [ ] print indicator rules
- [ ] print nocross rules: https://github.com/liblouis/liblouis/issues/555
- [ ] print position where rules are matched
- [ ] print intermediary res

[2021-04-05 20:05] bertfrees opened #1063 "Documentation about how multipass rules are evaluated is wrong"
Using `[]` in multipass rules does not always advance the position, even though it is explained like this in the documentation:

The way the guard against endless loops was implemented (see https://github.com/liblouis/liblouis/pull/876) it could happen that a multipass rule does not advance the position after which a different rule is selected.

[2021-04-06 08:54] egli commented on #1059
Hm, OK, do you think it was deleted by mistake. The commit you mention doesn't say anything about wanting to delete the doc for those two opcodes

[2021-04-06 09:09] bertfrees commented on #1059
Yes my feeling is that it was a mistake but not sure of course.

[2021-04-06 15:16] egli commented on #1061
I think that is possible, see [`jobs.<job_id>.needs`](https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idneeds). I can probably do that if you want me to.

[2021-04-06 15:45] bertfrees commented on #1061
Thanks. So something like this?

[code]

Are you sure this will actually depend on the other build, or does it just enforce an order? In case of the latter, we need to repeat the ./autogen.sh && ./configure && make.

Yes, if you want you may have a go at it :-)

[2021-04-08 09:16] bertfrees opened #1064 "Allow multiple values metadata fields with the same key in one table"
For example:

[code]

will match queries with either of these languages. This is equivalent to having two tables, one for `locale: no` and one for `locale: nb`, that both include a common table (or one includes the other).

More general:

[code]

is equivalent to 3 × 2 = 6 tables all resolving to the same table.

[2021-04-13 07:36] MarcoZehe commented on #999
I guess the only way to differenciate in an automated fashion would be to take the previous word into account. If it is "das" or "ein", meaning neutrum singular, it is kn0. In the case where it is "die Knie", as in "in die Knie gehen", "er hat sich die Knie aufgeschlagen", it is always knie.

[2021-04-13 07:58] BueVest commented on #999
Hi,

I guess most languages with a comprehensible grade 2 system have cases of words that are spelled the same, but can have different meanings and should be contracted differently according to the context. This is also true for Danish and other languages.

I don’t think this can be done automatically in a reliable way, at least not with liblouis or similar systems. It would require “deep learning

[2021-04-13 12:09] egli commented on #999
I just had a long phone call with @mixa72. He is unsure how SBS handles this and will look it up.

[2021-04-13 15:44] bertfrees commented on #999
Yes, I agree Bue that Liblouis should not attempt to get the meaning based on the context. That seems out of scope. However what I had in mind when I created this issue was that the user could maybe indicate somehow what he wants, maybe with some special character, or with the typeform argument.

[2021-04-13 15:57] BueVest commented on #999
Good idea. Then, this could be done in a pre-production step.

[2021-04-13 16:18] egli commented on #999
OK, @mixa72 cleared it up: here at SBS we just always contract "knie" to `KN0`, i.e. we always contract it regardless of context.

[2021-04-13 21:33] YuemeiVP commented on #295
Thanks!

I just added the new font installer, and built TSS7.0.20.  The translation should match the customer Uzbek table now.  TSS7.0.20 and the tss7update.txt file is in submit/TSS7 folder now.

Yuemei

From: Christian Herden ***@***.***>
Sent: Tuesday, April 13, 2021 6:56 AM
To: Yuemei Sun ***@***.***>
Subject: Re: license manager 1.2.14

fonts 7.0.41.52 is on varda now.

CH

At 23:33 4/12/2021

[2021-04-14 14:18] #1059 closed

[2021-04-16 11:44] #1061 closed

[2021-04-21 18:20] bertfrees opened #1071 "Don't ignore last line of file if it doesn't have a newline"
Not everyone knows that there must be a newline at the end of the file, so this causes confusion.

[2021-04-30 08:35] bertfrees opened #1074 "replace rule should not be followed by comment unless it has a second operand"
Check the documentation of `replace`:

and then look at these rules: https://github.com/liblouis/liblouis/blob/f0ed96e7fda31ff00e9a3868f33b6fadd68aba3e/tables/spaces.uti#L60-L61

"WORD" and "ZERO" get interpreted as second operands.

It seems to work fine if the first character of the comment is a "#", although this is not documented.

[2021-05-08 08:54] bdorer commented on #999
i think this is ok. If s.o. runs in to problems we could change behaviour in the future again.

[2021-05-26 09:47] bertfrees opened #1076 "Tables for Sesotho, Setswana and Sepedi"
Received new tables for Sesotho, Setswana and Sepedi from Christo. The PR will follow.

[2021-05-26 10:39] jrbowden commented on #1013
I'm looking into fixing this issue. There are two existing tests currently marked as failing because of this issue, taken from Rules of Unified English Braille.
You are right about letters dot numbers; I will check symbols dot numbers.

[2021-05-26 17:59] #1071 closed

[2021-05-27 09:38] egli commented on #990
@raghavgururajan  I was trying to find out more about runpath but I do not understand enough to come up with a patch for `setup.py`. Could you be a bit more specific as to what exactly we'd have to change in `setup.py`?

[2021-05-28 10:53] jrbowden opened #1079 "Documentation for match opcode missing < > ~"
Liblouis document for the match opcode does not include the function of the <, > or ~ characters after %.
For example, in the UEB table, we have lines such as:

    match %[^_~]%<* go (['’]([DSTdst]|ll|[rv]e|LL|[RV]E))?%>*%[^_~] 1245

(The complexity for the post-pattern is to allow various affixes for words with an apostrophe).

All available assignments after % should be documented.

[2021-05-31 11:57] egli commented on #26
Caterina Avoledo agrees (see https://www.freelists.org/post/liblouis-liblouisxml/please-a-correction-for-the-italian-8-dots-braille-table,2)

[2021-05-31 15:55] accessmind opened #1081 "Fix 8-dot Hebrew Computer Braille table"
The currently submitted Hebrew 8-dot Computer Braille table has some issues. Input does not work, support for outputting Russian is missing which is critical for Israel, European special characters are missing, and Arabic support had mistakes which needed to be fixed. I have worked on these issues and lead the project and have made all required changes, and I would like to commit the new table to

[2021-06-02 12:48] bertfrees commented on #1079
James fixed this in commit c6c4a07c65c9742dce37a3ff66410dd4f73581e9. @egli I suggested that maybe it would be good to link to the relevant sections ([seqdelimiter](http://liblouis.org/documentation/liblouis.html#index-seqdelimiter) etc.) but none of the other items do that. WDYT?

[2021-06-02 13:00] egli commented on #1079
Generally I think cross references are good. But in this case I think it is overkill. If you have too many links the docs will be hard to read.

There is always search and the opcode index if people need to look things up.

[2021-06-02 13:01] egli commented on #1079
And what's with this commit? Will it end up in a PR?

[2021-06-02 13:04] bertfrees commented on #1079
OK fine.

Not sure if James will create a PR. If not, I will.

[2021-06-03 14:13] jrbowden opened #1085 "match opcode missing %m for math characters"
The match opcode can match on a variety of character attributes, e.g. %a for alphabetic, %# for digits etc.
Not all character attributes are currently available to test with %
testing for a math character is missing.

Suggest m would be a good option.

This might be a simple fix simply adding the following lines in pattern.c:

case 'm':
attr0 |= CTC_Math;
break;

For completeness, I suggest all ch

[2021-06-03 14:15] jrbowden opened #1086 "Document opcodes empmatchbefore and empmatchafter"
The opcodes
empmatchbefore
and
empmatchafter
are used in the UEB tables but arenot documented.
Please can they be added to documentation?

[2021-06-03 15:05] bertfrees commented on #1085
Thanks for creating the issue @jrbowden. I created a test: https://github.com/liblouis/liblouis/commit/26553dbcdda1820bbbcde0d71915486c1ce3c57e

[2021-06-04 04:52] raghavgururajan commented on #990
@egli

I not sure about this but it seems `extra_link_args` allows to set RPATH through `-Wl,-rpath=`. Close example I could find is the use of `extra_compile_args` (https://github.com/brltty/brltty/blob/8af26a9d2a7b2b74029b98f2ae1a84cacb7df51f/Bindings/Python/setup.py.in#L53).

@daym

WDYT?

[2021-06-07 08:34] #1079 closed

[2021-06-07 09:16] egli commented on #26
Bert got a mail from Halim Sahin with the permission to change

[2021-06-07 09:36] egli commented on #848
So I looked at the valgrind reports and [added some comments](https://github.com/liblouis/liblouis/pull/856#issuecomment-853086637) in #856. I think valgrind reports that some memory is not freed when exiting the program. I'd argue this is not so critical and I'm not going to fix this. If anyone else would like to provide a patch I'd probably merge it.

[2021-06-07 12:20] #1076 closed

[2021-06-07 16:08] egli commented on #1081
Fixed by #1082

[2021-06-07 16:08] #1081 closed

[2021-06-10 08:35] egli commented on #1086
Do we know what they are doing?

[2021-06-10 09:23] bertfrees commented on #1086
I don't.

[2021-06-11 05:51] egli commented on #1086
Then only @MikeGray-APH knows. Unless you have an idea @jrbowden?

[2021-06-11 14:47] jrbowden commented on #892
Hi Bert, Michael,
I have constructed the attached test file, using a fairly minimal set of rules extracted from the UEB tables.
On the surface there seems nothing wrong with the rules and I am unsure why certain rules in my test cause the bugs reported.
Attached test is really YAML, but the system wants me to rename as TXT.

A third case where things are going wrong for backtranslation: when a let

[2021-06-11 14:53] bertfrees commented on #892
<details>
  <summary>The YAML file:</summary>

[code]

</details>

[2021-06-21 08:48] glenbuck1 opened #1087 "English (UK) 8-dot computer braille"
I have just set this as my output table in NVDA 2020.4 and found that the plus sign is displayed as dots 2,3,6 instead of the correct 2,3,5.  Dots 2,3,6 are the less than sign and this is correctly being displayed.

How do I go about getting this fixed, please?

[2021-06-21 09:25] egli commented on #1087
Well, the best thing is to create a PR

Find out which table is used in NVDA for English (UK) 8-dot computer braille. Then look at that table in the tables directory. If you cab spot a mistake then fix it in the table ans submit the fix as a pull request.

You might have to update the test suite and convince us that the change you are proposing is also not just your personal preference but accordi

[2021-06-21 09:59] glenbuck1 commented on #1087
Thanks

I will need to first read up on GitHub as I've not used it before to see what is required for a PR!  In the meantime, I have already amended my own copy of the table so that it reflects the correct sign as far as I am concerned.  Unfortunately, I cannot provide proof that it is a BAUK standard but can only say that it has been this way for the past 40 years whilst I've been using computer

[2021-06-22 16:46] bertfrees commented on #892
<details>
  <summary>
Here is another, more stripped down YAML file from James that has the goal to help identify the bug(s) in Liblouis' back-translation code (whereas the previous YAML file is a more complete overview of back-translation issues in the UEB table):
</summary>

[code]

</details>

[2021-07-13 08:38] 1010186930 opened #1089 "Can i use this project on STM32 F1 serial without any system"
I'm instersted in the education of the blin and i want to use liblouis to realize the function of translating characters to Braille for the blind to read in embedded system. I used stm32f1 serial as MCU and it had no system,like Linux or Windows. Can i use this project on it?

[2021-07-13 09:51] egli commented on #1089
Liblouis needs a file system to read the translation tables. You could modify Liblouis so that it has the table built in and runs from memory. But realistically I would guess that without a lot of work and expertise it will not run on a system like this.

On the other hand it should run just fine on a Raspberry Zero which is very small and cost effective.

You should probably ask on the mailing li

[2021-07-13 09:51] #1089 closed

[2021-07-13 10:46] 1010186930 commented on #1089
Thx a lot honestly

[2021-08-11 08:51] leonardder opened #1095 "Consider switching to cmake as build system for WIndows"
I think switching to CMake has many benefits, including:

1. It is supported in Visual Studio, so it takes away the need for separate visual studio projects
2. It is cross platform, so eventually it could be adopted as a build system for other platforms as well
3. It is much more modern than what's currently used.

[2021-08-11 10:19] lukaszgo1 opened #1096 "Deprecate `literal` opcode (same as `compbrl`)"
I've recently stumbled on the very strange translations in the Polish Grade 1 table caused by the following rule: `literal :// URLs`
Since I'm not familiar with the LibLouis opcodes my first assumption was that the `literal` opcode would be explained in the manual and therefore I would be able to understand how to improve the translation. Since there is no documentation about the `literal` opcode

[2021-08-12 09:13] egli commented on #1096
Indeed the `literal` opcode is not documented. Looking at the git history it appears that the opcode existed since the dawn of time, i.e. ever since liblouis was added to a version control system.

Look at the source of `compileTranslationTable.c` and `lou_translateString.c` it appears that the opcode is related to the `compbrl` opcode.

@lukaszgo1 you might want ask @johnjboyer on the mailing lis

[2021-08-12 15:15] lukaszgo1 commented on #1096
@egli  Thanks for the suggestion done here: https://www.freelists.org/post/liblouis-liblouisxml/Mostly-for-JohnBoyer-unclear-what-literal-opcode-does. Would it be acceptable to simply remove the incorrect rules from the PL G1 table even though we don't know what this opcode does?

[2021-08-13 08:09] egli commented on #1096
I think it would be nice to know what effect these opcodes have. Then at least we know what it means to remove these opcodes.

[2021-08-13 19:08] lukaszgo1 commented on #1096
From the end user perspective if a characters preceded by `literal` are in the word being translated LibLouis discards all capital and number signs. For example:
- `Testing12.docx` is being translated as `testingab.docx` (note lack of the capital sign at the beginning) caused by the following rule `literal .doc`
- `http://192.168.1.1` is being translated as `http://aib.afh.a.a` cause by the rule `

[2021-08-16 07:26] egli commented on #1096
Thanks @lukaszgo1 for the description above. Is this behavior related to the `compbrl` opcode?

[2021-08-16 09:03] lukaszgo1 commented on #1096
If you;re asking if these wrong translations  are  caused by `compbrl` then no, `compbrl` is not used anywhere in Polish G1 table.

[2021-08-17 13:22] bertfrees opened #1097 "German: redundant dot 6 in front of closing square bracket"
Reported by Marcel Bothe from blista:

If there is a single standing letter within square brackets (e.g. "[W]") directly followed by another letter, Liblouis generates an unnecessary second dot 6 in front of the closing square bracket.

[code]

[2021-08-17 14:12] bertfrees commented on #998
For information, these are the rules that Thilo added to their version of the table:

[code]

This is in addition to the rules already in the table:

[code]

In plain language:
- Punctuation, quotation marks and brackets are defined as unemphasizable.
- Brackets do not cancel word emphasis mode but all other non-letter characters (including punctuation and quotation marks) do.

[2021-08-17 14:37] bertfrees commented on #1096
`literal` is the same as `compbrl`. We should deprecate it.

The `literal` rules in Pl-Pl-g1.utb are the same as in several other tables. They have been in there forever and we don't know if this is always correct. For some tables it might be correct but for others it might just be a copy/paste thing.

@lukaszgo1 If you say the rules have no reason to be in the table we believe you. Could you add

[2021-08-17 16:12] lukaszgo1 commented on #1096
Will do.

What do you mean by "computer braille mode"? Polish has a computer braille table but I'm not sure if that's what you're asking about. It is also worth pointing out that these wrong translations aren't done according to the Polish computer braille (no dot  7 for capitals and no dot 8 for numbers).

[2021-08-17 17:18] bertfrees commented on #1096
With computer braille mode I mean a temporary switch to computer braille within a grade 1 translated text, possibly with special indicators to start and end the passage.

[2021-08-17 18:10] lukaszgo1 commented on #1096
In that case no - there is no computer braille mode in Polish braille and I don't feel like inventing some indicators is a good idea.

[2021-08-17 18:15] bertfrees commented on #1096
Indicators are not always needed.

But if a computer braille mode does not exist in Polish g1 then it does not exist, and then the `compbrl` rules should be removed.

[2021-08-18 06:15] egli commented on #1096
@bertfrees are you sure the two opcodes are the same. From reading the code I did not get the impression they were **exactly** the same

[2021-08-18 10:34] bertfrees commented on #1096
Yes, I checked again, I'm sure they are the same.

[2021-08-20 10:36] bertfrees opened #1098 "Description of snapshot release page is not updated"
The description of https://github.com/liblouis/liblouis/releases/snapshot still says:

We used to automatically update this with Travis, but this was not ported to Github actions.

[2021-08-20 10:40] bertfrees opened #1099 "The Emscripten action fails and is not run as a check for PRs"
I got a notification from Futyn-Maker's fork that the [Emscripten action fails](https://github.com/Futyn-Maker/liblouis/actions/runs/1150301627). However it appears we are not running this check on pull requests. Why is this? Now we have a failing Emscripten build but we didn't notice when it happened.

[2021-08-20 10:48] Futyn-Maker commented on #1099
I'm wondering why this is only for my PRs?

[2021-08-20 10:56] bertfrees commented on #1099
I don't know if it is only for your PRs. It could be that the build only started failing recently, and you are the only one that made a PR recently.

[2021-08-20 11:54] egli commented on #1099
Hm, I remember that I disabled it because it was always failing. I wanted the green check mark on PRs without having to worry about emscripten, so I disabled it.

Should I enable it again?

[2021-08-20 12:29] bertfrees commented on #1099
Ah yes that rings a bell, but how is it disabled then?

[2021-08-20 12:38] egli commented on #1099
There's a button to enable it under Actions > Emscripten

https://github.com/liblouis/liblouis/actions/workflows/emscripten.yml

[2021-08-20 12:39] bertfrees commented on #1099
OK, missed that. We don't need to enable it know but let's maybe keep the issue open as a reminder?

[2021-08-22 03:08] jooyoungseo opened #1101 "Please add Nemeth code to Korean table"
Currently, Korean table misses math braille, and it would take a while until Korean math braille code is fully implemented in this project.

Some Korean blind people including me shared ideas on inserting Nemeth code in Korean table as a stopgap solution so that we can at least read MathML content in Nemeth code in JAWS and NVDA.

Would you be so kind as to add Nemeth code to Korean table?

[2021-08-23 11:05] bertfrees commented on #1101
Handling MathML is not the responsibility of Liblouis. Liblouis has no notion of XML. Liblouis does contain a file called nemethdefs.cti, but it only consists of a set of math character definitions, intended to be used by other software that actually implements the Nemeth code for MathML input.

[2021-08-26 13:09] egli opened #1104 "Move ruleArea to heap to ensure stable memory locations"
The `ruleArea` is currently part of the `TranslationTableHeader` structure. The `ruleArea` can grow as we compile more rules, chars, dots, hyphenations or even patterns. This leads to reallocation of the table which in turn can lead to dangling pointers. To keep these pointers in sync with a moving table is just a hassle.

Could we not instead keep the data somewhere on the heap in a data structur

[2021-08-30 17:18] irfanariq opened #1107 "Use-after-free in lou_trace at compileTranslationTable.c:876"
Hello,

We are currently working on fuzz testing feature, and we found an use-after-free crash on `lou_trace`.

The stack traces are as follow:
[code]
Here is the full stack trace :
[stacktrace_lou_trace_1.zip](https://github.com/liblouis/liblouis/files/7078343/stacktrace_lou_trace_1.zip)

**Step to reproduce**

We configured `lou_trace` using `./autogen.sh; CFLAGS="-g -O0 -fsanitize=address" ./co

[2021-08-30 18:50] bertfrees commented on #1107
I think I might have very recently fixed this bug. The fix is in PR https://github.com/liblouis/liblouis/pull/1088. Is it possible to try and run your tests on that branch? Or is it easier if we merge it first?

[2021-08-31 02:33] irfanariq commented on #1107
I already tried to run my test on that branch ( i.e. #1088 ) and it works fine without any crash. I will close this issue as it has been fixed. Thank you for your response.

[2021-08-31 07:29] bertfrees commented on #1107
Great!

[2021-08-31 07:30] bertfrees commented on #1107
I'll close it when that branch is merged though.

[2021-08-31 10:14] bertfrees commented on #1107
Merged now :-)

[2021-08-31 10:14] #1107 closed

[2021-09-05 09:18] bdorer commented on #216
@BueVest Did you have any chance to work further on this? Fixing this would be a big step further.

[2021-09-05 09:28] bdorer commented on #966
@BueVest Did you have any chance to look in to this?

[2021-09-07 13:04] lukaszgo1 commented on #479
I've hit this today when improving presentations of lowercase letters after digits in Polish Grade 1 table. This is a problem since after defining `nocontractsign` and setting `numericnocontchars` to `aąbcćdeęfghijklłmnoópqrsśtuwvxyzźż` phrases like `22,333` cannot be translated correctly any longer. The only alternative I can see at present would be to add a rule like `endnum a 6-1` for every aff

[2021-09-07 13:55] bertfrees commented on #479
After looking into it a bit more I think we can't classify it as a bug. It's just the result of how the `numericnocontchars` opcode was implemented. When a `numericnocontchars` rule is encountered in a table, the "numeric mode" feature is enabled for that table, and the "usual" (old) way of handling numbers is disabled. The result is that what is considered a number, changes. With the numeric mode

[2021-09-07 13:59] bertfrees commented on #479
Added the `documentation` label because this is really not clear in the documentation.

I think we should remove the old way of handling numbers to make things easier to document.

[2021-09-07 14:57] lukaszgo1 commented on #479
Both `numericmodechars` and `midendnumericmodechars` have a pretty unfortunate side effect of making the comma or dot to be considered a part of the number and therefore they are followed by whatever is defined as `nocontractsign` which, at least in Polish, is incorrect. To give an example the following happens after defining `midendnumericmodechars`:
`testing12.zip` is translated as `⠞⠑⠎⠞⠊⠝⠛⠼⠁⠃⠄⠠

[2021-09-07 15:11] bertfrees commented on #479
The "⠠" is added here because "z" is in your `numericnocontchars` rule. Why does "z" need to be a numericnocontchar?

[2021-09-07 15:19] lukaszgo1 commented on #479
But it is not directly after a digit - they're separated by dot.

According to the specification of Polish Braille all  lowercase letters must be preceded by dot 6 if they occur directly after a digit.

[2021-09-07 15:49] bertfrees commented on #479
Yeah this is just how it works if you define the dot as a `numericmodechars`.

Typically `numericnocontchars` are the letters a-j, so if you define dot and comma to not cancel numeric mode, numeric mode needs to be cancelled explicitly with a `nocontractsign` when a letter 'a'-'j' follows the dot or comma, otherwise the letter will be mistaken for a digit. I would think this is also the case for P

[2021-09-07 16:53] BueVest commented on #479
We have the same kind of rule in Danish 6 dots Braille. Basically, all letters are numericnocontchars and should be separated from a preceding number by dot 6. It works fine in the current implementation, so I guess it should also be possible to implement it in Polish.

[2021-09-08 10:45] lukaszgo1 commented on #479
@bertfrees  The tests are here: https://github.com/lukaszgo1/liblouis/commit/efe2ffd04e0c62198b848b60153fbd92e0a65258

The main problem is that some punctuation (, . : ) should not cancel numeric mode but at the same time specification forbids to mark the character which comes directly after with dot 6. While it may seem illogical this is because these symbols can be used only in very specific sit

[2021-09-08 11:36] bertfrees commented on #479
Thanks. For clarity, could you add tests for the following cases?

- "2:bb"
- "2.1"
- "2.a"

[2021-09-09 15:52] lukaszgo1 commented on #479
@bertfrees  Pushed into the same branch.

I agree the behavior here is illogical - it is not easily possible to differentiate between 2:22 and 2:bb, but that is because there is no case in which you should be using letters after a number and colon in Polish.

Again it may seems illogical but dot is essentially not used in Polish between numbers - it is disallowed both as a decimal separator and us

[2021-09-09 16:17] bertfrees commented on #479
Thanks

[2021-09-21 16:42] appetite-j opened #1113 "Numbers with "a" suffix are converted incorrectly"
I'm working with room numbers with letter suffixes (ex. 1A, 4C, etc.).

[code]

This behaviour can be corrected by removing the dictionary rule `largesign a 1`, but I don't believe this is ideal.

I have confirmed this is the case for at least the following dictionaries, but presumably others as well:
* en-gb-g1.utb
* en-GB-g2.ctb
* en-us-g2.ctb

[2021-09-22 20:27] bertfrees commented on #1113
Thank you for the bug report! This issue will have to be addressed by the authors of the respective tables. You can help us resolve the issue by contacting them.

[2021-09-23 09:03] n-y-kim opened #1114 "Is it possible to make pip package for python?"
It seems that
`python3 setup.py.in install` or `brew install liblouis`
works fine.

I installed it successfully in my local root, and `import louis` works fine also.

But I really need pip package so that I could apply it to my cloud function(I'm developing iOS app and iOS bans other language files).
So I thought I could just use `python/setup.py.in` and `python/louis/__init__.py.in` to make a pac

[2021-09-23 09:56] mwhapples commented on #1114
I notice you are using anaconda and that may offer a better route than
pip. The problem is that the LibLouis build process has the GNU build
tools modify the python files to match the libs being built. This is
fine for binary distributions where you can bundle the python files and
the native libs from the same build, but it could cause issues for a
source distribution in pip. Pip has the python pa

[2021-09-23 11:20] n-y-kim commented on #1114
Thank you so much for fast & kind reply. Maybe I should try JavaScript or conda package.

[2021-09-24 13:33] lukaszgo1 commented on #26
I've contacted Harpo and they gave their consent to relicence:

[code]

Also it seems I'm mentioned on the [licensing status page](https://github.com/liblouis/liblouis/wiki/Licensing-of-liblouis-tables) as an author of the table licensed under GPL 3 however I've just contributed to the Polish computer braille table before Harpo agreed to relicence. Having said that if my consent is specifically re

[2021-09-24 15:06] lukaszgo1 commented on #26
@egli  Don't forget to check Karol Pecyna's checkbox in the initial comment just to avoid confusion.

[2021-09-28 09:09] egli commented on #26
@lukaszgo1 ah, OK, yes, thanks for the reminder

[2021-09-28 10:34] bertfrees opened #1117 "Remove lou_readCharFromFile from API"
This function is not used anywhere in Liblouis or Liblouisutdml and just makes very little sense to have as an API call.

[2021-10-05 13:00] bertfrees opened #1118 "Fix tests in no_harness.yaml related to file paths, URLs and email addresses"

[2021-11-13 01:37] r3gulledge opened #1125 "Unicode Braille for Ancient Languages"
Hello,

It would be very important to the ancient language studies community for this entity to produce a unicode table to translate ancient languages alongside English Braille. The benefits are many: both JAWS and Voiceover use this Braille table structure. Previously, Dr. Sarah Blake LaRose had constructed a JAWS table, .jbt, that could be downloaded and imported to each version of JAWS. This wa

[2021-11-13 03:49] Aim015 opened #1126 "a unicode Braille translation table"
What is needed is a unicode Braille translation table that allows Braille users to interface with English Braille alongside ancient languages like Koine Greek, Biblical Hebrew, Syriac, and others. A dear friend needs this to be able to continue in his studies of ancient languages. He is currently in a masters program and hopes to go on to get a PhD and needs this program to be able to go on to get

[2021-11-14 15:41] bertfrees opened #1127 "Consider removing the `replaceGrouping` function"
What this function implements is not documented, and it is not used.

[2021-11-15 18:55] bobbycarontino opened #1128 "English Braille and Ancient Languages"
Hello,

Freedom Scientific's change regarding English Braille translations and Ancient Languages is extremely disappointing. Dr. Sarah Blake LaRose developed a Braille software from scratch that allowed Braille readers to interface with ancient languages and English at the same time. The software she created had been the standard means of accessing biblical Greek and Hebrew, among other languages,

[2021-11-15 22:52] Exegete7713 commented on #1128
I emphatically endorse this request. Imagine requiring this capability, which you once had, and having it taken away from you. Your hopes, for example, of doing a Ph.D. in biblical studies would be destroyed. The years you spent learning these languages would be wasted. Please do the right thing and support this project. It will make a profound difference in the lives of many. Thank you.

[2021-11-15 23:24] Exegete7713 opened #1129 "Ancient Languages"
I emphatically endorse the requests already made by others that Freedom Scientific continue to support Braille translation of ancient languages on their screen reader.. Imagine requiring this capability, which you once had, and having it taken away from you. Your hopes, for example, of doing a Ph.D. in biblical studies would be destroyed. The years you spent learning these languages would be waste

[2021-11-16 08:40] egli commented on #1128
Seems to be a Duplicate of #1125

[2021-11-16 08:40] #1128 closed

[2021-11-16 08:40] egli commented on #1129
Duplicate of #1125

[2021-11-16 08:40] #1129 closed

[2021-11-16 08:41] egli commented on #1126
Duplicate of #1125

[2021-11-16 08:41] #1126 closed

[2021-11-16 08:45] egli commented on #1125
Hi @r3gulledge would you like to create such a table? Ask on the [mailing list](https://www.freelists.org/list/liblouis-liblouisxml), there might be people willing to help or might even do it for you. You can also check the wiki page on [how create and test a table](https://github.com/liblouis/liblouis/wiki/How-to-contribute).

[2021-11-23 22:28] CurryK33 opened #1131 "Braille reader for Ancient Languages"
Hello,

My name is Kenna Curry. I am a student at Perkins School of Theology and the Justice in Action Chair for our student community.

I was incredibly disappointed to hear that the latest version of the screen reader does not work with ancient languages. In biblical studies, ancient languages are essential to mastery and the lack of plan to deal with ancient languages is incredibly disrespectfu

[2021-11-24 06:59] egli commented on #1131
Duplicate of #1125

[2021-11-24 06:59] #1131 closed

[2021-11-24 07:05] egli commented on #1131
Liblouis is run by volunteers like me who invest their spare time to produce this braille translator that improves the lives of countles people.

It is incredibly disheartening to see you use the issue tracking system of liblouis for random unspecific whining.

Why don't you offer some help? What specific changes do you want made? In issue #1125 I mention how you can help.

[2021-11-24 10:12] bertfrees commented on #1051
A PR will follow, but depends on https://github.com/liblouis/liblouis/pull/1123.

[2021-11-24 10:13] bertfrees commented on #702
Fixed by https://github.com/liblouis/liblouis/pull/1123.

[2021-11-24 11:18] bertfrees commented on #963
Added test in https://github.com/liblouis/liblouis/pull/1132

[2021-11-24 17:07] bertfrees commented on #963
Added to milestone 3.20 because it appears https://github.com/liblouis/liblouis/pull/1123 has fixed it.

[2021-11-25 15:11] bertfrees opened #1133 "Change this warning to an error: "Invalid attribute name: must be a digit between 0 and 7 or a word containing only letters""

[2021-11-30 10:47] egli commented on #26
Tamru agreed to re-license

Greeting!
In the first, I would like to ask an apology for replying your email after six month later.
I was in Ethiopia since Jan. up to October 09, 2021 where I couldn't access my Canadian email account when I'm in Ethiopia
Now, yes please go ahead and put the license header in the Ethiopic Letters and punctuation Braille Table  license header.
Again, many thanks for y

[2021-12-02 12:06] hammera opened #1135 "In Liblouis master branch one check are not passed, I think the affected github action workflow file is .github/workflow/mingw.iml"
Hy Chris, bert, or anybody read this issue,

I think this issue is important the 3.20 Liblouis release related. Unfortunately  Liblouis master branch one check are not passed, I think the affected github action workflow file is .github/workflows/mingw.iml.
![screenshot with Liblouis github check status report](https://user-images.githubusercontent.com/2796803/144404895-7fd08dd3-bc2a-4c3f-84c6-5a2d

[2021-12-02 15:26] egli commented on #1135
Hi @hammera
We have noticed that our mingw related builds started to fail on github. Locally I can build windows binaries but there seems to be a problem with the Ubuntu images that github uses. I was hoping that they would fix this after a few days, but it has been going on for probably more than a week. I still github should fix this but we might end up having to build inside a docker image. But

[2021-12-02 15:28] egli commented on #1135
I just manually disabled the mingw workflow. Unfortunately both 64 and 32 bits are in the same workflow, so they are both disabled despite the fact that only 32bit had problems.

[2021-12-06 09:52] #1013 closed

[2021-12-06 13:58] #963 closed

[2021-12-06 13:58] #702 closed

[2021-12-06 14:16] #34 closed

[2021-12-06 14:16] bertfrees commented on #1051
Fixed by https://github.com/liblouis/liblouis/pull/1137.

[2021-12-06 14:17] bertfrees commented on #34
Fixed by https://github.com/liblouis/liblouis/pull/1137.

[2021-12-06 14:17] #1051 closed

[2021-12-07 08:42] MarcoZehe opened #1138 "German Grade 1: Words starting with a computer-Braille number are backtranslated wrong"
When using German Grade 1 (Vollschrift) backtranslation in NVDA, if a word starts with a Braille symbol that is one of the Lautgruppenkürzungen, the first letter of the backtranslated word is that computer braille's equivalent of the symbol instead of the appropriate first letter. Examples for each:

1. ⠡⠎⠛⠁⠃⠑⠀or ⠨⠡⠎⠛⠁⠃⠑⠀becomes 1usgabe instead of ausgabe or Ausgabe
2. ⠣⠑⠗⠀becomes 2uer instead of

[2021-12-07 08:48] MarcoZehe commented on #966
Does 3.20 improve on this?

[2021-12-08 12:04] egli commented on #1138
I don't think this has been fixed. @MarcoZehe could you convert the above examples into a YAML test. That would help when trying to actually fix the problem.

[2021-12-08 12:06] egli commented on #966
I don't think so, well not directly anyway. The German tables need to be adapted.

[2021-12-08 13:26] MarcoZehe commented on #1138
@egli Roughly like this, assuming they would go into the file `tests/braille-specs/de-g1-bidi-specs.yaml`?

[code]

[2021-12-10 09:26] bertfrees opened #1141 "Distinguish between bold, italic and underline in Dutch braille"
For general literature, only one emphasis indicator is used in Dutch, namely dots 456. No distinction is made between bold, italic and underline. However for educational stuff this distinction should be made. Bold is indicated with dots 456, italic with dot 5, and underline with dot 4.

CC @PaulRambags

[2021-12-10 09:45] bertfrees commented on #1141
My first thought was to create a new table and distinguish it from the main table with a `#+detailed-emphasis` metadata field.

However a better idea might be to create additional emphasis classes, e.g. `italic5` and `underline4` and make the user responsible for mapping italic and underline emphasis to the right typeform. For Dedicon this should be no problem because they use DAISY Pipeline and i

[2021-12-10 10:09] leonardder commented on #1141
Are these changes covered by a Dutch braille standard change?

[2021-12-10 11:12] bertfrees commented on #1141
@leonardder I don't think so. That is why I decided to not make a dedicated table for it, but instead add the special emphasis classes (not use the standard ones).

[2021-12-10 11:50] leonardder commented on #1141
To be sure, if I understand you correctly, this only changes underline and italic when explicitly chosen to do so, i.e. by default, italic and underline will still be dot 456 prefixed?
It would be interesting to know who requested this change. It makes sense for them to file an RFC at https://braille-autoriteit.org/alle-verzoeken/

[2021-12-10 15:28] bertfrees commented on #1141
Correct.

Dedicon uses the alternative indicators when transcribing educational material. Yes, it might be a good idea to file an official change request for the Dutch standard. @dkager @PaulRambags could you ask Dorine if that makes sense?

[2021-12-13 08:44] dkager commented on #1141
I had not heard of this requirement during my time working on the DAISY Pipeline, but will ask Dorine.

Van: Bert Frees ***@***.***>
Verzonden: vrijdag 10 december 2021 16:28
Aan: liblouis/liblouis ***@***.***>
CC: Davy Kager ***@***.***>; Mention ***@***.***>
Onderwerp: Re: [liblouis/liblouis] Distinguish between bold, italic and underline in Dutch braille (Issue #1141)

To be sure, if I understa

[2021-12-14 08:15] dkager commented on #1141
Hi @bertfrees, could you explain why you are working on this now? Who requested this change, is it from a backlog or recently requested? I ask because Dorine can't recall working on this recently.
Thanks!

[2021-12-14 11:01] bertfrees commented on #1141
This is not a new requirement. It has already been implemented by Paul Rambags, but only in Dedicon's own DAISY Pipeline 2 module. I am now working on moving as much features as possible to the official version of Pipeline 2, and that includes the possibility to distinguish between bold, italic and underline in Dutch braille.

[2021-12-14 12:29] dkager commented on #1141
OK. Dorine will look at posting an RFC in the new year.

[2022-01-05 10:48] dawn-renouf-bjorneby opened #1145 "Latin small letter sharp s incorrect in no-no-chardefs6.uti"
Latin small letter sharp s on line 129 in no-no-chardefs6.uti is incorrect. It should not be dots 35-234. The correct representation is dots 2346. Please could this be corrected? @bertfrees Directly referenced for information updates: @larsbjorndal

[2022-01-06 12:57] bertfrees commented on #507
This issue came up again today.

The workaround that I mentioned in my [comment above](https://github.com/liblouis/liblouis/issues/507#issuecomment-364967050) is apparently used in the German tables: https://github.com/liblouis/liblouis/blob/6dd1e5734138665347ded054dc135d9b8c869c13/tables/de-g0-core.uti#L129-L134
Not sure if I realized that before. In any case, with this workaround, "mit", "Mit" a

[2022-01-12 00:07] JaimeClark opened #1147 "Unicode Braille for Ancient Languages"
My name is Jaime Clark-Soles and I teach ancient Greek at Southern Methodist University. My top student by far in that class is blind. He will continue Greek and add Hebrew, Syriac, Aramaic, etc. He plans to go on for a PhD and one cannot do so without these ancient languages. Knowing these languages is the only way to read the original texts and blind students must have a unicode Braille translat

[2022-01-12 07:15] egli commented on #1147
I can understand where you are coming from. However what you are asking for is a substantial amount of work and requires quite a bit of knowledge in all these languages and braille.

Are you asking the volunteers that run this project to do this for you in their free time?

There are three options:

1. Hire someone to do this for you. Not sure if @bertfrees has time. Ask on the [mailing list](http

[2022-01-12 07:15] #1147 closed

[2022-01-13 12:25] bertfrees commented on #1145
Could one of you (@dawn-renouf-bjorneby @larsbjorndal) first correct the [`no_harness.yaml`](https://github.com/liblouis/liblouis/blob/master/tests/braille-specs/no_harness.yaml) file? I see it contains the "groß" example, which presumably is wrong. Ideal would be if the test file would reference the section in the Norwegian braille specification (one of the documents listed on http://liblouis.org

[2022-01-13 13:31] dawn-renouf-bjorneby commented on #1145
Hi Bert and Lars,
Lars: I hope you can fix the .yaml file, because this isn’t something I’ve ever worked with.
Bert: I’ve tried copying the direct link to the html version of the handbook below. Hope that works for you.

http://www.punktskriftutvalget.no/utvalgt/wp-content/uploads/handbok-i-litterar-punktskrift-1.html

Regards,
Dawn

Fra: Bert Frees ***@***.***>
Sendt: torsdag 13. januar 2022 13:2

[2022-01-17 18:49] larsbjorndal commented on #1145
Hi!

Please find attached two patches. One for the no_harness.yaml, and one for tables/no-no-chardefs6.uti. I decided to put the sharp s below the first definition of 2346 to not affect back translation.

Please tell me if anyting else is needed.

Lars

On Thu, Jan 13, 2022 at 05:31:42AM -0800, dawn-renouf-bjorneby wrote:

--- no_harness.yaml	2022-01-16 20:53:46.711235123 +0100
+++ no_harness-new.

[2022-01-18 10:43] egli commented on #1145
@bertfrees I was just going to create a PR, I hope you haven't done so yet?

[2022-01-18 10:48] bertfrees commented on #1145
@egli No, I haven't, please go ahead :)

[2022-01-18 15:50] dawn-renouf-bjorneby commented on #1145
That’s great. Thank you very much.

Med vennlig hilsen

Dawn Renouf Bjørneby
Rådgiver / Adviser

Statped
Avdeling for læringsressurser og teknologiutvikling /
Department for Special Education Technology
Gamle Hovsetervei 3, 0768 Oslo

Tlf: +47 902 67 246

Fra: Christian Egli ***@***.***>
Sendt: tirsdag 18. januar 2022 16:46
Til: liblouis/liblouis ***@***.***>
Kopi: Dawn Renouf Bjørneby ***@***.***

[2022-01-21 14:07] bertfrees opened #1152 "Fix regression caused by PR #1123"
The problem is explained in https://github.com/liblouis/liblouisutdml/pull/76#issuecomment-1010126188.

[2022-02-08 09:33] seb128 commented on #1152
The regression is blocking the liblouis update in the current Ubuntu serie, would reverting the problematic change be an acceptable workaround while a fix is being worked on?

[2022-02-08 10:11] bertfrees commented on #1152
Yes, possibly. You can try. But you can't revert the whole commit, it's just a part of it.

[2022-02-10 03:29] joshknnd1982 opened #1153 "add Japanese braille table"
I have attached a Japanese table I found in a version of brltty. Could you convert this to liblouis standards so programs such as NVDA, send-to-braille, Jaws and others can use it for Japanese braille output and input: note in order to attach the table I renamed it to a txt file. its original extension was ctb.
[ja.txt](https://github.com/liblouis/liblouis/files/8037825/ja.txt)

[2022-02-10 09:51] bertfrees commented on #1153
An example of a well-written comment section is the one of our Japanese Kantenji table: https://github.com/liblouis/liblouis/blob/master/tables/ja-kantenji.utb. And here is the file with the corresponding test data: https://github.com/liblouis/liblouis/blob/master/tests/braille-specs/ja-kantenji.yaml.

[2022-02-10 12:05] bertfrees commented on #1152
@seb128 The next release is only 1 month for now. Maybe the easiest is to just wait for it?

If you can not wait that long, there is also this patch that you could apply for now (it's a quick fix, probably not how I will do it in the release):

[code]

[2022-02-10 12:09] bertfrees commented on #1152
@seb128 Just to confirm, is this regression holding you from updating Liblouisutdml, or also Liblouis?

[2022-02-10 12:45] sthibaul commented on #1152
And also

[code]

[2022-02-10 13:23] sthibaul commented on #1152
Ah, so we want both

[2022-02-10 13:24] sthibaul commented on #1152
(it's still odd to see segfaults appearing)

[2022-02-10 13:31] joshknnd1982 commented on #1153
I haven’t seen any other files related to that braille table.

Sent from Mail for Windows

From: Bert Frees
Sent: Thursday, February 10, 2022 4:48
To: liblouis/liblouis
Cc: joshknnd1982; Author
Subject: Re: [liblouis/liblouis] add Japanese braille table (Issue #1153)

Hi. Are there any other files in the BRLTTY source code related to this Japanese table? I don't know how BRLTTY does things, but fo

[2022-02-11 14:52] seb128 commented on #1152
Thanks Bert for the replies and thanks Samuel for backporting the fixes to the Debian package!

[2022-02-13 23:04] pawelurbanski opened #1156 "Parsing and caching of tables"
Dear Development Team,
I am exploring a custom Braille table for a specific domain where a custom dictionary or contraction rules would work more ergonomic.

The idea is to attach this table or tables to editors based on bheir mode or contents.

I would like to ask the following for I did not find any information and briefly browsing the sources did not bare any result neither.

* Are the tables p

[2022-02-14 11:14] bertfrees commented on #1156
Yes.

Yes. Compiled tables are kept in memory until `lou_free` is called (which unloads all tables).

Yes, there is no overhead in switching tables.

[2022-02-18 09:18] bertfrees commented on #615
@egli Looking at this issue again. @hammera gave us some tests that I think we should include. See commit https://github.com/hammera/liblouis/commit/60ca76b3fe6c099e0d5819882df894b847a29c15, which doesn't seem to be included yet.

[2022-02-21 13:35] #1064 closed

[2022-02-24 18:02] school510587 opened #1162 "Typo in ru.ctb: \x0479 -> \x0478"
In the current ru.ctb, there are the following two lines:

[code]

The correct capital cyrillic letter UK must be \x0478 (Ѹ).

If it fails to contact the corresponding maintainers, could developers fix the error manually or I can submit a PR for this modification. Thanks.

[2022-02-25 13:27] bertfrees commented on #1152
Now officially fixed by https://github.com/liblouis/liblouis/pull/1161.

[2022-02-25 13:27] #1152 closed

[2022-02-25 18:51] bertfrees opened #1164 "Documentation for Hungarian braille code"
See https://github.com/liblouis/liblouis/pull/1136#issuecomment-1051049362.

These links Attila provided should be added to a new "Hungarian" page on https://github.com/liblouis/braille-specs, and this page should be referenced from the Hungarian tables and tests.

[2022-02-27 20:47] bdorer commented on #1138
Am 08.12.2021 um 14:26 schrieb Marco Zehe:

[2022-02-28 03:56] lin-dong-whale opened #1165 "How to use the ja-kanteji.utb"
Hello, I appreciate that you put a Japanese table named ja-kanteji.utb in this project. But when i put it in my own project. the errors were occurred. It warned that "opcode 'base' not defined ". I wonder what does it mean and how to solve it. Thanks a lot

[2022-02-28 07:45] egli commented on #1165
@lin-dong-whale you need to have at least version 3.20 of liblouis for the `base` opcode to work.

[2022-02-28 07:45] #1165 closed

[2022-03-01 07:04] lin-dong-whale commented on #1165
Oh, thank you. Got it.

[2022-03-01 07:08] lin-dong-whale commented on #1165
Oh, thank you. Got it.I used it successfully.

[2022-03-01 08:00] #1162 closed

[2022-03-01 08:00] egli commented on #1162
Thanks, fixed

[2022-03-02 15:15] bertfrees commented on #304
Github Actions also supports Windows.

[2022-03-02 17:35] hammera commented on #1164
@bertfrees, I doed a pull request this issue related, if you have a little time, please look following pull request:
https://github.com/liblouis/braille-specs/pull/15

Have you a nice day,

Attila

[2022-03-03 07:18] #615 closed

[2022-03-03 13:56] egli opened #1168 "Backtranslation sometimes fails when multiple braille indicators map to the same dot pattern"
When multiple braille indicators map to the same dot pattern back-translation generally doesn't handle this properly. The problem is that the back translation tries to get a rule for the given dot pattern. It finds the first one (depending on the order how they appear in the table) and applies that one. Generally braille indicators are ignored in back-translation but they might change the state of

[2022-03-03 18:16] bertfrees opened #1170 "Eliminate "internal" opcodes"
These "internal" opcodes are the opcodes that are stored in the `TranslationTableRule`s for braille indicators to fully identify them because rules to define braille indicators often require other keywords beside the opcode, e.g. in the rule

    endemphphrase italic after 56

`endemphphrase` is the opcode, but the rule is stored with opcode `CTO_EndEmph1PhraseBeforeRule`, not `CTO_EndEmphPhrase`.

[2022-03-03 18:31] bertfrees commented on #1168
I'm not sure, but maybe we shouldn't limit the use cases to multiple braille indicators. Maybe we do want to explicitly indicate in the table that a certain indicator does several things at once? Couldn't it be that an indicator can do one of multiple things depending on the context (not all those things at once)?

[2022-03-03 19:01] bertfrees commented on #1168
I've checked what makes that the following test (in numericmode.yaml) works, regardless of the order in which `nocontractsign 56` and `endcapsword 56` are defined.

https://github.com/liblouis/liblouis/blob/60563f1bc69e50285259acf0ce895a5dbc2b5479/tests/yaml/numericmode.yaml#L141-L145

It is because of the `itsANumber = 0;` line, which Bue added in commit 930dce1db60d49cbddd1f195795605401589e2c4:

[2022-03-04 08:53] kdsjZh opened #1171 "[BUG] global-buffer-overflow in lou_checktable"
**Describe the bug**
There is a global-buffer-overflow bug found in compilePassOpcode, can be triggered via lou_checktable+ ASan

**To Reproduce**
Steps to reproduce the behavior:
[code]

Output:
[code]
**System**

OS: Ubuntu
OS version : can be reproduced in 18.04/20.04
clang version: 12.0.1 (release/12.x)
liblouis Version : latest commit 4d73c81aba59cfdd38736b87bac5b0b8c6bd2053

**Credit**
[NCNI

[2022-03-07 10:15] bertfrees commented on #1141
@dkager We're dropping this from the 3.21 milestone. Has Dorine done a RFC?

[2022-03-07 10:16] dkager commented on #1141
I do not think so, but will check.

Hartelijke groet,
Davy

Van: Bert Frees ***@***.***>
Verzonden: maandag 7 maart 2022 11:15
Aan: liblouis/liblouis ***@***.***>
CC: Davy Kager ***@***.***>; Mention ***@***.***>
Onderwerp: Re: [liblouis/liblouis] Distinguish between bold, italic and underline in Dutch braille (Issue #1141)

@dkager<https://eur04.safelinks.protection.outlook.com/?url=https%3A%2F%2

[2022-03-07 10:19] bertfrees commented on #1168
In the next milestone we should fix this at least for `nonumsign` and `nocontractsign`.

[2022-03-07 11:38] bertfrees opened #1175 "Refactor the German test files"
(Follow-up of https://github.com/liblouis/liblouis/issues/911 / https://github.com/liblouis/liblouis/pull/1100)

The "de-g1-bidi-specs.yaml" and "de-g0-bidi-specs.yaml" have some duplication with the "de-g1.yaml" and "de-g0.yaml" tests. On the other hand, there are tests in the bidi versions that are not in the regular versions, and visa versa. It would be better to group all tests that are the sa

[2022-03-07 15:27] #911 closed

[2022-03-11 15:20] sthibaul opened #1178 "testsuite memory leaks"
Hello,

Building with

[code]

Shows some memory leaks in the liblouis code such as

[code]

it should be possible to fix them.

Samuel

[2022-03-11 15:28] sthibaul opened #1180 "Test suite asan issues"
Hello,

Building with

[code]

Shows some address errors in the liblouis code such as:

[code]
We should be able to fix them.

[2022-03-13 20:34] carnil commented on #1171
CVE-2022-26981 appears to be associated with this issue.

[2022-03-14 09:28] egli commented on #1171
https://www.cve.org/CVERecord?id=CVE-2022-26981

[2022-03-17 19:26] school510587 opened #1182 "Remove unnecessary "16-bit" from inbuf and outbuf specifications"
This is a suggestion about improvement of the documentation. In some functions with `inbuf` and `outbuf`, e.g. lou_translateString and lou_backTranslateString, such statement appears:

[code]

However, `inbuf` and `outbuf` are of type `widechar`, which has a variable size decided during compilation. Therefore, I think "16-bit" is unnecessary.

Thanks.

[2022-03-17 19:55] bertfrees commented on #1182
Thanks, good suggestion.

[2022-03-18 20:00] school510587 opened #1183 "Improve translation of Unicode fractions of zh-tw.ctb"
Hi,

Some user requested that zh-tw.ctb should follow Nemeth rules to translate Unicode fractions (U+215X) when any of such symbols appears after a number.
For example, `5⅔` should be `5_?2/3_#` in BRF format.

I prepare a small table as follows.
[code]

The command used to translate `5⅔` is:
[code]

Then, I receive the following result.
[code]

Trivially, the 2nd noback context rule doesn't work.

[2022-03-21 07:09] c1208828 opened #1184 "use-of-uninitialized-value in compileTranslationTable.c"
[code]
Leads to a crash
[code]
Maybe an initialization is needed for token? I tried an easy fix and the crash is gone.
[code]
[code]

[2022-03-21 07:10] c1208828 commented on #1184
[POC.zip](https://github.com/liblouis/liblouis/files/8313622/POC.zip)

[2022-03-21 14:37] bertfrees commented on #1183
It's because you can't insert something at the very end of the string. If you translate "5⅔ " (with a space at the end) you'll see that the 2nd context rule does match.

[2022-03-21 17:39] school510587 commented on #1183
Hi @bertfrees,

I try "5⅔" without blank at the end by this rule:

[code]

It doesn't work either. However, similar rule is written in ja-kantenji.utb:

[code]

What is the difference between the 2 circumstances?

[2022-03-21 17:54] bertfrees commented on #1183
The difference is the lookback in your rule. The rule in ja-kantenji.utb matches one position before the end of the string, while your rule matches at the end of the string (looking back two positions), which is not permitted.

[2022-03-22 07:34] egli commented on #704
See also https://github.com/carols10cents/rust-out-your-c-talk

[2022-03-25 08:05] school510587 commented on #1183
Hi @bertfrees,

I can't figure out more appropriate way to satisfy the requirement. There is a hard-coded solution as follows.

[code]

Could you tell me whether a more simple way to achieve the equivalent effect exists? Thanks!

[2022-03-25 08:15] bertfrees commented on #1183
Try this:

    noback context _$d%FRACTION @456-1456*@456-3456

[2022-03-25 08:26] school510587 commented on #1183
Hi @bertfrees,

OK, thanks! The expected output `5_?2/3_#` is generated.
What is the function of the underscore before $d? I have difficulty to search it in the documentation.

[2022-03-25 08:40] bertfrees commented on #1183
"_" is the same as "_1".

[2022-03-25 08:52] school510587 commented on #1183
Hi @bertfrees,

Then, why is there no brackets around %FRACTION?

[2022-03-25 09:15] bertfrees commented on #1183
If there are no brackets they are implied around the whole expression: `[_$d%FRACTION]`. And this is equivalent to `_d[%FRACTION]`.

[2022-03-25 11:28] school510587 commented on #1183
Hi @bertfrees,

I now understand this rule.
However, the user can't check the effect. Is there any condition about the liblouis version to run the rule?

[2022-03-25 12:22] bertfrees commented on #1183
I don't understand the question.

[2022-03-25 12:28] school510587 commented on #1183
Hi @bertfrees,

The user copy the two rules into zh-tw.ctb of his NVDA.

[code]

Then, the braille display doesn't work. So, I ask if there is limit that liblouis earlier than some version do not accept the rule.

[2022-03-25 13:42] bertfrees commented on #1183
No, I don't think so.

[2022-03-25 13:44] bertfrees commented on #1183
The first step is to make it work in Liblouis. We don't need to test it in NVDA. We test the behavior of Liblouis through YAML tests. When the improvement is implemented in Liblouis we can worry about NVDA.

[2022-03-25 21:53] sthibaul commented on #1178
Some fixes: #1186 #1187 #1188 #1189

[2022-03-25 22:01] sthibaul commented on #1178
There is a remaining issue:

[code]

The problem is that `_lou_resolveTable` won't free `tableFiles` when the resolver is not `_lou_defaultTableResolver`
But apparently there is no way for the `customTableResolver` to properly free data, unless somehow storing  what it returns, and releasing it somehow another way? :/